**.orig
*.rbc
.bundle
capybara-*.html
coverage/
db/*.sqlite3
lib/tasks/data.rake
lib/tasks/signups.rake
log
pickle-email-*.html
plan
public/startnext.json
public/system
public/uploads/*
rerun.txt
solr/
spec/tmp
tmp
vendor/bundle

mailings/launch-beta.html

public/crowdcard.json

public/crowdcard_daily.json

public/news.json

.ruby-version

