**.orig
*.rbc
.bundle
config/initializers/mailjet.rb
config/environments/development.rb
capybara-*.html
coverage/
public/uploads/*
db/*.sqlite3
log
pickle-email-*.html
public/system
rerun.txt
spec/tmp
tmp
vendor/bundle
config/environments/development.rb
config/initializers/mailjet.rb
lib/tasks/data.rake
public/startnext.json
plan
solr/
config/sunspot.yml
lib/tasks/data.rake
lib/tasks/signups.rake