<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p><img src="https://www.mein-grundeinkommen.de/tandemklein.gif"></p>

    <%= simple_format(@tandem.invitee_email_text) %>

    <p></p>
    <p></p>
    <hr>
    Diese E-Mail wurde im Auftrag von <%=@inviter.email%> über www.mein-grundeinkommen.de gesendet und dient der persönlichen Einladung. Es werden keine weiteren E-Mails an Sie gesendet.

  </body>
</html>