<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><img src="https://www.mein-grundeinkommen.de/tandemklein.gif"></p>
    <p>Hallo <%= @invitee.name %>,</p>
    <p>
      das 16. & 17. Grundeinkommen wird ab sofort an zwei Menschen verlost, die sich kennen. Dafür kannst du mit beliebig vielen Menschen Verlosungs-Tandems bilden. <a href="http://www.mein-grundeinkommen.de/tandem">So funktioniert's</a>
    </p>

    <p>
    	<a href="https://www.mein-grundeinkommen.de/menschen/<%= @inviter.id %>"><%= @inviter.name %></a> möchte mit dir ein Tandem zu bilden. Dadurch habt ihr beide höhere Gewinnchancen.
    </p>

    <p>

    <% if @invitee.chances.count == 0 %>

    	<p>Um das Tandem zu bestätigen müsstest du noch kurz auf mein-grundeinkommen.de <a href="https://www.mein-grundeinkommen.de/boarding?trigger=wants_to_participate">an der Verlsoung teilnehmen.</a></p>

    <% else %>
    	All deine Tandems findest du auf deiner Profilseite.
    	Du kannst beliebig viele weitere Tandems mit deinen Freund_innen bilden, indem du ihnen diesen persönlichen Einladungslink schickst:
    	http://www.meinbge.de/tandem?mitdir=<%= @invitee.id %>

      </p>

      <p>
        Falls du dieses Tandem nicht eingehen möchtest, kannst du es auf deiner Profilseite wieder entfernen.

    <% end %>

	</p>

	<p>
		Wir drücken die Daumen!
	</p>
	<p>
		Liebe Grüße,<br>
		Dein Team von Mein Grundeinkommen
	</p>


  </body>
</html>