<div class="container margin-top-70">


	<h1>Hilf uns "Mein Grundeinkommen" zu professionalisieren!</h1>
	<h3>Damit wir 100 Menschen Grundeinkommen ermöglichen können</h3>
	<blockquote>

		„Alle zwei Monate ein Grundeinkommen zu verlosen - das ist mir zu wenig. Dafür bin ich zu ungeduldig. Ich möchte das Projekt gemeinsam mit euch größer machen. Das Ziel: 2015 einhundert Menschen Grundeinkommen zu ermöglichen! Ideen, um das zu schaffen, habe ich genug. Aber ich brauche Hilfe von Profis. Um die zu bezahlen, bitte ich um deine Unterstützung.“
		<br>
		&nbsp;&nbsp;— <a href="/menschen/1">Micha</a>, Initiator dieses Projekts
	</blockquote>

	<a class="btn btn-large btn-color" href="http://betterplace.org/de/projects/23920-mein-grundeinkommen-will-in-2015-richtig-durchstarten-hilf-uns-dabei" ng-click="current.incFlag('DonationClicked')" target="_blank">Jetzt helfen</a>


</div>