<div class="container text-center margin-top-70">
	<h1>Leider ist die Anmeldung zur Verlosung bereits geschlossen.</h1>

	<h3>Die nächste Verlosung findet im März statt.</h3>

	<!-- <h3 ng-hide="current.user.newsletter">Sollen wir dich per E-Mail daran erinnern?</h3>

	<input ng-hide="current.user.newsletter" name="newsletter" ng-model="current.user.newsletter" type="checkbox" ng-click="setNewsletterFlag()"> Bitte informiert mich per E-Mail über Verlosungstermine und bei wichtigen Änderungen auf der Seite.
                </label> -->

	<a href="#" ng-click="next_step()" class="btn btn-color btn-large">Weiter</a>
</div>