<div class="container margin-top-70" style="margin-bottom:100px">
	<div class="row">
		<div class="col-sm-5 text-right-sm text-center-xs">
			<div class="testimonial-image-large" style="display:inline-block">
			    <div class="hi5"></div>
			</div>
		</div>
		<div class="col-sm-7 text-left-sm text-center-xs">
				<h1>High Five & Viel Glück</h1>
				<h3>Du nimmst am Gewinnspiel teil! <br>Sag es jetzt deinen Freunden:</h3>
					<div ng-include="'/assets/share.html'"></div>
				<hr>

				<h3>Deine Losnummer(n):</h3>
				<ul>
				<li ng-repeat="chance in current.user.chances" ng-show="chance.code">
			      <div class="well big">{{chance.code}}
			        <div style="font-size:12px;font-weight:normal;">
			          <span ng-show="chance.is_child || chance.isChild">(für ein Kind)</span>
			        </div>
			      </div>
			    </li>
			   </ul>

				<hr>
				<!-- <h2>Magst du dir kurz angucken, wie du das nächste Grundeinkommen unterstützen kannst?</h2> -->
				<a href="#" class="btn btn-large btn-color" ng-click="next_step()">Weiter</a>

		</div>

		</div>
</div>