<div ng-include="'/assets/boarding/' + all_steps[current_step] + '.html'" style="height:100%"></div>

<div id="boarding_footer">
	<div class="container">
	  <div class="row">
		<div class="col-xs-5 text-center">
			<!-- {{all_steps[current_step]}} -->
			<!-- {{current.user.flags}} -->
		</div>

		<div class="col-xs-7 text-right">


			<a ng-show="finishable" href="#" class="small" style="display:inline-block;color:#666;margin-right:20px;font-weight:normal;cursor:pointer;" ng-click="done()">Direkt zu deinem Profil</a>

			<a ng-hide="finishable || steps.hide_skip_button" href="#" class="small" style="display:inline-block;color:#666;margin-right:20px;font-weight:normal;cursor:pointer;" ng-click="next_step('skip')">Überspringen</a>

			<a ng-show="steps.show_next_button" ng-disabled="!steps.done" href="#" ng-click="next_step()" class="btn" ng-class="{ 'btn-color' : steps.done, 'btn-grey' : !steps.done }">
				Weiter
			</a>

	  	</div>
	  </div>
	</div>
</div>