<div ng-controller="CrowdcardsController" class="container margin-top-70">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h3>Trage deine Crowdcard-Nummer ein, um am Gewinnspiel teilzunehmen</h3>

		<p><span ng-hide="current.user.flags.gotCrowdcardAsGift">Wir haben dir einen Brief mit deiner Crowdcard geschickt. Tippe hier deine persönliche Teilnahmenummer ein.</span> Achte genau darauf, dass du dich nicht vertippst, denn falls du das Grundeinkommen gewinnst, musst du die Karte mit der Nummer vorweisen.</p>

		<div class="col-md-6 text-right">
			<img src="/assets/crowdcard_verify.jpg">
		</div>
		<div class="col-md-6">
			<div class="well" ng-show="crowdbarVerified">
				Danke!
				<h2>{{crowdcardNumber}}</h2>
				<a href="#" ng-click="crowdbarVerified = false">ändern</a>
			</div>
			<div class="well" ng-show="!crowdbarVerified">
				Dieser Nummer hier eintragen:<br>
				<input type="text" class="big" ng-model="crowdcardNumber" style="width:100%">

				<alert ng-show="crowdcardNumber.indexOf('361504662') > -1">Das ist die falsche Nummer. Bitte trag die Nummer oben links auf der Vorderseite ein (siehe Bild), sie beginnt mit vielen Nullen (die du weglassen kannst).</alert>

				<a href="#" ng-click="verify_crowdcard()" class="margin-top-30 btn btn-large btn-color" ng-disabled="crowdcardNumber.indexOf('361504662') > -1">Speichern</a>
			</div>

		</div>
	</div>
</div>