<!-- user count -->
<div odometer="userCount"></div>
<p>Crowdbar-Nutzende erwirtschaften täglich:</p>
<!-- daily income -->
<div odometer="dailyIncome"></div>
<!-- currency -->
<div class="odometer odometer-auto-theme">
                <span class="odometer-inside">
                    <span class="odometer-digit">
                        <span class="odometer-digit-spacer">€</span>
                        <span class="odometer-digit-inner">
                            <span class="odometer-ribbon">
                                <span class="odometer-ribbon-inner">
                                    <span class="odometer-value">€</span>
                                </span>
                            </span>
                        </span>
                    </span>
                </span>
</div>
