<section class="row c-squirrel">

    <div class="text-center" style="margin:20px;" ng-show="user.isSquirrel() || user.isPausedSquirrel()">
      <img ng-if="user.isSquirrel()" width="50%" src="assets/support/squirrel.svg">
      <h2 ng-if="user.isSquirrel()" translate="SQUIRREL_HEADING_ACTIVE"></h2>
      <h2 ng-if="user.isPausedSquirrel()" translate="SQUIRREL_HEADING_INACTIVE"></h2>
      <h4 ng-if="user.isSquirrel()">Und unterstützt das Projekt mit monatlich {{vm.price}} €. Danke!</h4>
      <hr>
      <button type="button" ng-click="vm.formState.edit = true; vm.formState.show = true"  class="btn btn-small">{{ 'SQUIRREL_EDIT' | translate }}</button>

      <button ng-show="user.isPausedSquirrel()" ng-click="vm.payment.active = true; vm.submit()" type="button"  class="btn btn-small">{{ 'SQUIRREL_UNPAUSE' | translate }}</button>

      <button ng-show="user.isSquirrel()" ng-click="vm.payment.active = false; vm.submit()" type="button"  class="btn btn-small">{{ 'SQUIRREL_PAUSE' | translate }}</button>

      <button type="button" ng-click="vm.quit()" class="btn btn-small">{{ 'SQUIRREL_DELETE' | translate }}</button>

      <hr>

      <button ng-hide="vm.formState.edit || !isModal" type="button" ng-click="$close()" class="btn btn-large btn-bge">{{ 'SQUIRREL_DONE' | translate }}</button>


    </div>
    <div ng-hide="user.isSquirrel() || user.isPausedSquirrel()" class="col-xs-12 text-center">
      <h2 translate="SQUIRREL_HEADING"></h2>

      <alert ng-if="!vm.auth">Bitte erst <a href="/login">anmelden</a></alert>

    </div>
    <div ng-hide="((user.isSquirrel() || user.isPausedSquirrel()) && !vm.formState.edit) || !vm.auth" class="col-xs-12 col-md-8 col-md-offset-2">
        <!-- form to be a squirrel -->

        <form ng-show="vm.formState.show" name="squirrelForm" ng-submit="vm.submit()" novalidate>
            <!-- price -->
            <section class="row c-squirrel-intro">
                <div class="col-xs-12 text-center">
                    <p translate="SQUIRREL_INTRO_ONE_ACTIVE" ng-show="user.isSquirrel()"></p>
                    <p translate="SQUIRREL_INTRO_ONE_INACTIVE" ng-show="user.isPausedSquirrel()"></p>
                    <p translate="SQUIRREL_INTRO_ONE" ng-show="!(user.isSquirrel() || user.isPausedSquirrel())"></p>
                    <div class="row">
                        <div class="col-xs-8 col-md-4 col-md-offset-4">
                            <div class="input-group input-group-lg">
                                <input type="number" class="form-control" min="1" ng-change="vm.priceChanged()" ng-model="vm.price">
                                <span class="input-group-addon" id="basic-addon2">€</span>
                            </div>
                        </div>
                    </div>
                    <p translate="SQUIRREL_INTRO_TWO_ACTIVE" ng-show="user.isSquirrel()"></p>
                    <p translate="SQUIRREL_INTRO_TWO_INACTIVE" ng-show="user.isPausedSquirrel()"></p>
                    <p translate="SQUIRREL_INTRO_TWO" ng-show="!(user.isSquirrel() || user.isPausedSquirrel())"></p>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="row c-squirrel-spread">
                        <div class="col-xs-3 c-squirrel-spread__title">{{ 'SQUIRREL_SLIDER_SOCIETY' | translate }}</div>
                        <div class="col-xs-8 c-squirrel-spread__slider">
                            <input ng-model="vm.priceSociety" ng-change="vm.shareWithBge()" type="number" min="0"  slider options="vm.optionsSociety" />
                        </div>
                        <div class="col-xs-1 c-squirrel-spread__amount">{{vm.priceSociety}}€</div>
                    </div>
                    <!-- info -->
            <section class="row well" style="margin-bottom:0;padding-bottom:0;margin-top: 20px;padding-top: 0;">
                <div class="col-xs-12 text-center" style="margin-top:15px;margin-bottom: 15px;">
                    <!-- replace the popover with modals if the content is to long -->
                    <p style="font-size:15px;">
                        {{'SQUIRREL_INFO_HOW' | translate}}
                        <a href="#" ng-click="vm.showHow()">{{'SQUIRREL_INFO_HOW_LINK' | translate }}</a>
                    </p>
                    <p style="font-size:15px;">
                        {{'SQUIRREL_INFO_WHY' | translate}}
                        <a href="#" ng-click="vm.showWhy()">{{ 'SQUIRREL_INFO_WHY_LINK' | translate }}</a>
                    </p>

                </div>
            </section>
                    <div class="row c-squirrel-spread">
                        <div class="col-xs-3 c-squirrel-spread__title">{{ 'SQUIRREL_SLIDER_BGE' | translate }}</div>
                        <div class="col-xs-8 c-squirrel-spread__slider">
                            <input ng-model="vm.priceBge" ng-change="vm.shareWithSociety()" type="number" min="0"  slider options="vm.optionsBge" />
                        </div>
                        <div class="col-xs-1 c-squirrel-spread__amount">{{vm.priceBge}}€</div>
                    </div>
                </div>
            </section>

            <!-- bank account -->
            <section class="row" ng-show="vm.formState.show">
                <div class="col-xs-12 text-left">
                    <!-- name and lastname -->
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.firstName.$invalid && !squirrelForm.firstName.$pristine && squirrelForm.firstName.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label for="firstName">{{ 'FORM_NAME_LABEL' | translate }}</label>
                                <input type="text"
                                       name="firstName"
                                       ng-model="vm.user.name"
                                       id="firstName"
                                       ng-minlength="2"
                                       ng-maxlength="30"
                                       placeholder="{{ 'FORM_NAME_PLACEHOLDER' | translate }}"
                                       required class="form-control">
                                <div ng-messages="squirrelForm.firstName.$error" ng-if="squirrelForm.firstName.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                    <div class="help-block" ng-message="minlength"><span translate="VALIDATION_MIN" translate-value-length="2"></span></div>
                                    <div class="help-block" ng-message="maxlength"><span translate="VALIDATION_MAX" translate-value-length="30"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.lastName.$invalid && !squirrelForm.lastName.$pristine && squirrelForm.lastName.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label for="lastName">{{ 'FORM_NAME_LAST_LABEL' | translate }}</label>
                                <input type="text"
                                       name="lastName"
                                       id="lastName"
                                       ng-model="vm.user.lastName"
                                       ng-minlength="2"
                                       ng-maxlength="30"
                                       placeholder="{{ 'FORM_NAME_LAST_PLACEHOLDER' | translate }}"
                                       required class="form-control">
                                <div ng-messages="squirrelForm.lastName.$error" ng-if="squirrelForm.lastName.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                    <div class="help-block" ng-message="minlength"><span translate="VALIDATION_MIN" translate-value-length="2"></span></div>
                                    <div class="help-block" ng-message="maxlength"><span translate="VALIDATION_MAX" translate-value-length="30"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="row">
                        <!-- user email if he is not logged in -->
                        <div ng-hide="vm.auth.user" class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.email.$invalid && !squirrelForm.email.$pristine && squirrelForm.email.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                        <label for="email">{{ 'FORM_EMAIL_LABEL' | translate }}</label>
                                        <input type="email"
                                               name="email"
                                               id="email"
                                               ng-model="vm.user.email"
                                               placeholder="{{ 'FORM_EMAIL_PLACEHOLDER' | translate }}"
                                               ng-required="{{ !vm.auth.user }}"
                                               class="form-control">
                                        <div ng-messages="squirrelForm.email.$error || squirrelForm.$dirty">
                                            <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                            <div class="help-block" ng-message="email"><span translate="VALIDATION_EMAIL"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- street and number -->
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.street.$invalid && !squirrelForm.street.$pristine && squirrelForm.street.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label for="street">{{ 'FORM_STREET_LABEL' | translate }}</label>
                                <input type="text"
                                       name="street"
                                       ng-model="vm.user.address.street"
                                       id="street"
                                       ng-minlength="2"
                                       ng-maxlength="30"
                                       placeholder="{{ 'FORM_STREET_PLACEHOLDER' | translate }}"
                                       required class="form-control">
                                <div ng-messages="squirrelForm.street.$error" ng-if="squirrelForm.street.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                    <div class="help-block" ng-message="minlength"><span translate="VALIDATION_MIN" translate-value-length="2"></span></div>
                                    <div class="help-block" ng-message="maxlength"><span translate="VALIDATION_MAX" translate-value-length="30"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.streetNumber.$invalid && !squirrelForm.streetNumber.$pristine && squirrelForm.streetNumber.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label for=streetNumber>{{ 'FORM_STREET_NUMBER_LABEL' | translate }}</label>
                                <input type="text"
                                       name="streetNumber"
                                       ng-model="vm.user.address.streetNumber"
                                       id="streetNumber"
                                       ng-minlength="1"
                                       ng-maxlength="10"
                                       placeholder="{{ 'FORM_STREET_NUMBER_PLACEHOLDER' | translate }}"
                                       required class="form-control">
                                <div ng-messages="squirrelForm.streetNumber.$error" ng-if="squirrelForm.streetNumber.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                    <div class="help-block" ng-message="minlength"><span translate="VALIDATION_MIN" translate-value-length="2"></span></div>
                                    <div class="help-block" ng-message="maxlength"><span translate="VALIDATION_MAX" translate-value-length="30"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bank name and bic -->
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.bank.$invalid && !squirrelForm.bank.$pristine && squirrelForm.bank.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label for="bank">{{ 'FORM_BANK_LABEL' | translate }}</label>
                                <input type="text"
                                       name="bank"
                                       ng-model="vm.user.bank.name"
                                       id="bank"
                                       ng-minlength="3"
                                       ng-maxlength="40"
                                       placeholder="{{ 'FORM_BANK_PLACEHOLDER' | translate }}"
                                       required class="form-control">
                                <div ng-messages="squirrelForm.bank.$error" ng-if="squirrelForm.bank.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                    <div class="help-block" ng-message="minlength"><span translate="VALIDATION_MIN" translate-value-length="3"></span></div>
                                    <div class="help-block" ng-message="maxlength"><span translate="VALIDATION_MAX" translate-value-length="40"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.bic.$invalid && !squirrelForm.bic.$pristine && squirrelForm.bic.$dirty}">
                                <label for="bic">{{ 'FORM_BIC_LABEL' | translate }}</label>
                                <input type="text"
                                       name="bic"
                                       ng-model="vm.user.bank.bic"
                                       id="bic"
                                       ng-minlength="8"
                                       ng-maxlength="11"
                                       ng-pattern="'([a-zA-Z]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}([a-zA-Z0-9]{3})?)'"
                                       placeholder="{{ 'FORM_BIC_PLACEHOLDER' | translate }}"
                                       class="form-control">
                                <div ng-messages="squirrelForm.bic.$error" ng-if="squirrelForm.bic.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="minlength"><span translate="VALIDATION_MIN" translate-value-length="8"></span></div>
                                    <div class="help-block" ng-message="maxlength"><span translate="VALIDATION_MAX" translate-value-length="11"></span></div>
                                    <div class="help-block" ng-message="pattern"><span translate="VALIDATION_BIC"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- iban -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"  ng-class="{ 'has-error' : squirrelForm.iban.$invalid && !squirrelForm.iban.$pristine && squirrelForm.iban.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label for="iban">{{ 'FORM_IBAN_LABEL' | translate }} <a href="http://www.iban-rechner.de/" target="_blank"> (IBAN berechnen)</a></label>
                                <input type="text"
                                       name="iban"
                                       ng-model="vm.user.bank.iban"
                                       id="iban"
                                       ng-iban
                                       placeholder="{{ 'FORM_IBAN_PLACEHOLDER' | translate }}"
                                       required class="form-control">
                                <div ng-messages="squirrelForm.iban.$error" ng-if="squirrelForm.iban.$dirty || squirrelForm.$dirty">
                                    <div class="help-block" ng-message="required">{{ 'VALIDATION_REQUIRED' | translate }}</div>
                                    <div class="help-block" ng-message="iban"><span translate="VALIDATION_IBAN"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- accept -->
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <div class="checkbox" ng-class="{ 'has-error' : squirrelForm.accept.$invalid && !squirrelForm.accept.$pristine && squirrelForm.accept.$dirty, 'has-warning' : squirrelForm.$dirty }">
                                <label>
                                    <input type="checkbox" ng-model="vm.payment.accept" name="accept" check-required>
Ich ermächtige den Verein „Mein Grundeinkommen“ e.V. i.G., die monatlichen Zahlungen jeweils am 1. eines Monats in Höhe von {{vm.price}}€ von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von „Mein Grundeinkommen“ e.V. i.G. auf mein Konto gezogenen Lastschriften einzulösen. Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen. Spätestens 2 Tage vor einer Lastschrift-Abbuchung erhalte ich eine Benachrichtigung darüber per E-Mail.<br>
Mein Grundeinkommen e.V.i.G., Taborstraße 21, 10997 Berlin<br>
Gläubiger-Identifikationsnummer DE62ZZZ00001604785

                                    <!-- <span translate="SQUIRREL_ACCEPT" translate-value-price="{{vm.price}}"></span> -->
                                    <div ng-messages="squirrelForm.accept.$error" ng-if="squirrelForm.accept.$dirty || squirrelForm.$dirty" >
                                        <div class="help-block" ng-message="checkRequired">{{ 'VALIDATION_CHECKED' | translate }}</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- submit -->
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button ng-hide="vm.id" type="submit"  class="btn btn-large btn-bge">{{ 'SQUIRREL_SUBMIT' | translate }}</button>
                            <button ng-show="vm.id" type="submit"  class="btn btn-large btn-bge">{{ 'SQUIRREL_UPDATE' | translate }}</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>

    <!-- messages -->
    <section class="row">
        <alert ng-show="vm.formState.response.show && !vm.formState.show" type="success">{{ 'SQUIRREL_SUCCESS' | translate }}</alert>
        <alert ng-show="vm.formState.progress.show && !vm.formState.show" type="info">{{ 'SQUIRREL_PROGRESS' | translate }}</alert>
    </section>


    <script type="text/ng-template" id="squirrel/modal-how.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ 'SQUIRREL_HOW_MODAL_TITLE' | translate }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ 'SQUIRREL_HOW_MODAL_CONTENT' | translate }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
    <script type="text/ng-template" id="squirrel/modal-why.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ 'SQUIRREL_WHY_MODAL_TITLE' | translate }}</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ 'SQUIRREL_WHY_MODAL_CONTENT' | translate }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</section>