<section class="row">
    <div class="col-xs-12 text-center">
        <h2 translate="SQUIRREL_HEADING"></h2>
    </div>
    <div class="col-xs-12">

        <form name="beSquirrelForm">
            <!-- price -->
            <section class="row">

            </section>
            <!-- info -->
            <section class="row">
                <div class="col-xs-12 text-center">
                    <p>{{'SQUIRREL_INFO_WHY' | translate}} <a href="#">{{'SQUIRREL_INFO_WHY_LINK' | translate }}</a></p>
                    <p>{{'SQUIRREL_INFO_HOW' | translate}} <a href="#">{{ 'SQUIRREL_INFO_HOW_LINK' | translate }}</a></p>
                </div>
            </section>
            <!-- bank account -->
            <section class="row">

            </section>
        </form>
    </div>
</section>