<section class="container bge-support">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center bge-support_intro">
            <h1>Du kannst das Grundeinkommen derzeit auf 4 verschiedenen Wegen unterstützen!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <mge-support-nav></mge-support-nav>
        </div>
    </div>
</section>
<div class="container">
    <article class="row bge-support_cola">
        <header class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-7 text-center intro">
                    <h1>Die Grundeinkommens-Cola bringt die Frage auf den Tisch!</h1>

                    <h2>Jede Flasche finanziert 26 Sekunden Grundeinkommen</h2>
                    <p>Pro Flasche geht 1 Cent direkt in den Lostopf und jede 6. Flasche trägt das BGE-Label mit der wichtigsten Frage der Welt.</p>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <img class="img-responsive" src="../assets/support/crowdcola.jpg" alt="Cola Flasche">
                </div>
            </div>
        </header>
        <div class="col-xs-12">
            <img id="cola-stream" src="../assets/support/cola_stream.png" class="img-responsive">
        </div>
        <section class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h2>Du möchtest wissen wie Grundeinkommen schmeckt?</h2>
            <p>Mit 25 mg natürlichem Koffein pro 100 ml und echten Kolanuss-Extrakten macht COLA hellwach und schmeckt sanft fruchtig und erfrischend, mit einem dezenten Spritzer Zitrone. Ein ausgewähltes, weiches Quellwasser sorgt dafür, dass sich der Geschmack voll entfalten kann.</p>
            <p>Weitere Informationen zur Cola findet ihr <a href="http://bierbier.org/website/cola/" target="_blank">hier</a></p>
        </section>
    </article>
</div>
<div class="bge-support_divider">
    <div class="container">
        <div class="row bge-support_cola">
            <section class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-center">
                        <h2>Du möchtest die Cola<br> für dich und deine Freunde?</h2>
                        <h3>Hier kannst du bis zu 24 Flaschen für<br> deinen Eigenbedarf bestellen.</h3>
                        <a href="http://www.revolutiondrinks.com/onlineshop/cola/cola/" target="_blank" class="btn btn-bge">Kleine Menge bestellen</a>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center">
                        <h2>Die Cola<br> soll deine Party rocken?</h2>
                        <h3>Bestellt in der Gruppe oder für größere<br> Veranstaltungen!</h3>
                        <a href="https://docs.google.com/forms/d/1HOvjiYNJ8OerkCEO-TIqgmFKcMYHOxjZLwYD8L7w_tM/viewform" target="_blank" class="btn btn-bge">Größere Menge bestellen</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="row bge-support_cola">
        <section class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-8 text-center">
                    <h1>Du willst die CrowdCola verkaufen oder selber vertreiben?</h1>

                    <h2>Nimm jetzt einfach Kontakt zu uns auf!</h2>

                    <div ng-include="'/assets/support/_cola_button.html'"></div>

                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../assets/support/cola_bge.jpg" alt="Cola Flasche">
                </div>
            </div>
            <hr>
        </section>

        <section>
            <div class="row">
                <div class="bge-link text-center">
                    <h3>Die Idee der Grundeinkommens-Cola kommt vom Unternehmen Mitte Basel. </br>Mehr über das Unternehmen Mitte, die „Generation Grundeinkommen“ und die Volksinitiative in der Schweiz erfahrt ihr <a target="_blank" href="http://cola.mitte.ch/">hier</a>.</h3>
                </div>
            </div>
        </section>
    </div>
</div>
