<section class="container bge-support">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center bge-support_intro">
            <h1>Du kannst das Grundeinkommen derzeit auf 4 verschiedenen Wegen unterstützen!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <mge-support-nav></mge-support-nav>
        </div>
    </div>
    <article class="row bge-support_c-card">
        <header class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h1>Punkte sammeln für das Grundeinkommen!</h1>
                    <!-- <h2>Die Crowdcard macht aus deinen Einkäufen bei Rewe, dm, Aral und vielen weiteren Läden Grundeinkommen.</h2> -->

                    <alert>Derzeit gibt es Akzeptanz-Probleme bei einigen Geschäften. Wir stehen im Kontakt mit Payback und arbeiten an einer Lösung. Bis dahin versenden wir keine neuen Crowdcards. <a href="/blog/166">Mehr dazu lesen</a></alert>

                    <mge-order-c-card></mge-order-c-card>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive" src="../assets/support/crowdcard.png" alt="Payback Karte">
                </div>
            </div>
            <hr>
        </header>
        <section class="col-xs-12 text-center">
            <h1>So funktioniert's! <br> <small>Einfach. Anonym. Kostenlos.</small></h1>
            <p>Die Crowdcard ist eine Bonuskarte von Payback, die wir 10.000 mal kopiert haben, so dass alle auf
                ein einziges Konto sammeln. Deine Einkäufe sind anonym weil alle die gleiche Karte verwenden.</p>
            <p>Die von uns allen gesammelten Payback-Punkte (ca. 1% des Einkaufswerts) heben wir
                in bar ab und legen sie auf das Grundeinkommenskonto.</p>
            <p>Je häufiger du die Crowdcard einsetzt, desto schneller können wir neue Grundeinkommen verlosen.</p>
            <hr>
        </section>
        <section class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive" src="../assets/support/partner.png" alt="Partner Logos">
                </div>
                <div class="col-xs-12 col-sm-6 text-center bge-link">
                    <h1>Welche Geschäfte unterstützen die CrowdCard?</h1>
                    <p>Eine Übersicht zu allen teilnehmenden Geschäften findest du <a target="_blank" href="https://www.payback.de/pb/partner/id/16380/">hier</a>.</p>
                </div>
            </div>
            <hr>
        </section>
        <section class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>Was kostet mich das?</h2>
                    <p>Der Einsatz der Crowdcard ist kostenlos. Die Payback-Punkte zahlt das Unternehmen bei dem du einkaufst.</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>Wo ist der Haken?</h2>
                    <p>Es gibt keinen. Solange Payback die Nutzung der Karte durch uns toleriert, können wir geminsam schneller noch mehr Grundeinkommen sammeln.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-padding text-center">
                    <h3>Hier kannst du Fragen stellen oder Antworten auf bereits gestellte Fragen lesen:</h3>
                    <a href="/faq/crowdcard" class="btn-large btn-color btn-bge" target="_self">Häufige Fragen</a>
                </div>
            </div>
            <hr>
        </section>
        <!-- <section class="col-xs-12 text-center">
            <h1>Hol dir jetzt die Crowdcard und unterstütz das Grundeinkommen!</h1>
            <mge-order-c-card></mge-order-c-card>
        </section> -->
    </article>
</section>