<section class="container bge-support">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center bge-support_intro">
            <h1>Du kannst das Grundeinkommen derzeit auf 4 verschiedenen Wegen unterstützen!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
           <mge-support-nav></mge-support-nav>
        </div>
    </div>
    <article class="row bge-support_donate text-center">
        <header class="col-xs-12">
            <div>
                <h1>Hilf direkt mit, das {{home.totallyFinancedIncomes + 1}}. Grundeinkommen zu finanzieren!</h1>

                <div class="progress" style="font-size: 15px;font-weight: 600;line-height: 40px;">

                    <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50"
                         aria-valuemax="100" style="width: {{home.percentage}};">
                        <span ng-hide="home.percentageRaw < 50">{{home.amount}} von 12.000€</span>
                    </div>

                    <span ng-show="home.percentageRaw < 50">{{home.amount}} von 12.000€</span>

                </div>

                <div ng-include="'/assets/support/donate_form.html'"></div>
            </div>
        </header>
    </article>
</section>