<section class="container bge-support">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center bge-support_intro">
            <h1>Du kannst das Grundeinkommen derzeit auf 4 verschiedenen Wegen unterstützen!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
           <mge-support-nav></mge-support-nav>
        </div>
    </div>
    <article class="row bge-support_donate text-center">
        <header class="col-xs-12">
            <mge-donate></mge-donate>
        </header>
    </article>
</section>