<section class="container bge-support">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center bge-support_intro">
            <h1>Du kannst das Grundeinkommen derzeit auf 4 verschiedenen Wegen unterstützen!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <nav class="bge-support_nav" role="navigation" ng-include="'/assets/support/_nav.html'"></nav>
        </div>
    </div>
    <article class="row bge-support_donate">
        <header class="col-xs-12">

        </header>
    </article>
</section>