<p>Hey <%= @resource.name %>,</p>

<p>schön, dass du bei "Mein Grundeinkommen" mitmachst!</p>

<p>Klick noch schnell auf diesen Link und dann geht es auch schon los:</p>

<p><%= link_to 'Meine E-Mailadresse bestätigen', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Liebe Grüße,<br><br>

Micha
<br>von Mein-Grundeinkommen.de</p>