<p>Hallo <%= @resource.name %>,</p>

<p>die Zurücksetzung deines Passwortes wurde angefordert. Wenn du ein neues Passwort vergeben möchtest, klicke einfach diesen Link:</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls du diese Mail nicht angefordert hast, kannst du sie einfach ignorieren.</p>
<p>Dein Passwort wird nicht geändert, wenn du nicht auf den Link klickst.</p>

<p>Liebe Grüße,<br><br>

Micha
<br>von Mein-Grundeinkommen.de</p>