<p>Hallo <%= @resource.name %>,</p>

<p>die Zurücksetzung deines Passwortes wurde angefordert. Wenn du ein neues Passwort vergeben möchtest, klicke einfach auf diesen Button:</p>

<form action="<%= edit_password_url(@resource, reset_password_token: @token) %>">
    <input type="submit" value="Mein Passwort ändern">
</form>

<p>Sollte der Button nicht funktionieren, dann versuch es bitte mit diesem Link:</p>
<p><a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"><%= edit_password_url(@resource, reset_password_token: @token) %></a></p>


<p>Falls du diese Mail nicht angefordert hast, kannst du sie einfach ignorieren.</p>
<p>Dein Passwort wird nicht geändert, wenn du nicht auf den Link klickst.</p>

<p>Liebe Grüße,<br><br>

Dein Team
<br>von Mein-Grundeinkommen.de</p>