<div class="container margin-top-30">
<div ng-if="security.currentUser && security.currentUser.id == 1">


	<h1>User</h1>

	<div class="well text-center">
		<i class="icon-search big"></i> <input type="text" class="big" ng-model="u.search" ng-change="search_for_user()">
	</div>

	<table class="table" ng-show="users.length > 0">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>E-Mail</td>
			<td>Verlosung</td>
			<td>Crowdbar</td>
			<td>Confirmed</td>
			<td>Reset Password</td>
			<td>Delete</td>
		</tr>

		<tr ng-repeat="user in users">
			<td>{{user.id}}</td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.chances.length}}</td>
			<td>{{user.hasCrowdbar}}</td>
			<td>{{user.confirmedAt}} <a href="#" ng-click="confirm(user)" class="btn btn-normal btn-color">Confirm</a></td>
			<td>{{user.pw}}<a href="#" ng-click="reset_pw(user)" class="btn btn-normal btn-grey">Set Password</a></td>
			<td><a href="#" ng-click="delete_user(user)" class="btn btn-normal btn-grey">Delete</a></td>
		</tr>
	</table>


	<hr>


	<h1 class="margin-top-70">Bank-Supports</h1>

	<div class="well text-center">
		<i class="icon-search big"></i> <input type="text" class="big" ng-model="search">
	</div>

	<table class="table">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Amount Total</td>
			<td>Comment</td>
			<td>Completed?</td>
		</tr>

		<tr ng-repeat="support in supports | filter:search">
			<td>{{support.id}}</td>
			<td>{{support.nickname}}</td>
			<td>{{support.amountTotal}}</td>
			<td><!-- <div ng-if="support.avatar" class="testimonial-image pull-left">
                    <img src="{{support.avatar.avatar.thumb.url}}">
                </div>  --><textarea ng-model="support.comment"></textarea></td>
			<td>
				<a href="#" ng-if="!support.paymentCompleted" ng-click="changeStatus(support)" class="btn btn-normal btn-grey">Bestätigen</a>
				<a href="#" ng-if="support.paymentCompleted" ng-click="changeStatus(support)" class="btn btn-normal btn-color"><i class="icon-check"></i></a>
			</td>
		</tr>
	</table>
</div>
</div>