<div class="container margin-top-30">
<div ng-if="current.user && current.user.admin">


  <tabset id="tabs" justified="true">

  	<tab heading="Statistiken">
  		<div class="container" style="padding:30px">
			<table>
				<tr ng-repeat="(key,value) in stats">
					<td>{{key}}:</td>
					<td>{{value}} <a href="/api/statistics.csv?admin=true&stat={{key}}" target="_blank"> <i class="fa fa-download"></i> Kontakte für Newsletter herunterladen</a></td>
				</tr>
			</table>
		</div>


	</tab>


	<tab heading="Mailings">
  		<div class="container" style="padding:30px">
  			<div class="col-md-4">
	  			<h3 class="title">Empfänger_innen:</h3>
	  			<div ng-repeat="group in m.groups" >
	  			<label>
				  <input
				    type="checkbox"
				    name="groups[]"
				    value="{{group}}"
				    ng-checked="group_selection.indexOf(group) > -1"
				    ng-click="toggleGroupSelection(group)"
				  > {{group}}
				  <input type="text" ng-show="group.slice(-1) == '#' && group_selection.indexOf(group) > -1" ng-model="group_keys[group_selection.indexOf(group)]">
				</label>
				<br>
			</div>
			<hr>
			<div class="well"><h3>{{m.count}} Empfänger_innen</h3></div>

			</div>
			<div class="col-md-8">
				<div class="well">Betreff: <input type="text" ng-model="mail.subject">
				</div>

				<div text-angular ng-model="mail.body"></div>


				<a ng-click="sendMail(true)" class="btn btn-normal btn-grey"><i class="fa fa-outbox"></i> Test an mich senden</a>
				<a ng-click="sendMail(false)" class="btn btn-large btn-color"><i class="fa fa-envelope"></i> {{m.count}} Mails jetzt senden</a>
			</div>
		</div>
	</tab>


	<tab heading="User">

		<div class="well text-center">
			<i class="fa fa-search big"></i> <input type="text" class="big" ng-model="u.search" ng-change="search_for_user()">
		</div>

		<table class="table" ng-show="users.length > 0">
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>E-Mail</td>
				<td>Verlosung</td>
				<td>BAR</td>
				<td>CARD</td>
				<td>Confirmed</td>
				<td>Reset Password</td>
				<td>Delete</td>
			</tr>

			<tr ng-repeat="user in users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.chances[0].confirmed}}</td>
				<td>
					<span ng-if="user.flags.hasCrowdbar">ja</span>
					<span ng-if="!user.flags.hasCrowdbar && user.flags.hasHadCrowdbar">hatte sie</span>
					<div ng-if="!user.flags.hasCrowdbar && !user.flags.hasHadCrowdbar">nein<br><a href="#" ng-click="enable_crowdbar(user)">freischalten</a></div>
				</td>
				<td>
					<div ng-if="user.crowdcards[0]">
						<span ng-if="user.flags.crowdcardNumber">
						  bestätigt
						</span>
						<div ng-if="!user.flags.crowdcardNumber">
						  <span ng-if="user.crowdcards[0].sent">
						  	versendet {{user.crowdcards[0].sent.sent | date:'dd.MM.yy'}}
						  </span>
						  <span ng-if="!user.crowdcards[0].sent">
						  	noch nicht versendet
						  </span>
						</div>
					</div>

					<div ng-if="!user.crowdcards[0]">
						<span ng-if="user.flags.crowdcardNumber">
						  bestätigt
						</span>
						<span ng-if="!user.flags.crowdcardNumber">
							nicht bestellt, nicht bestätigt
						</span>
					</div>

					<div ng-if="!user.flags.crowdcardNumber">
				    	<span ng-if="user.flags.PrintOutCrowdcard">
				    		ausgedruckt
				    	</span>
				    	<span ng-if="!user.flags.PrintOutCrowdcard">
				    		nicht ausgedruckt
				    	</span>
				    	<br>
				    	<a href="#" ng-click="enable_crowdcard(user)">freischalten</a>
					</div>


				</td>
				<td>{{user.confirmedAt}} <a href="#" ng-click="confirm(user)" class="btn btn-normal btn-color">Confirm</a></td>
				<td>{{user.pw}}<a href="#" ng-click="reset_pw(user)" class="btn btn-normal btn-grey">Set Password</a></td>
				<td><a href="#" ng-click="delete_user(user)" class="btn btn-normal btn-grey">Delete</a></td>
			</tr>
		</table>


	</tab>


	<!-- <tab  heading="Crowdcards">

		<div class="well">

		<div class="pull-right">
			<a href="/api/crowdcards.csv?admin=true" target="_blank" class="pull-right btn btn-color"><i class="fa fa-download"></i> Nicht versendete als CSV</a>

			<a href="/api/crowdcards.csv?admin=true&show_all=true" target="_blank" class="pull-right btn btn-grey"><i class="fa fa-download"></i> Alle als CSV</a>
		</div>

		<h3 ng-if="crowdcards.length > 0">Nur noch {{crowdcards.length}}! Go Helwig!</h3>
		<h3 ng-if="crowdcards.length == 0">Geschafft! Danke, Helwig!</h3>


			<i class="icon-search big"></i> <input type="text" class="big" ng-model="searchcrowdcard">
		</div>


		<table class="table">
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Anschrift</td>
				<td>Karten</td>
				<td>Versendet?</td>
			</tr>

			<tr ng-repeat="crowdcard in crowdcards | filter:searchcrowdcard">
				<td>{{crowdcard.id}}</td>
				<td>
					{{crowdcard.firstName}} {{crowdcard.lastName}}<br>
					<a href="/menschen/{{crowdcard.user.id}}" target="_blank">{{crowdcard.user.name}}</a>
					<a href="mailto:{{crowdcard.user.email}}" class="fa fa-envelope"></a>

				</td>
				<td>{{crowdcard.street}} {{crowdcard.houseNumber}}, {{crowdcard.zipCode}} {{crowdcard.city}}</td>
				<td>{{crowdcard.numberOfCards}}</td>
				<td>
					<a href="#" ng-if="!crowdcard.sent" ng-click="sendCard(crowdcard)" class="btn btn-normal btn-grey">Versenden</a>
					<a href="#" ng-if="crowdcard.sent" class="btn btn-normal btn-color"><i class="fa fa-check"></i></a>
					<span ng-if="crowdcard.sent">am {{crowdcard.sent | date:'dd.MM.yyyy'}}</span>
				</td>
			</tr>
		</table>

	</tab>
 -->

	<!-- <tab heading="Bank-Supports">

		<div class="well text-center">
			<i class="fa fa-search big"></i> <input type="text" class="big" ng-model="search">
		</div>

		<table class="table">
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Amount Total</td>
				<td>Comment</td>
				<td>Completed?</td>
			</tr>

			<tr ng-repeat="support in supports | filter:search">
				<td>{{support.id}}</td>
				<td>{{support.nickname}}</td>
				<td>{{support.amountTotal}}</td>
				<td><div ng-if="support.avatar" class="testimonial-image pull-left">
	                    <img src="{{support.avatar.avatar.thumb.url}}">
	                </div> <textarea ng-model="support.comment"></textarea></td>
				<td>
					<a href="#" ng-if="!support.paymentCompleted" ng-click="changeStatus(support)" class="btn btn-normal btn-grey">Bestätigen</a>
					<a href="#" ng-if="support.paymentCompleted" ng-click="changeStatus(support)" class="btn btn-normal btn-color"><i class="fa fa-check"></i></a>
				</td>
			</tr>
		</table>

	</tab> -->


	<tab heading="Crowdhörnchen">

		<div class="well text-center">
			<i class="fa fa-search big"></i> <input type="text" class="big" ng-model="pymnt.search" ng-change="search_for_payment()">
		</div>

		<table class="table">
			<tr>
				<td>ID</td>
				<td>User</td>
				<td>Inhaber_in</td>
				<td>IBAN</td>
				<td>Gesamt</td>
				<td>Spende</td>
				<td>Aktiv?</td>
				<td>First Mail am</td>
				<td></td>
			</tr>

			<tr ng-repeat="payment in payments | filter:search">
				<td>{{payment.id}}</td>
				<td>{{payment.userId}}</td>
				<td><a href="mailto:{{payment.userEmail}}">{{payment.userFirstName}} {{payment.userLastName}}</a>
				</td>
				<td>{{payment.accountIban}}</td>
				<td>{{payment.amountTotal}}€</td>
				<td>{{payment.amountSociety}}€</td>
				<td>
					<span class="fa fa-check" ng-show="payment.active"></span>
					<span class="fa fa-close" ng-hide="payment.active"></span>
					 |
					<a ng-click="togglePayment(payment)" ng-show="payment.active">pausieren</a>
					<a ng-click="togglePayment(payment)" ng-hide="payment.active">aktivieren</a>
				</td>
				<td>
					{{payment.sentFirstNotificationAt}}
				</td>
				<td>
					<a ng-click="deletePayment(payment)">Löschen</a>
				</td>
			</tr>
		</table>

	</tab>


  </tabset>
</div>
</div>