<section class="a-europe">
    <header>
        <img src="/assets/ae-header.jpg">
    </header>
    <section class="a-europe__intro container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h1>Bis zu 50.000 Euro für MEIN GRUNDEINKOMMEN</h1>

                <p>Advocate Europe ist ein Ideenwettbewerb für innovative Vorhaben zum Thema Europa. Es werden
                    originelle, transnationale Vorschläge zur Stärkung des Zusammenhalts in Europa gesucht. Advocate
                    Europe wendet sich an Akteure der Zivilgesellschaft, die Anschubfinanzierung und Unterstützung
                    suchen, um ihre nachhaltigen Ideen in Feldern wie politische Bildung, Kunst und Kultur oder soziale
                    Innovationen umzusetzen. Bis zu zwölf Vorhaben werden mit bis zu 50.000 € gefördert.</p>
            </div>
        </div>
    </section>
    <section class="a-europe__project green text-center">
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Unser Projekt</h2>

                <h4>Was wäre, wenn es plötzlich GRUNDEINKOMMEN gäbe?<br>
                    Wir probieren es aus: Sind 12.000€ zusammen, werden sie verlost.</br>
                    Bedingungslose 1000€ monatlich.</h4>

                <p>Unser Projekt macht die Idee eines Bedingungslosen Grundeinkommens erstmalig erleb- und greifbar.
                    Durch Zufall werden Menschen herausgegriffen, die für ein Jahr die Freiheit und das Zutrauen
                    bekommen, die im Bedingungslosen Grundeinkommen für alle enthalten sind. Ihre Geschichten wollen wir
                    in immer neuen Variationen öffentlich erzählen. Hierfür sammeln wir Geld per crowdfunding. Innerhalb
                    des letzten Jahres wurden 144.000 Euro crowdgefundet und dadurch 12 Jahresgrundeinkommen ermöglicht.
                    Die Gewinnenden werden fortlaufend porträtiert. Bislang ist das Projekt auf Deutschland beschränkt.
                    Grundeinkommen ist jedoch kein nationales Thema, sondern ein internationales. Seit Projektbeginn
                    erreichen uns Anfragen aus dem europäischen Ausland, die Kampagne auch dorthin zu tragen. Seit
                    kurzem gibt es eine erste Übersetzung des Projekts in den Niederlanden. Das zu fördernde Projekt
                    soll uns ermöglichen, die erfolgreich in Deutschland gestartete Kampagne nun europaweit
                    umzusetzen.</p>
            </div>
        </div>
        </div>
    </section>
    <section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Welche Geschichte steckt hinter unserer Idee?</h2>

                <p>Eines Tages verkaufte Micha, der Initiator des Projekts, einige Firmenanteile. Damit hatte er ein
                    bescheidenes Grundeinkommen und wollte das Leben genießen, mehr für seine Familie da sein. Nach
                    einigem unbefriedigendem Herumliegen im Park entdeckte er, dass die neue Freiheit ihn sehr kreativ
                    machte und zu einem besseren Vater. Die Frage: "Was würde passieren, wenn es plötzlich
                    Grundeinkommen für alle gäbe?", ließ ihn nicht mehr los...</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/story.jpg">
            </div>
        </div>
    </section>
    <section class="a-europe__motivation container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/motivation.png">
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Unsere Motivation</h2>

                <p>Wie viele Grundeinkommen in einem Land wie Deutschland braucht es, damit alle Menschen jemanden
                    kennen, der/die jemanden kennt, der/die durch unser Projekt Grundeinkommen bezieht/bezogen hat? Wir
                    glauben, dass wir die Debatte über bedingungsloses Grundeinkommen - und dadurch prinzipiell über die
                    Zukunft unserer Gesellschaft - europaweit entfachen können. Die Geschichten unserer
                    Grundeinkommen-Bezieher sind dafür der Schlüssel!</p>
            </div>
        </div>
    </section>
    <section class="a-europe__goals green text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Wie wir unsere Ziele erreichen wollen?</h2>
                    <ol>
                        <li>1. Den Grundeinkommen-Gewinnenden Zeit und Raum für ihre Geschichten geben.</li>
                        <li>2. Crowdfunding: einmalige und regelmäßige Unterstützung sichern.</li>
                        <li>3. Konsum-basierte Geldquellen ohne Mehrkosten für die Anwender ausbauen. <br>Neben der CrowdBar und
                            der CrowdCard, viele Mein-Grundeinkommen-Produkte zur Verfügung stellen, welche den Lostopf
                            weiter füllen.
                        </li>
                        <li>4. Die öffentliche Diskussion über das Bedingungslose Grundeinkommen fördern.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="a-europe__why-you container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Warum braucht Europa Deine Idee?</h2>

                <p>Natürlich werden viele Fragen an die Idee Bedingungsloses Grundeinkommen gestellt. Wie wird es
                    dauerhaft finanziert? Wie verändert sich Arbeit? Wie wird es eingeführt? Und: Wer bekommt es?
                    Wir begreifen Bedingungsloses Grundeinkommen als Menschenrecht in der europäischen Kulturtradition
                    von Freiheit (der Persönlichkeit), Gleichheit (im Recht) und Brüderlichkeit (im Sozialen). Es ist
                    ein Ansatz für Zukunft und Selbstverständnis Europas.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/europa.png">
            </div>
        </div>
    </section>

    <section class="a-europe__team-one">
        <div>
            <img src="assets/team/team-foto.jpg">
        </div>
    </section>

    <section class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h2>Wie viele Freiwillige oder Angestellte arbeiten in unserem Projekt?</h2>
                    <p>Bei Mein Grundeinkommen e.V. arbeiten derzeit 7 Menschen auf Honorarbasis sowie viele weitere ehrenamtlich.</p>
                </div>
            </div>
    </section>
    <section class="container text-center">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Wer ist in unserem Team?</h2>
                    <h4>Welche Erfahrungen und Fähigkeiten hat unser Team?</h4>
                    <ul>
                        <li><strong>Micha, 30</strong> Initiator des Projekts. Vater einer 3-jährigen Tochter, Gründer einiger Internet-Start-Ups.</li>
                        <li><strong>Julia, 29</strong> Grafikdesignerin und Illustratorin. Mit vielen Verbesserungen gegenüber der "Micha-Grafik".</li>
                        <li><strong>Johannes, 38</strong> Strategie, Idee, Vernetzung. War Geschäftsführer der Piratenpartei und Schauspieler.</li>
                        <li><strong>Amira, 29</strong> Interne Organisation. Mitorganisatorin der dclass conference, aktiv bei Go Ahead!.</li>
                        <li><strong>Christian, 31</strong> Webentwickler und Programmierer, spezialisiert auf PHP und Javascript.</li>
                        <li><strong>Steffi, 48</strong> Buchhalterin mit Riesenerfahrung. Aktiv in der Bürgerinitiative bedingungsloses Grundeinkommen.</li>
                        <li><strong>Helwig, 36</strong> Vater von 2 Töchtern, Projektmanagement und Finanzen. Früher Analyst und Portfolio Manager (Immobilien).</li>
                        <li><strong>Unsere Community</strong> Ideen, Anregungen, Kritik und Unterstützung!</li>
                    </ul>
                </div>
            </div>
    </section>

    <section class="a-europe__team container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Informationen über die Teammitglieder</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="/assets/team/micha.jpg" class="img-responsive">
                <h4>Bohmeyer, Michael <br><small>Founder</small></h4>
                <p></p>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="/assets/team/johannes.jpg" class="img-responsive">
                <h4>Ponader, Johannes <br><small>Internationale Koordination</small></h4>
                <p>Spiel- und Theaterpädagoge, Regisseur, internationales Straßentheater, Stipendiat der Studienstiftung des deutschen Volkes.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="/assets/team/helwig.jpg" class="img-responsive">
                <h4>Fenner, Helwig <br><small>Projektleitung</small></h4>
                <p>Nach 7 Jahren Immobilienmanagement für europäische institutionelle Investoren setzt Helwig sich seit Januar 2015 für das Thema bedingungsloses Grundeinkommen ein.</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <img src="/assets/team/amira.jpg" class="img-responsive">
                <h4>Jehia, Amira <br><small>Koordination europäische Filmhochschulen und Veranstaltungsorganisation</small></h4>
                <p>Go Ahead! (Entwicklungspolitik in Subsahara-Afrika), Aufbau Bildungsinitiative in Äthiopien, Organisation der international ausgerichteten dclass Konferenz.</p>
            </div>
        </div>
    </section>

    <section class="a-europe__partner container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Wie werden wir eine gelungene Partnerschaft gestalten?</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h3>Phase 1</h3>
                        <p>In Phase 1 ist unser Partner die Crowd. Innerhalb von 8 Wochen soll die Projektseite per Crowdsourcing in möglichst viele Sprachen Europas übersetzt werden.</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h3>Phase 2</h3>
                        <p>In Phase 2 sind unsere Partner die Bürgerinnen und Bürger Europas. Mit ihnen werden möglichst viele Jahresgrundeinkommen in ganz Europa gesammelt und verlost. Ziel sind mindestens 20 Grundeinkommen.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h3>Phase 3</h3>
                        <p>In Phase 3 sind unsere Partner das CENTRE INTERNATIONAL DE LIAISON DES ECOLES DE CINÉMA ET DE TÉLÉVISION mit ihrem Vorsitzenden Prof.Dr. Stanislav Semerdjiev (Sofia) und seine europäischen Mitglieder. Filmteams verschiedener europäischer Filmschulen werden die Gewinnenden in ihren Heimatländern besuchen und porträtieren.</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h3>Phase 4</h3>
                        <p>In Phase 4 ist unser Partner die Medienakademie WAM in Dortmund. Bei einem Kongress im Herbst 2016, zu dem die Gewinnenden aus ganz Europa eingeladen werden, werden die Dokumentarfilme der Öffentlichkeit präsentiert.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="a-europe__info container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Informationen über unseren Projektvorschlag</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Zeitraum</h4>
                <p>von Juni 2015 bis Oktober 2016</p>
            </div>
            <div class="col-xs-12">
                <h4>Dauer in Monaten</h4>
                <p>17</p>
            </div>
            <div class="col-xs-12">
                <h4>Wenn Du Deinen Projektvorschlag als eine eingängige Frage formulieren würdest, welche wäre es?</h4>
                <p>Was würden Menschen in Europa tun, wenn für ihr Einkommen gesorgt wäre?</p>
            </div>
        </div>
    </section>
</section>