
<!-- Slider Start-->
<div class="fullwidthbanner-container" style="padding-bottom:10px;padding-top:50px;">
   <div class="fullwidthbanner rslider">
      <div class="container">
        <div class="col-md-12 text-center">

        <a class="btn btn-grey btn-pad">So funktioniert die Auslosung</a>

<h4 style="color:white">Die Auslosung in Berlin - heute hier im Livestream</h4>
<h1 class="title_headline">Wer gewinnt die ersten 4 Grundeinkommen?</h1>
        </div>

         <div class="row">
            <div class="col-md-6">
               <div ng-click="showvideo()" analytics-on="click" analytics-event="Play Home Video" style="box-shadow: 0px 0px 10px black; border: 2px solid white; border-radius: 5px; overflow: hidden;background:black;margin-top:10px;margin-bottom: 40px;">
                  <iframe width="100%" height="300" src="//www.youtube.com/embed/QJQcVFHOz5Y" frameborder="0" allowfullscreen></iframe>

               </div>


            </div>
            <div class="col-md-6">





               <a class="twitter-timeline" href="https://twitter.com/meinbge" data-widget-id="511672998932144129">Tweets von @meinbge</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




            </div>
            <div class="clearfix"></div>
         </div>

      </div>
   </div>
</div>
<!-- Slider End-->
<!-- Slogan Start-->


<div ng-hide="current_drawing.done && current_drawing_key < 4" class="slogan bottom-pad-small" style="padding-top:30px">
   <div class="container">


      <div class="row text-center">

        <h1>Das {{current_drawing_key+1}}. Grundeinkommen geht an:</h1>

        <div class="col-md-12  text-center">

            <div>Losnummer:</div>
            <alert ng-if="current_drawing.niete && current_drawing.number.length > 2">NIETE</alert>
            <br><div class="margin-top-30 row">
             <span style="margin-left:10px;" ng-repeat="diget in current_drawing.digets" class="well huge">{{diget.value}}<i ng-if="!diget.value" class="icon-refresh" style="color:#ccc"></i></span>

            </div>
            <br>
            <h3 style="margin-bottom:0px;margin-top:10px;" ng-repeat="o in own_codes" class="margin-top-20"><span ng-if="!o.isChild">Deine </span>Losnummer<span ng-if="o.isChild"> deines Kindes</span>: {{o.code}}</h3>


            <div ng-show="current_drawing.potentials">
              <h2>Wer gewinnt?</h2>
              <div class="row"><div class="col-md-2" ng-repeat="(key, p) in current_drawing.potentials">
                <span class="big">{{key}}</span> <div class="testimonial-image"><a href="/menschen/{{p.id}}" popover-trigger="mouseenter" popover="{{p.name}}"><img alt="" ng-src="{{p.avatar.thumb.url}}"></a></div> <a href="/menschen/{{p.id}}">{{p.name}}<span ng-if="p=='niete'">NIETE</span>
              </div>
              <div class="clearfix"></div>
            </div>
            </div>

        </div>

      </div>

   </div>
</div>
  </div>

       <div class="row text-center margin-top-70">

        <h1>Die Gewinner_innen</h2>

        <div ng-if="d.done" class="col-md-3" ng-repeat="d in drawings">

          <div class="testimonial-image-medium">
              <a href="/menschen/{{d.user.id}}">
                <img src="{{d.user.avatar.url}}">
              </a>
            </div>
            <a href="/menschen/{{d.user.id}}">{{d.user.name}}</a>
            <div>
            Losnummer:</div>
            <div style="margin-top:35px;margin-bottom:35px">
            <span style="margin-left:3px;font-size:15px" ng-repeat="diget in d.digets" class="well big">{{diget.value}}</span></div>

        </div>


      </div>


<hr>
<div class="container">
            <div class="col-md-12 text-center">

               <h2 class="slogan-title margin-top-30">

                Hast du nicht gewonnen?<br>
                Vielleicht klappt's beim 5. Grundeinkommen:

              </h2>

               <div class="progress margin-top-20" style="font-size: 25px;font-weight: 600;line-height: 37px;">

                  <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100" style="width: {{home.percentage}};">
                     <span ng-hide="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>
                  </div>
                     <span ng-show="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>

               </div>

                  <a href="http://www.startnext.de/mein-grundeinkommen"  analytics-on="click" analytics-event="Link zu Startnext geklickt" class="btn btn-special btn-color btn-large margin-top-30"><i class="icon-heart"></i> Jetzt unterstützen!</a>

               <h1 style="margin-bottom:0;" class="margin-top-70">...oder unterstützen <u>ohne zu bezahlen</u></h1> <p>Mit der CrowdBar fließt aus jedem deiner Online-Einkäufe Geld ins nächste Grundeinkommen.<br>
Ganz ohne Extrakosten für dich. Zwei Klicks genügen.</p>
  <div ng-click="video_content2='video2.html'" analytics-on="click" analytics-event="Play CrowdBar Video" style="box-shadow: 0px 0px 10px black; border: 2px solid white; border-radius: 5px; overflow: hidden;background:black;margin-top:20px;margin-bottom: 40px;max-width:800px;width:80%;display:inline-block;">
     <div ng-include src="video_content2 ? video_content2 : 'video_preview2.html'"></div>
  </div>
<div collapse="isCollapsed">
  <a class="btn-grey btn-normal" href="#" ng-click="isCollapsed = !isCollapsed"><i class="icon-caret-down"></i> CrowdBar - so geht's</a>
</div>
<div class="col-md-offset-3 col-md-6" collapse="!isCollapsed">
   <div ng-include="'/assets/crowdbar_install.html'"></div>
</div>


      <script type="text/ng-template" id="video_preview2.html">
         <a href="#"><img src="/assets/crowdbar_videopreview.jpg"></a>
      </script>
      <script type="text/ng-template" id="video2.html">
         <iframe width="100%" height="350" src="//www.youtube.com/embed/tcd7NiotGWg?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </script>



            <div class="clearfix"></div>
         </div>
      </div>





   <div class="container">
      <div class="row">
         <div class="slogan-content">
            <div class="col-md-12 text-center">

               <h2 class="slogan-title"><span class="huge">Du</span> kannst das Grundeinkommen gewinnen!</h2>
               <p>Sobald das {{home.totallyFinancedIncomes + 1}}. Grundeinkommen finanziert ist, wird es hier verlost. <br>In einem Gewinnspiel. Melde dich hier an, um teilzunehmen:</p>

                <div class="get-started">
                  <a ng-hide="security.currentUser" href="/register" class="btn btn-special btn-color btn-large" analytics-on="click" analytics-event="geklickt: Ich will das Grundeinkommen haben">Ich will das Grundeinkommen haben!</a>
                </div>



            </div>

            <div class="clearfix"></div>
         </div>
      </div>
            <div class="col-md-12 margin-top-70">
                        <h3 class="title">&nbsp;</h3>
                        </div>
   </div>

</div>