<breadcrumbs></breadcrumbs>
<div class="container margin-top-30">
<div class="row">
 <div class="posts-block col-lg-9 col-md-9 col-sm-8 col-xs-12 bottom-pad">

  <article class="post hentry">

     <header class="post-header">
        <h1 class="content-title">{{post.title}}</h1>
        <div class="blog-entry-meta">
           <div class="blog-entry-meta-date">
              <i class="fa fa-clock-o"></i>
              {{post.date | date:'dd.MM.yyyy'}}
           </div>
           <div class="blog-entry-meta-author">
              <i class="fa fa-user"></i>
              <a class="blog-entry-meta-author" href="#">{{post.author.nickname}}</a>
           </div>
           <!-- <div class="blog-entry-meta-tags">
              <i class="fa fa-tags"></i>
              <a href="#">Web Design</a>,
              <a href="#">Branding</a>
           </div> -->
           <div class="blog-entry-meta-comments">
              <i class="fa fa-comments"></i>
              <a class="blog-entry-meta-comments" href="#" scroll-to ="comments">{{comments.length}} Kommentare</a>
           </div>
        </div>
     </header>

     <div class="post-image">
        <span class="img-hover" style="opacity: 0;"></span>
        <span class="fullscreen" style="top: 65%; opacity: 0;"><i class="fa fa-search"></i></span>
        <img alt="" src="{{post.featured_image.attachment_meta.sizes['large'].url}}">
     </div>

     <div class="post-content">
        <div class="post-content" ng-bind-html="post.content | unsafe">
       </div>
     </div>
  </article>


  <!-- <div class="blog-divider"></div>
  <ul class="pager">
     <li class="previous"><a href="#">← Older</a></li>
     <li class="next"><a href="#">Newer →</a></li>
  </ul> -->
  <!-- Start About Author -->
  <!-- <div class="about-author">
     <h3 class="title">About The Author</h3>
     <div class="author-content">
        <div class="avatar"><img src="img/fifo-small.jpg" alt=""></div>
        <div class="data">
           <h4><a href="#">FIFO Themes</a></h4>
           <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
           </p>
        </div>
        <!-- End data -->

<div class="text-center">
        <h2>Jetzt teilen:</h2>

<a facebook="" class="facebookShare" data-shares="shares" data-url="http://www.mein-grundeinkommen.de/blog/{{post.ID}}" style="display:inline-block;">
</a>
<div class="btn btn-small btn-grey" style="padding-bottom: 2px;padding-right: 0;padding-top: 7px;">

  <a twitter="" data-count="horizontal" data-lang="en" data-size="medium" data-text="{{post.title}}" data-url="http://www.meinbge.de/blog/{{post.ID}}" data-via="meinbge"></a>
</div>
<a class="btn btn-small btn-grey" href="mailto:?subject=Ein%20Jahr%20Grundeinkommen%20bekommen&body=%0A%0Awww.mein-grundeinkommen.de/blog/{{post.ID}}">
  <i class="icon-envelope"></i>
  per E-Mail
</a>
</div>



  <!-- End About Author -->
  <div class="divider"></div>
  <!-- Comments Section Start -->


  <div ng-include="'/assets/comments.html'"></div>

</div>

  <!-- Reply Section End -->


 <div class="sidebar col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <!-- Search Widget Start -->
    <!-- Search Widget End -->
    <!-- Tab Start -->
    <!-- <div class="widget tabs">
       <div id="horizontal-tabs">
          <ul class="tabs">
             <li id="tab1" class="current">Popular</li>
             <li id="tab2">Recent</li>
             <li id="tab3">Comments</li>
          </ul>
          <div class="contents">
             <div style="display: block;" id="content1" class="tabscontent">
                <ul class="posts">
                   <li>
                      <a href="#"><img src="img/recent-post-img.jpg" alt="" class="img-thumbnail recent-post-img"></a>
                      <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
                      <span class="color">27 July 2013</span>
                   </li>
                   <li>
                      <a href="#"><img src="img/recent-post-img.jpg" alt="" class="img-thumbnail recent-post-img"></a>
                      <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
                      <span class="color">30 July 2013</span>
                   </li>
                </ul>
             </div>
             <div id="content2" class="tabscontent">
                <ul class="posts">
                   <li>
                      <a href="#"><img src="img/recent-post-img.jpg" alt="" class="img-thumbnail recent-post-img"></a>
                      <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
                      <span class="color">27 July 2013</span>
                   </li>
                   <li>
                      <a href="#"><img src="img/recent-post-img.jpg" alt="" class="img-thumbnail recent-post-img"></a>
                      <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
                      <span class="color">30 July 2013</span>
                   </li>
                </ul>
             </div>
             <div id="content3" class="tabscontent">
                <ul class="posts">
                   <li>
                      <a href="#"><img src="img/recent-post-img.jpg" alt="" class="img-thumbnail recent-post-img"></a>
                      <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
                      by <span class="color">wptuts+</span>
                   </li>
                   <li>
                      <a href="#"><img src="img/recent-post-img.jpg" alt="" class="img-thumbnail recent-post-img"></a>
                      <p><a href="#">Lorem Ipsum is simply dummy text.</a></p>
                      by <span class="color">wptuts+</span>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div> -->
    <!-- Tab End -->
    <!-- Testimonials Widget Start -->
    <div ng-include="'/assets/blog_sidebar.html'"></div>
    <!-- Category Widget Start -->
    <!-- <div class="widget category">
       <h3 class="title">Categories</h3>
       <ul class="category-list slide">
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Graphic Design</a></li>
          <li><a href="#">Illustration</a></li>
          <li><a href="#">Logo Design</a></li>
          <li><a href="#">Wordpress Themes</a></li>
       </ul>
    </div> -->
    <!-- Category Widget End -->
    <!-- Ads Widget Start -->
    <!-- <div class="widget ads">
       <h3 class="title">Advertisement</h3>
       <div class="ads-img row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <img src="img/ads-small.jpg" alt="" class="img-thumbnail">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <img src="img/ads-small.jpg" alt="" class="img-thumbnail">
          </div>
       </div>
       <div class="ads-img row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <img src="img/ads-small.jpg" alt="" class="img-thumbnail">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <img src="img/ads-small.jpg" alt="" class="img-thumbnail">
          </div>
       </div>
    </div> -->
    <!-- Ads Widget End -->
 </div>
 <!-- Sidebar End -->
</div>
 </div>
  </div>
</div>