<div class="row" style="margin-bottom:100px">
      <div class="col-md-6 col-md-offset-3 text-center">

       <h3 ng-if="trigger == 'participates'">Fast geschafft...</h3>
       <i class="fa fa-envelope" style="color: #ddd;font-size: 200px;text-shadow: 1px 1px 0 black;"></i>
       <h1>Bitte aktiviere <br>deine Mail-Adresse <span ng-if="trigger == 'participates'">um teilzunehmen</span></h1>
       <h3>Wir haben dir einen Aktivierungslink an <b>{{current.user.email}}</b> geschickt.</h3>
       <hr>
       <p><b>Nicht angekommen?</b><br>Im Spam-Ordner gucken oder <a href="#" ng-click="resend_link()" ng-hide="resending_mail">E-Mail erneut anfordern</a><span ng-show="resending_mail">... wird gesendet ...</span>.</p>
       <p class="small"><b>Mail kommt trotzdem nicht an?</b><br> Sende uns von {{current.user.email}} eine E-Mail an <a href="mailto:support@mein-grundeinkommen.de?subject=Bitte%aktivieren">support@mein-grundeinkommen.de</a> mit dem Betreff 'Bitte aktivieren'</p>
      </div>
    </div>