<div class="text-center margin-top-20">

   <h1>Mit der CrowdBar fließt bei jedem deiner Online-Einkäufe Geld ins nächste Grundeinkommen.</h1>

      <h3 class="title text-left">&nbsp;</h3>
   <h3>Ganz ohne Extrakosten für dich. Zwei Klicks genügen.
<h3 class="title text-left">&nbsp;</h3>

   <img src="/assets/crowdbar_sample.jpg">

   <!-- <alert>Wichtig: Du <i>musst nichts</i> kaufen. Aber wenn du sowieso im Internet einkaufen möchtest, kannst du gern die CrowdBar benutzen. Dabei bezahlst du nicht mehr als vorher und dein Einkauf bleibt anonym.</alert> -->

   <div class="row text-center margin-top-30">
               <h1 class="huge" style="margin-bottom:0"><i class="icon-group"></i> ca. 2.800</h1>
            <h2 style="margin-bottom:0">Benutzer_innen erwirtschaften so täglich</h2>
               <h1 class="huge" style="margin-bottom:0"><i class="icon-heart"></i> {{daily_comm}}€</h1>
            <h2 >für's nächste Grundeinkommen</h2>
   </div>


   <h3 class="title text-left">&nbsp;</h3>

   <h2 class="text-center">So geht's:</h2>

   <div ng-include="'/assets/crowdbar_video_and_steps.html'"></div>
</div>