<div class="row text-left">
   <div class="col-md-3">
      <i style="font-size:100px;color:#ccc" class="icon-magic"></i>
   </div>
   <div class="col-md-9 text-left-lg">
      <h2 style="margin-bottom:10px;">1. CrowdBar installieren</h2>
      <p>Die CrowdBar ist eine Erweiterung für deinen Browser.</p>

      <a ng-show="browser.isChrome" href="https://chrome.google.com/webstore/detail/crowdbar/lhinknkceoifkecnmmlgnelmdipmbcdn" target="_blank" class="btn-normal btn-color"><i class="icon-magic"></i> Jetzt installieren</a>

      <a ng-show="browser.isFirefox"  href="https://addons.mozilla.org/de/firefox/addon/mein-grundeinkommen-crowdbar/" target="_blank" class="btn-normal btn-color"><i class="icon-magic"></i> Jetzt installieren</a>
      <br>
      <a ng-show="browser.isSafari" href="http://bar.mein-grundeinkommen.de/extension/crowd_bar/crowd_bar.safariextz" target="_blank" class="btn-normal btn-color"><i class="icon-magic"></i> Jetzt herunterladen</a>

      <a ng-if="browser.isChrome" href="https://www.youtube.com/watch?v=TkVIGt90aPM" target="_blank"><i class="icon-youtube-play"></i> Hilfe-Video angucken</a>

     <a ng-if="browser.isFirefox" href="https://www.youtube.com/watch?v=7QvXzZaVULA" target="_blank"><i class="icon-youtube-play"></i> Hilfe-Video angucken</a>

     <a ng-if="browser.isSafari" href="https://www.youtube.com/watch?v=EP-yDuysN18" target="_blank"><i class="icon-youtube-play"></i> Hilfe-Video angucken</a>


      <alert ng-show="!browser.isChrome && !browser.isFirefox && !browser.isSafari">Nur für Firefox-, Chrome- und Safari-Browser verfügbar.<br><br>
<b><u>Aber</u></b> du kannst den Onlineshop deiner Wahl vor deinem Einkauf <a href="https://bar.mein-grundeinkommen.de/shops">in dieser Liste</a> auswählen und so auch beitragen.</alert>
   </div>
</div>
<div class="row margin-top-20 text-left">
   <div class="col-md-3">
      <i style="font-size:100px;color:#bbb" class="icon-shopping-cart"></i>
   </div>
   <div class="col-md-9 text-left-lg">
      <h2 style="margin-bottom:6px;">2. Wie gewohnt einkaufen</h2>
      <p>Immer wenn du auf einem <a href="https://bar.mein-grundeinkommen.de/shops">dieser 527 Shops</a> bist, erscheint über dem Shop die CrowdBar. <br>Ein Klick auf den Knopf - und fertig! Ab da alles wie immer.</p>
   </div>
</div>
<div class="row margin-top-20 text-left">
   <div class="col-md-3">
     <i style="font-size:100px;color:#aaa" class="icon-rocket"></i>
   </div>
   <div class="col-md-9 text-left-lg">

      <h2 style="margin-bottom:6px;">3. Beim Wachsen zusehen</h2>
      <p>
         Der Onlineshop zahlt uns für diese unaufdringliche Werbung eine Verkaufsprovision von ca. 5%. <br>Die stecken wir ins nächste Grundeinkommen!
      </p>
   </div>
</div>
<div class="row margin-top-20 text-left">
   <div class="col-md-3">
     &nbsp;
   </div>
   <div class="col-md-9 text-left-lg">

      <a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid=36026"> <i class="icon-arrow-right"></i> Weitere Infos zur CrowdBar und wie sie funktioniert</a><br>
          <br>
   </div>
</div>