<div class="row text-left">
   <div class="col-md-3">
      <i style="font-size:100px;color:#ccc" class="icon-magic"></i>
   </div>
   <div class="col-md-9 text-left-lg">
      <h2 style="margin-bottom:10px;">1. CrowdBar installieren</h2>
      <p>Die CrowdBar ist eine Erweiterung für deinen Browser.</p>
      <div ng-show="browser.isChrome || browser.isFirefox">
         <a href="http://www.crowdbar.org" target="_blank" analytics-on="click" analytics-event="CrowdBar installiert" class="btn-normal btn-color"><i class="icon-magic"></i> Jetzt installieren</a>
      </div>
      <alert ng-show="!browser.isChrome && !browser.isFirefox">Nur für Firefox- und Chrome-Browser verfügbar.<br>Für Safari ab 1. November 2014.<br><br>
<b><u>Aber</u></b> du kannst den Onlineshop deiner Wahl vor deinem Einkauf <a href="https://bar.mein-grundeinkommen.de/shops">in dieser Liste</a> auswählen und so auch beitragen.</alert>
   </div>
</div>
<div class="row margin-top-20 text-left">
   <div class="col-md-3">
      <i style="font-size:100px;color:#bbb" class="icon-shopping-cart"></i>
   </div>
   <div class="col-md-9 text-left-lg">
      <h2 style="margin-bottom:6px;">2. Wie gewohnt einkaufen</h2>
      <p>Immer wenn du auf einem <a href="https://bar.mein-grundeinkommen.de/shops">dieser 527 Shops</a> bist, erscheint über dem Shop die CrowdBar. <br>Ein Klick auf den Knopf - und fertig! Ab da alles wie immer.</p>
   </div>
</div>
<div class="row margin-top-20 text-left">
   <div class="col-md-3">
     <i style="font-size:100px;color:#aaa" class="icon-rocket"></i>
   </div>
   <div class="col-md-9 text-left-lg">

      <h2 style="margin-bottom:6px;">3. Beim Wachsen zusehen</h2>
      <p>
         Der Onlineshop zahlt uns für diese unaufdringliche Werbung eine Verkaufsprovision von ca. 5%. <br>Die stecken wir ins nächste Grundeinkommen!
      </p>
   </div>
</div>
<div class="row margin-top-20 text-left">
   <div class="col-md-3">
     &nbsp;
   </div>
   <div class="col-md-9 text-left-lg">

      <a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid=36026"> <i class="icon-arrow-right"></i> Weitere Infos zur CrowdBar und wie sie funktioniert</a><br>
          <br>
   </div>
</div>