<div class="container margin-top-70">

  <h1 class="text-center">Häufige Fragen</h1>

  <h3 class="text-center">Wähle einen Themenbereich oder durchsuche alle Fragen & Antworten:</h3>

  <tabset>


    <tab heading="Grundeinkommen" active="categories.projekt" select="tab('projekt')"></tab>

    <tab heading="Grundeinkommen (alt)" active="categories.grundeinkommen" select="tab('grundeinkommen')" ng-if="(current.user && current.user.admin)"></tab>

    <tab heading="Verlosung" active="categories.verlosung" select="tab('verlosung')"></tab>

    <tab heading="Anmeldung/Konto" active="categories.community" select="tab('community')"></tab>

    <tab heading="Crowdfunding" active="categories.crowdfunding" select="tab('crowdfunding')"></tab>

    <tab heading="CrowdCard" active="categories.crowdcard" select="tab('crowdcard')"></tab>

    <tab heading="CrowdBar" active="categories.crowdbar" select="tab('crowdbar')"></tab>

    <tab heading="Crowdhörnchen" active="categories.squirrel" select="tab('squirrel')"></tab>

    <tab heading="Über uns" active="categories.person" select="tab('person')"></tab>

<!--     <tab heading="Gewinnende fragen" active="categories.winners" select="tab('winners')"></tab> -->
    <!-- <tab heading="Sonstiges" select="tab(null)"></tab> -->
  </tabset>

<form style="margin-top:-5px;margin-bottom:10px;">
	<div style="text-align: center; font-weight:bold;font-size: 25px;background:white;color:black;border-radius: 5px;box-shadow:1p 1px 1px black;border:2px solid #ddd;" class="text-center">




        <i class="fa fa-search"></i><input type="text" ng-model="question.$" style="height:50px;padding-left:10px;padding-right:10px;margin:20px;width:70%" font-size="25"
       placeholder="Nach Antworten suchen" maxlength="250">

    <br>

    <!-- <a href="#" class="btn-large btn-color" ng-click="askQuestion()" > Diese Frage jetzt stellen!</a> -->

  	<i ng-show="loading" class="icon-spin fa fa-refresh"></i>

    <div class="clearfix"></div>

<div class="text-left">

    <h3 class="title">&nbsp;</h3>

  <accordion close-others="true" class="listbox">
    <accordion-group is-open="show_answer" ng-repeat="q in questions | orderBy:'-votes' | search:question.$ | filter: question.$ ? {} : (show_answer ? {id:show_answer} : {category:current_tab})" ng-if="q.answer || (current.user && current.user.admin && !q.answer)">
        <accordion-heading>
          <div style="margin: 0px 20px;padding-bottom:15px;border-bottom: 1px solid #ddd;">

            <i class="big fa fa-star float-left" ng-if="current.user && current.user.admin && !q.answer"></i>

            <a href="#" ng-click="up(q)" class="btn-small btn-grey pull-right">Antwort lesen</a>

            <a ng-if="current.user && current.user.admin" href="#" ng-click="delete(q)" class="btn-small btn-grey pull-right"><i class="fa fa-trash"></i>Löschen</a>

             {{q.text}}<br><small class="grey" ng-show="question.$">Kategorie: {{cat2text(q.category)}} | </small><small>{{q.votes}} Leute fragen das</small>
          </div>
        </accordion-heading>
        <div style="margin-left:20px;margin-top:0px;padding: 30px;padding-top:0px;font-size:13px;font-weight:normal;">

          <div class="well" ng-bind-html="q.answer | unsafe"></div>

          <div ng-if="current.user && current.user.admin">

            Frage: <input type="text" ng-model="q.text">

            gefragt: <input type="number" ng-model="question.votes">

            Kategorie: <select ng-model="q.category" ng-options="k as k for (k , v) in categories" ng-change="answer(q)"></select>

            <a href="#" ng-click="answer(q)" class="btn-small btn-grey pull-right"><i class="fa fa-pencil"></i> Beantworten</a>

            <textarea ng-model="q.answer" style="min-width:100%;min-height:300px;"></texarea>


          </div>

          <span ng-if="!q.answer">Bisher wurde diese Frage noch nicht beantwortet. Aber deine Wunsch nach Beantwortung wurde gespeichert und ich beeile mich so schnell wie Möglich zu antworten.</span>
        </div>
    </accordion-group>
  </accordion>

 </div>

 </div>

</form>

</div>