<strong>&sect; 8 Datenschutz</strong></p>
<p>
(1) Es werden nur f&uuml;r das Gewinnspiel notwendige Daten erhoben.<br />
(2)
	Um die mehrfache Registrierung zu verhindern, sind bei der Anmeldung zum Gewinnspiel folgende Daten anzugeben: vollst&auml;ndiger Name, Geburtsdatum<br />
(3) Zusätzlich kann die Postleitzahl angegeben werden. Dies ist eine freiwillig Angabe, die für statistische Auswertungen und regionale Informationen benutzt wird.
<br>(4)
	Nehmen Eltern f&uuml;r ihre Kinder am Gewinnspiel teil, m&uuml;ssen sie zus&auml;tzlich die entsprechenden Daten ihrer Kinder angeben.<br />
	(5)
	Die angegebenen Daten (Name, Geburtsdatum) werden ausschlie&szlig;lich f&uuml;r die Verhinderung von Mehrfachteilnahmen verwendet und nach Ende des Gewinnspiels gel&ouml;scht.<br />(6)
	Die angegebenen Daten werden auf dem eigenen, gesch&uuml;tzten Server des &bdquo;Mein Grundeinkommen&ldquo; e.V. i.G. gespeichert. &nbsp;<br />
	Es gilt dar&uuml;ber hinaus die Datenschutzerkl&auml;rung des &bdquo;Mein Grundeinkommen&ldquo; e.V. i.G. f&uuml;r &bdquo;www.mein-grundeinkommen.de&ldquo;