<div class="container">

    <alert type="danger" ng-if="!current.user.confirmed_at && current.participates()">Du nimmst erst an der Verlosung teil, wenn du deine <a href="/boarding?trigger=participates">E-Mailadresse bestätigt</a> hast.</alert>

    <alert type="danger" ng-if="!current.participation_verified() && current.participates() && !current.has_ordered_crowdcard()">Du nimmst erst an der Verlosung teil, wenn du die <a href="/boarding?go_to=crowdbar">Crowdbar</a> installiert hast oder die <a href="/boarding?go_to=crowdcard">Crowdcard</a> bestellt hast.</alert>

    <alert type="danger" ng-if="!current.participation_verified() && current.participates() && current.has_ordered_crowdcard()">Du nimmst erst an der Verlosung teil, wenn du die Crowdcard per Post erhalten und den Code auf der Karte hier eingetragen hast. Sofort teilnehmen kannst du, wenn du dir die <a href="/boarding?go_to=crowdbar">Crowdbar</a> installierst.</alert>

    <div class="text-center" ng-if="!current.participates()">
<!--    <div class="text-center">

           <h3 class="margin-top-20">Die Anmeldung zum 5. Grundeinkommen hat am <b>14.11.</b> geendet.!</h3>

          <hr>

          <div class="well text-center">
            Im Dezember werden weitere Grundeinkommen verlost.
          </div>
 -->
        <!-- <div class="well">
          <div>Um an der Verlosung teilnehmen zu können, <br>
          gib bitte wenigstens eine Sache an, <br>
          die du mit Grundeinkommen tun würdst.
          </div>
          <a href="#" ng-click="jumpToFirstTab()" class="margin-top-20 btn-normal btn-color">Jetzt sagen</a>
        </div> -->
        <h3>Die nächste Grundeinkommens-Verlosung findet Ende Januar 2015 statt.</h3>
        <a href="/boarding?trigger=wants_to_participate" class="margin-top-20 btn-large btn-color">Jetzt teilnehmen</a>


      </div>

        <div ng-if="current.participates()" ng-include="'/assets/gewinnspiel_form.html'"></div>



        <h3 class="title">&nbsp;</h3>

        <div ng-show="!user.newsletter">
            <div class="text-center"><h3>Du musst zu jeder weiteren Verlosung hier erneut am Gewinnspiel teilnehmen. Gern erinnern wir dich daran per Mail:</h3></div>
          <div class="form-group text-left">
            <div class="col-sm-offset-1 col-sm-11 text-left">
              <div class="checkbox">
                <label>
                  <input name="newsletter" ng-model="user.newsletter" type="checkbox" ng-click="setNewsletterFlag()" analytics-on="click" analytics-event="Newsletter abboniert (im Gewinnspieltab)"> Bitte informiert mich per E-Mail über weitere Verlosungstermine und bei wichtigen Änderungen auf der Seite.
                </label>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="user.newsletter">
          <alert type="success"><i class="icon-envelope"></i> Wir erinnern dich rechtzeitig per E-Mail wenn eine neue Verlosung ansteht!</alert>
        </div>
      </div>