<breadcrumbs></breadcrumbs>

<div class="container margin-top-30">

<div class="text-center">
	<a href="/register" class="btn btn-special btn-color btn-large">Am Gewinnspiel teilnehmen</a>
</div>


<alert class="margin-top-30" type="warning"><h3>Das wichtigste in Kürze:</h3>
<ul style="list-style-type: circle;">
	<li  style="list-style-type: circle;">Du brauchst kein Geld gegeben haben um teilnehmen zu können.</li>
<li style="list-style-type: circle;">Du gehst keinerlei Verpflichtungen ein (z.B. musst du dich nicht von Medien portraitieren lassen).</li>
<li style="list-style-type: circle;">Du musst dich auf dieser Seite <a href="/register">registriert</a> haben und das Formular zur Gewinnspielteilnahme ausfüllen um teilzunehmen.</li>
<li style="list-style-type: circle;">Du musst bis zum 14. November 2014 um 23:59 Uhr teilgenommen haben.</li>
<li style="list-style-type: circle;">Die Grundeinkommen werden am 15. November 2014 öffentlich ausgelost.</li>
<li style="list-style-type: circle;">Du kannst für dich und/oder für deine unter 18-jährigen Kinder teilnehmen.</li>
<li style="list-style-type: circle;">Wenn du die CrowdBar installiert hast (freiwillig), werden deine Gewinnchancen verdoppelt</li>
</ul></alert>


<hr>



					<h1 align="center" class=" margin-top-70">

	Gewinnspielbedingungen des &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). f&uuml;r<br />
	&bdquo;www.mein-grundeinkommen.de&ldquo;</h1>
	<br />
	<br />
	Die Teilnahme an diesem Gewinnspiel und deren Durchf&uuml;hrung richtet sich nach folgenden Bestimmungen.<br />
	<br />
	<br />
	<strong>&sect; 1 Gewinnspiel</strong><br />
	<br />
	(1) Das Gewinnspiel wird vom &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). durchgef&uuml;hrt.<br />
	(2) Alle Menschen, die sich auf www.mein-grundeinkommen.de registriert haben k&ouml;nnen am Gewinnspiel teilnehmen.<br />
	<br />
	<br />
	<strong>&sect; 2 Dauer des Gewinnspiels</strong><br />
	<br />
	(1) Das Gewinnspiel beginnt am Donnerstag, dem 23. Oktober 2014<br />
	(2) Das Gewinnspiel endet am Freitag, dem 14. November 2014 um 23:59 Uhr.<br />
	<br />
	<br />
	<strong>&sect; 3 Gewinn</strong><br />
	<br />
	(1) Zu gewinnen sind 12.000&euro;, die dem/der Gewinner_in ab 01. Dezember 2014 12 Monate lang immer zum 1. des Monats in 1.000&euro; Betr&auml;gen ausgezahlt werden.<br />
	<br />
<!-- 	(2) Weitere 1x 12.000&euro; werden verlost, wenn bis zum 18.09.2014 um 18:00 Uhr auf www.startnext.de/mein-grundeinkommen die finanzierte Summe (ohne Vorkassebeitr&auml;ge) abzgl. 5% (Kosten f&uuml;r die Zahlungsdienstanbieter) gr&ouml;&szlig;er/gleich 36.000&euro; ist. Ein viertes Grundeinkommen wird verlost wenn eben jene Summe abzgl. der 5% 48.000&euro; ist oder &uuml;bersteigt, u.s.w.<br /> -->

	(2) Eine Person kann maximal einmal 12.000&euro; gewinnen. Nimmt eine Person für ihr Kind teil, kann aber sowohl die Person selbst als auch das Kind gewinnen.<br />
	<br />
	(3) Ein Anspruch auf Einmalauszahlung der Gewinnsumme besteht in keinem Fall.<br />
	<br />
	<br />
	<strong>&sect; 4 Teilnehmer_innen</strong><br />
	<br />
	(1) Teilnahmeberechtigt sind Personen ab dem 18. Lebensjahr.<br />
	(2) Alle Menschen, die sich auf www.mein-grundeinkommen.de registriert haben und auf ihrer Profilseite das Formular &bdquo;Am Gewinnspiel teilnehmen&ldquo; ausgefüllt haben, nehmen am Gewinnspiel teil.<br />
	(3) Teilnehmen k&ouml;nnen ausdr&uuml;cklich auch Menschen, die nicht zur Finanzierung der Grundeinkommen per Crowdfunding oder CrowdBar beigetragen haben. Ein unmittelbarer Zusammenhang zwischen dem Unterst&uuml;tzen und der Gewinnm&ouml;glichkeit besteht also nicht.<br />
	(4) Jede Person kann &nbsp;nur einmal am Gewinnspiel teilnehmen. Ausgenommen hiervon sind Eltern von Kindern, sofern die Kinder am letzten Tag des Gewinnspiels das 18. Lebensjahr noch nicht vollendet haben. Diese d&uuml;rfen f&uuml;r sich selbst sowie pro Kind, das am letzten Tag des Gewinnspiels das 18. Lebensjahr noch nicht vollendet hat, einmal am Gewinnspiel teilnehmen.<br />
	(5) Eine wirksame Teilnahme am Gewinnspiel liegt nur dann vor, wenn s&auml;mtliche Angaben des Teilnehmenden bei der Anmeldung vollst&auml;ndig und wahrheitsgem&auml;&szlig; erfolgen.<br />
	(6) Die Teilnahme an einem Gewinnspiel steht nicht im Zusammenhang mit dem Erwerb einer Ware oder der Inanspruchnahme einer Dienstleistung.<br />
	<br />
	<br />
	<strong>&sect; 5 Ausschluss vom Gewinnspiel</strong><br />
	<br />
	<!-- (1) Mitglieder des &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). und die jeweiligen Angeh&ouml;rigen dieser sind von der Teilnahme ausgeschlossen.<br /> -->
	(1) Menschen, die in früheren Verlosungsrunden von "Mein Grundeinkommen" gewonnen haben und am Tag der Auslosung noch immer ein Grundeinkommen beziehen, sind von der Teilnahme ausgeschlossen.<br>
	(2) Finden in Zukunft weitere Verlosungsrunden &nbsp;statt, bleiben die Gewinner/-innen fr&uuml;herer Runden f&uuml;r die Dauer der Gewinnauszahlungen von der Verlosung ausgeschlossen. Gewinnen Eltern für eines oder mehrere ihrer Kinder, so ist die Teilnahme nur f&uuml;r dieses Kind f&uuml;r die Dauer der Gewinnauszahlungen &nbsp;ausgeschlossen. Gewinnen Eltern f&uuml;r sich selbst, d&uuml;rfen sie weiterhin f&uuml;r ihre minderj&auml;hrigen Kinder teilnehmen.<br />
	(3) Bei einem Versto&szlig; gegen diese Teilnahmebedingungen beh&auml;lt sich der &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). das Recht vor, Personen vom Gewinnspiel auszuschlie&szlig;en.<br />
	<br />
	<br />
	<strong>&sect; 6 Durchf&uuml;hrung der Verlosung </strong></p>
<p>
	(1) Die Verlosung ist &ouml;ffentlich und findet am 15. November 2014 statt. Der genaue Ort und die Uhrzeit werden zuvor auf www.mein-grundeinkommen.de bekannt gegeben.<br />
	(2) Nach Ablauf des Gewinnspiels am 14. November 2014 um 23:59 Uhr erhalten alle Teilnehmer_innen Losnummern, die im Laufe des 15. Novembers 2014 auf ihrer Profilseite auf mein-grundeinkommen.de ver&ouml;ffentlicht werden.  Die Teilnehmer_innen, die die Browsererweiterung "CrowdBar" installiert haben, erhalten zusätzlich eine zweite Losnummer für sich und jedes ihrer teilnehmenden Kinder. Bei der &ouml;ffentlichen Verlosung wird für jedes zu verlosende Grundeinkommen (12.000€) eine Zufallszahl generiert. Die Losnummern, die einer dieser Zufallszahlen entsprechen, haben gewonnen.<br />
	<br />
	<br />
	<br />
	<strong>&sect; 7 Abwicklung</strong><br />
	<br />
	(1) Die Gewinner_innen werden per E-Mail benachrichtigt, und auf www.mein-grundeinkommen.de wird der Link zu ihrer dortigen Profilseite ver&ouml;ffentlicht. Mit dieser Form der Ver&ouml;ffentlichung erkl&auml;rt sich der/die Gewinner_in ausdr&uuml;cklich einverstanden.<br />
	(2) Der/die Gewinner_in ist verpflichtet nachzuweisen, dass die zur Teilnahme gemachten Angaben (Name, Geburtsdatum) der Wahrheit entsprechen. 
	<br>
	(3) Meldet sich der/die Gewinner_in nicht innerhalb von einer Woche nach Zugang der Gewinnmitteilung, so verf&auml;llt der Anspruch auf den Gewinn. F&uuml;r die Richtigkeit der angegebenen E-Mail-Adresse ist der/die Teilnehmende verantwortlich.<br />
	(4) Die Auszahlung des Gewinns erfolgt in Bar oder per &Uuml;berweisung auf ein Konto im SEPA-Zahlungsraum. Transaktionskosten oder Geb&uuml;hren bei der &Uuml;bermittlung auf anderen Wegen werden vom Gewinn einbehalten.<br />
	(5) Beschwerden sind unter Angabe des Gewinnspiels innerhalb von 7 Tagen nach Bekanntwerden des Grundes schriftlich an den &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.)., Taborstr. 21, 10997 Berlin zu richten. Fernm&uuml;ndlich mitgeteilte oder versp&auml;tete Beschwerden k&ouml;nnen nicht bearbeitet werden. Auf versp&auml;tete Beschwerden kann sich der/die Teilnehmemde nicht berufen; der &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.).&nbsp; wird im Falle versp&auml;teter Beschwerden von seiner Leistungspflicht frei.<br />
	<br />
	<br />

	<div ng-include="'/assets/gewinnspielbedingungen_datenschutz.html'"></div>

	<br />
	<br />
	<strong>&sect; 9 Vorzeitige Beendigung des Gewinnspiels</strong><br />
	<br />
	(1) Der &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). beh&auml;lt sich vor, das Gewinnspiel zu jedem Zeitpunkt ohne Vorank&uuml;ndigung abzubrechen oder zu beenden. Von dieser M&ouml;glichkeit macht der &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). insbesondere dann Gebrauch, wenn aus technischen Gr&uuml;nden (z.B. Viren im Computersystem, Manipulation oder Fehler in der Hard- und/oder Software) oder aus rechtlichen Gr&uuml;nden eine ordnungsgem&auml;&szlig;e Durchf&uuml;hrung des Spiels nicht gew&auml;hrleistet werden kann. Sofern eine derartige Beendigung durch das Verhalten eines/einer Teilnehmenden verursacht wurde, so kann der &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). von dieser Person den entstandenen Schaden ersetzt verlangen.<br />
	(2) Erf&uuml;llungs- und Schadensersatzanspr&uuml;che der Teilnehmenden bei vorzeitiger Beendigung des Gewinnspiels sind ausgeschlossen.<br />
	<br />
	<br />
	<strong>&sect; 10 Haftung</strong><br />
	&nbsp;<br />
	(1) Die Bekanntgabe der Gewinner erfolgt ohne Gew&auml;hr.<br />
	(2) Der Veranstalter haftet in keiner Form f&uuml;r mittelbare oder unmittelbare Sch&auml;den, die sich aus der Teilnahme an der Aktion oder der Nichterreichbarkeit des Internet-Servers ergeben, es sei denn, diese sind auf grob fahrl&auml;ssiges oder vors&auml;tzliches Handeln zur&uuml;ckzuf&uuml;hren, welches von dem Veranstalter zu vertreten ist.<br />
	<br />
	<strong>&sect; 11 Sonstiges</strong><br />
	<br />
	(1) Die Durchf&uuml;hrung des Gewinnspiels und die Auswahl der Preise obliegen dem &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.)..<br />
	(2) Sollten einzelne Bestimmungen der Gewinnspielbedingungen ung&uuml;ltig sein oder werden, bleibt die G&uuml;ltigkeit der &uuml;brigen Gewinnspielbedingungen unber&uuml;hrt.<br />
	(3) Diese Gewinnspielbedingungen k&ouml;nnen jederzeit von dem &bdquo;Mein Grundeinkommen&ldquo; e.V. (i.Gr.). ohne gesonderte Benachrichtigung ge&auml;ndert werden.<br />
	(4) Die Korrespondenzsprache ist Deutsch.<br />
	(5) Deutsches Recht ist anwendbar, soweit der durch zwingende Bestimmungen des Rechts des Staates, in dem die/der Teilnehmende gew&ouml;hnlichen Aufenthalt hat, gew&auml;hrte Schutz nicht entzogen wird.<br />
	&nbsp;</p>

<div class="text-center">
	<a href="/register" class="btn btn-special btn-color btn-large">Am Gewinnspiel teilnehmen</a>
</div>

	</div>
