<div ng-controller="ChancesController">
  <form class="form-horizontal" ng-submit="saveChances()" role="form"novalidate>

    <div class="text-right">
      <small><a href="#" ng-click="datenschutz()"><i class="icon-info"></i> Warum soll ich diese Angaben machen?</a></small>
    </div>


    <div ng-repeat="chance in chances_form.chances | orderBy:chance.isChild">
    <!-- <div ng-show="chance.iwant || chance.isChild"> -->

      <div class="form-group" ng-if="chance.isChild">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-10">
          <h3 class="title" style="margin-bottom: 10px;margin-top: 20px;"><i class="fa fa-child"></i> Teilnehmen für {{chance.first_name ? chance.first_name : 'mein Kind'}} <a href="#" ng-click="cancelChild(chance)" class="btn btn-tiny btn-grey" style="font-size: 12px;line-height: 12px;margin-top: -6px;margin-left: 6px;">Doch nicht</a></h3>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail8" class="col-sm-2 control-label">Vorname(n)</label>
        <div class="col-sm-10 text-left">
          <input name="name" ng-model="chance.first_name" type="text" class="form-control" id="inputEmail8" placeholder="exakt wie auf dem Ausweis" maxlength="50" required>
          <alert ng-show="chance.errors.firstName">{{chance.errors.firstName[0]}}</alert>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nachname</label>
        <div class="col-sm-10 text-left">
          <input name="name" ng-model="chance.last_name" type="text" class="form-control" id="inputEmail3" placeholder="exakt wie auf dem Ausweis" maxlength="50" required>
          <alert ng-show="chance.errors.lastName">{{chance.errors.lastName[0]}}</alert>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail4" class="col-sm-2 control-label">Geburtsdatum</label>
        <div class="col-sm-3 text-left">
          <input name="dob" ng-model="chance.dob_day" type="number" class="form-control" ng-required="true" placeholder="Tag" min="1" max="31" required>
        </div>
        <div class="col-sm-3 text-left">
          <input name="dob" ng-model="chance.dob_month" type="number" class="form-control" ng-required="true" placeholder="Monat" min="1" max="12" required>
        </div>
        <div class="col-sm-4 text-left">
          <input name="dob" ng-model="chance.dob_year" type="number" class="form-control" ng-required="true" placeholder="Jahr" min="1900" max="2015" required>
        </div>

      </div>
      <alert ng-show="chance.errors.dob">{{chance.errors.dob.join()}}</alert>

    </div>

    <div class="form-group">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-10">
        <h3 class="title" style="margin-bottom:5px">&nbsp;</h3>
      </div>
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-10 text-center">
          <a href="#" ng-click="addChild()" class="text-center btn btn-color btn-small" >Mein Kind (unter 18) hinzufügen</a>
      </div>
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-10">
        <h3 class="title" style="margin-bottom:5px">&nbsp;</h3>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail12" class="col-sm-2 control-label">Postleitzahl</label>
      <div class="col-sm-10 text-left">
        <input name="city" ng-model="city" type="text" class="form-control" id="inputEmail12" placeholder="Pflichtfeld" maxlength="5" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail12" class="col-sm-2 control-label">Telefonnummer</label>
      <div class="col-sm-10 text-left">
        <input name="phone" ng-model="phone" type="text" class="form-control" id="inputEmail22" placeholder="Damit wir dich im Falle deines Gewinns anrufen können (optional)" required>
      </div>
    </div>

    <br>

    <!-- <div class="form-group text-left" style="margin-top:-20px;">
      <div class="col-sm-offset-2 col-sm-10 text-left">
        <div class="checkbox">
          <label>
            <input name="haveCB" ng-model="gotCrowdcardAsGift" value="true" type="checkbox"> Ich habe bereits eine <a href="/crowdcard" target="_blank">CrowdCard</a> (optional)
          </label>
        </div>
      </div>
    </div>
 -->

    <div class="form-group text-left" style="margin-top:-20px;">
      <div class="col-sm-offset-2 col-sm-10 text-left">
        <div class="checkbox">
          <label>
            <input name="publication" ng-model="confirmed_publication" value="true" type="checkbox"> Ich stimme den <a href="#" ng-click="gewinnspielbedingungen()">Gewinnspielbedingungen</a> zu. Insbesondere bin ich im Gewinnfall mit der Veröffentlichung des Links zu meiner <a href="/menschen/{{current.user.id}}">Profilseite</a> einverstanden.
          </label>
          <alert ng-show="confirmed_publication_error">Häkchen muss angeklickt sein.</alert>
        </div>
      </div>
    </div>



    <div class="form-group text-left" style="margin-top:-20px;">
      <div class="col-sm-offset-2 col-sm-10 text-left">
        <div class="checkbox">
          <label>
            <input name="mediacoverage" ng-model="mediacoverage" value="true" type="checkbox"> Wenn ich gewinne, bin ich bereit, darüber Auskunft zu geben, wie es mir mit meinem Gewinn geht. <a popover="Das Projekt lebt von den Geschichten und Erlebnissen von Micha und den Gewinnenden. Ihre Geschichten sind der Kern unserer Arbeit. Daher sind wir auf die Medienbereitschaft der Gewinnenden angewiesen. Hauptbestandteil davon sind Interviews mit Journalist*innen von Rundfunk, TV- und Printmedien. In welchem Maße ihr euch und euer Leben in der Öffentlichkeit präsentieren möchtet, liegt bei euch. Von einer anonymisierten Mail bis zur TV-Homestory ist alles möglich. Wir übernehmen die Koordination und Vorbereitung der Anfragen und leiten nur diejenigen weiter, denen du zugestimmt hast. - Was meinst du?">Warum ist uns das wichtig?</a> (freiwillig, hat keine Auswirkungen auf deine Gewinnchancen, aber sehr wichtig fürs Projekt)
          </label>
        </div>
      </div>
    </div>


    <!-- <div  class="form-group text-left" style="margin-top:-20px;">
      <div class="col-sm-offset-2 col-sm-10 text-left">
        <div class="checkbox">
          <label>
            <input name="remember_data" ng-click="editChances = false" ng-model="remember_data" value="true" type="checkbox"> Diese Daten bis nach der Verlosung speichern, damit ich sie bei der nächsten Verlosung nicht erneut eintippen muss (auf "Teilnehmen" zu klicken wird aber trotzdem wieder notwendig sein).
          </label>
        </div>
      </div>
    </div> -->

    <div  class="form-group text-left" style="margin-top:-20px;">
      <div class="col-sm-offset-2 col-sm-10 text-left">
        <div class="checkbox">
          <label>
            <input name="remember_data" ng-click="editChances = false" ng-model="current.user.isSquirrel" value="true" type="checkbox" ng-change="openSquirrelModal()"> <span ng-hide="current.isSquirrel()">Ich möchte automatisch an allen zukünftigen Verlosungen teilnehmen. Daher werde ich <a href="#" ng-click="openSquirrelModal()">Crowdhörnchen</a></span><span ng-show="current.isSquirrel()">Ich bin <a href="#" ng-click="openSquirrelModal()">Crowdhörnchen.</a> Solange ich das bin, nehme ich automatisch an allen Verlosungen teil.</span>.
          </label>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="squirrelmodal.html">
      <div class="modal-header">
            <h3 class="float-left modal-title">Crowdhörnchen werden</h3>
        </div>
        <div class="modal-body">
          <mge-squirrel></mge-squirrel>
        </div>
        <div class="modal-footer">
          <div class="text-center"><a href="javascript:void(0)" ng-click="$close()">Schließen</div>
        </div>

    </script>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-center">
        <input type="submit" class="btn btn-special btn-color" value="{{ current.isSquirrel() ? 'Speichern & Dauerhaft Teilnehmen' : 'Speichern & Teilnehmen'}}"  ng-disabled="submitted">
      </div>
    </div>

   </form>
</div>