<div class="container">

    <!-- <alert ng-show="!chances_form.editAllChances && current.hasCode()" type="success" class="margin-top-30">
      <h3 style="margin-bottom:0"><i class="fa fa-check"></i> Du nimmst an der Verlosung des 14. Grundeinkommens am 22. August teil!</h3>
    </alert>
    -->

     <p ng-show="!chances_form.editAllChances">
      <h3 style="margin-bottom:0;">Das 16. & 17. Grundeinkommen wird am 25. Oktober 2015 verlost
      </h3>
      <a href="/gewinnspielbedingungen">Gewinnspielbedingungen</a>
    | <a href="/faq/verlosung">Häufige Fragen</a>
    | <a href="/tandem">So funktioniert das Tandem</a>
    </p>

     <div class="text-center" ng-hide="current.participates()">

        <a class="btn-large btn-color btn" href="/boarding?trigger=wants_to_participate">Jetzt teilnehmen!</a>

       <!--  <alert>Die Anmeldung zur Verlosung ist geschlossen. Das nächste Grundeinkommen wird Mitte Oktober verlost. Du kannst dich in den nächsten Tagen dafür anmelden.</alert> -->

      </div>

        <div ng-show="current.participates()">

          <alert ng-show="!chances_form.editAllChances" type="success" class="margin-top-30">
            <h3 style="margin-bottom:0" ng-if="!chance.isChild"><i class="fa fa-check"></i> Du nimmst an der Verlosung der Tandem-Grundeinkommen teil!</h3>
          </alert>

          <ul ng-hide="chances_form.editAllChances">
            <li style="float:right"><a ng-show="!chances_form.editAllChances" ng-click="chances_form.editAllChances = true" href="#" class="btn btn-color btn-small" ><i class="fa fa-pencil"></i> Daten ändern</a></li>

            <li ng-repeat="chance in current.user.chances | orderBy:chance.isChild">
              <div ng-if="chance.id" class="margin-top-30">
                <div style="padding-left:30px;">
                <p>
                  <b>Vollständiger Name (exakt wie auf Ausweis):</b> {{chance.first_name}} {{chance.last_name}}
                  <br>
                  <b>Geburtsdatum:</b> {{chance.dob | date:'dd.MM.yyyy'}}
                </p>
                </div>
              </div>
              <hr>
            </li>
          </ul>




          <div ng-controller="TandemsController">
            <div ng-hide="chances_form.editAllChances">

              <div ng-include="'/assets/tandem_form.html'" ng-init="location = 'overview'"></div>
              <hr>
              <div sytle="clear:both"></div>
            </div>
          </div>



          <div ng-show="chances_form.editAllChances" ng-include="'/assets/gewinnspiel_form.html'"></div>

        </div>



        <h3 class="title">&nbsp;</h3>

        <div ng-show="!user.newsletter">
            <div class="text-center"><h3>Du musst zu jeder weiteren Verlosung hier erneut am Gewinnspiel teilnehmen. Gern erinnern wir dich daran per Mail:</h3></div>
          <div class="form-group text-left">
            <div class="col-sm-offset-1 col-sm-11 text-left">
              <div class="checkbox">
                <label>
                  <input name="newsletter" ng-model="user.newsletter" type="checkbox" ng-click="setNewsletterFlag()" analytics-on="click" analytics-event="Newsletter abboniert (im Gewinnspieltab)"> Bitte informiert mich per E-Mail über weitere Verlosungstermine und bei wichtigen Änderungen auf der Seite.
                </label>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="user.newsletter">
          <alert type="success"><i class="icon-envelope"></i> Wir erinnern dich rechtzeitig per E-Mail wenn eine neue Verlosung ansteht!</alert>
        </div>
      </div>
