<div class="modal-body">
<breadcrumbs ng-hide="is_modal"></breadcrumbs>

<div class="container margin-top-30">

<div ng-hide="is_modal" class="text-center">
	<a href="/register" class="btn btn-special btn-color">Am Gewinnspiel teilnehmen</a>
</div>


<alert class="margin-top-30" type="warning">
<h3>Das Wichtigste in Kürze:</h3>
<ul style="list-style-type: circle;">
 <li>Du brauchst kein Geld zu geben um teilnehmen zu können.</li>
 <li>Du gehst keinerlei Verpflichtungen ein.</li>
 <li>Du musst dich auf dieser Seite <a href="/register">registriert</a> haben und das Formular zur Gewinnspielteilnahme ausfüllen um teilzunehmen.</li>
 <li>Du musst bis zum 03. Februar 2016 um 20:00 Uhr teilgenommen haben, um an der Verlosung teilzunehmen.</li>
 <li>Die Grundeinkommen werden am 3. Februar verlost.</li>
 <li>Du kannst für dich und/oder für deine unter 14-jährigen Kinder teilnehmen.</li>
</ul>
</alert>


<hr>



<h1 align="center" class=" margin-top-70">

	Gewinnspielbedingungen des &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. f&uuml;r<br />
	&bdquo;www.mein-grundeinkommen.de&ldquo;</h1>
	<br />
	<br />
	Die Teilnahme an diesem Gewinnspiel und deren Durchf&uuml;hrung richtet sich nach folgenden Bestimmungen.<br />
	<br />
	<br />
	<strong>&sect; 1 Gewinnspiel</strong><br />
	(1) Das Gewinnspiel wird vom &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. durchgef&uuml;hrt.<br />
	(2) Alle Menschen, die sich auf www.mein-grundeinkommen.de registriert haben k&ouml;nnen am Gewinnspiel teilnehmen.

	<!-- , sofern sie entweder<br />

	  a) die Crowdbar installiert haben und dies zwischen dem Beginn des Gewinnspiels und dem Zeitpukt der Registrierung zum Gewinnspiel durch den/die Teilnehmende vom System mindestens einmal erkannt wurde, oder</br>
	  b) im Besitz einer Crowdcard sind.<br>
	 (3) Desweiteren können Menschen teilnehmen, die auf der Verlosungsparty am 22.2. eines der Crowdcard-Lose vor Ort erhalten, sofern sie nicht bereits ein Profil bei Mein-Grundeinkommen.de haben, mit dem sie am Gewinnspiel teilnehmen.
 -->
	<br />
	<br />
	<strong>&sect; 2 Dauer des Gewinnspiels</strong><br />
	<br />
    (1) Das Gewinnspiel beginnt Mittwoch, den 06. Januar 2016.<br />
    (2) Das Gewinnspiel endet am 03. Februar um 20:00 Uhr.<br/>
	<br />
	<br />
	<strong>&sect; 3 Gewinn</strong><br />
	<br />
	(1) Zu gewinnen sind zweimal 12.000 &euro;, die den gewinnenden Personen ab 01. März 2016 zwölf Monate lang immer zum 1. des Monats in 1.000-&euro;-Betr&auml;gen ausgezahlt werden.<br />
<!-- 	(2) Sofern bis zum Zeitpunkt der Verlosung weitere Grundeinkommen in Höhe von jeweils 12.000 &euro; vollständig finanziert sind, werden diese weiteren Grundeinkommen ebenfalls verlost.<br /> -->

	(2) Eine Person kann maximal einmal 12.000 &euro; gewinnen. Nimmt eine Person für ihr Kind/ihre Kinder teil, kann aber sowohl die Person selbst als auch jedes Kind einmal gewinnen.<br />
	(3) Ein Anspruch auf Einmalauszahlung der Gewinnsumme besteht in keinem Fall.<br />
	<br />
	<br />
	<strong>&sect; 4 Teilnehmende</strong><br />
	<br />
	(1) Teilnahmeberechtigt sind Personen, die zum Zeitpunkt der Anmeldung das 14. Lebensjahr vollendet haben.<br />
	(2) Alle Menschen, die sich auf www.mein-grundeinkommen.de registriert haben und auf ihrer Profilseite das Formular &bdquo;Am Gewinnspiel teilnehmen&ldquo; ausgefüllt haben, nehmen am Gewinnspiel teil.<br />
	(3) Teilnehmen k&ouml;nnen ausdr&uuml;cklich auch Menschen, die nicht zur Finanzierung der Grundeinkommen per Crowdfunding oder CrowdBar beigetragen haben. Ein unmittelbarer Zusammenhang zwischen dem Unterst&uuml;tzen und der Gewinnm&ouml;glichkeit besteht also nicht.<br />
	(4) Jede Person kann &nbsp;nur einmal über die Website am Gewinnspiel teilnehmen. Ausgenommen hiervon sind Eltern von Kindern, sofern die Kinder am 03. Februar 2016 <!-- letzten Tag des Gewinnspiels-->das 14. Lebensjahr noch nicht vollendet haben. Diese d&uuml;rfen f&uuml;r sich selbst sowie pro Kind, das am letzten Tag des Gewinnspiels das 14. Lebensjahr noch nicht vollendet hat, einmal am Gewinnspiel teilnehmen.<br />
	(5) Eine wirksame Teilnahme am Gewinnspiel liegt nur dann vor, wenn s&auml;mtliche Angaben des Teilnehmenden bei der Anmeldung vollst&auml;ndig und wahrheitsgem&auml;&szlig; erfolgen.<br />
	(6) Die Teilnahme an einem Gewinnspiel steht nicht im Zusammenhang mit dem Erwerb einer Ware oder der Inanspruchnahme einer Dienstleistung.<br />
	(7) Minderjährige Teilnehmer fragen bitte ihre Eltern, ob
diese mit der Teilnahme einverstanden sind.
	<br />
	<br />
	<strong>&sect; 5 Ausschluss vom Gewinnspiel</strong><br />
	<br />
	(1) Menschen, die in früheren Verlosungsrunden von „Mein Grundeinkommen“ gewonnen haben und am Tag der Auslosung noch immer ein Grundeinkommen beziehen, sind von der Teilnahme ausgeschlossen.<br>
	(2) Finden in Zukunft weitere Verlosungsrunden &nbsp;statt, bleiben die Gewinnenden fr&uuml;herer Runden f&uuml;r die Dauer der Gewinnauszahlungen von der Verlosung ausgeschlossen. Gewinnen Eltern für eines oder mehrere ihrer Kinder, so ist die Teilnahme nur f&uuml;r dieses Kind f&uuml;r die Dauer der Gewinnauszahlungen &nbsp;ausgeschlossen. Gewinnen Eltern f&uuml;r sich selbst, d&uuml;rfen sie weiterhin f&uuml;r ihre minderj&auml;hrigen Kinder teilnehmen.<br />
	(3) Bei einem Versto&szlig; gegen diese Teilnahmebedingungen beh&auml;lt sich der &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. das Recht vor, Personen vom Gewinnspiel auszuschlie&szlig;en.<br />
    (4) Sofern das Gewinnspiel oder die Teilnahme daran am Ort der Teilnahme durch Gesetze oder andere Regelungen verboten ist, ist die Teilnahme von diesem Ort aus leider nicht möglich.<br />
	<br />
	<br />
	<strong>&sect; 6 Durchf&uuml;hrung der Verlosung </strong></p>
<p>
	(1) Die Verlosungen finden &ouml;ffentlich statt. Der genaue Ort und die Uhrzeit werden zuvor auf www.mein-grundeinkommen.de bekannt gegeben.<br />
	(2) Nach Ablauf des Gewinnspiels erhalten alle Teilnehmenden Losnummern, die auf ihrer Profilseite auf mein-grundeinkommen.de ver&ouml;ffentlicht werden.  <!-- Die Teilnehmenden, die die Browsererweiterung „CrowdBar“ installiert haben, erhalten zusätzlich eine zweite Losnummer für sich und jedes ihrer teilnehmenden Kinder. --> Bei der &ouml;ffentlichen Verlosung wird für jedes zu verlosende Grundeinkommen (12.000 €) eine Zufallszahl generiert. Die Losnummern, die einer dieser Zufallszahlen entsprechen, haben gewonnen. <!-- Das zweite Grundeinkommen wird unter allen Tandems der Person ausgelost, die das erste Grundeinkommen gewonnen hat. Sollte diese Person keine_n Tandempartner_in besitzen, so wird das zweite Grundeinkommen nicht vergeben, sondern fließt zurück in den Lostopf. --><br />
	<br />
	<br />
	<br />
	<strong>&sect; 7 Abwicklung</strong><br />
	<br />
	(1) Die Gewinnenden werden per E-Mail benachrichtigt, und auf www.mein-grundeinkommen.de wird der Link zu ihrer dortigen Profilseite ver&ouml;ffentlicht. Mit dieser Form der Ver&ouml;ffentlichung erkl&auml;ren sich die Gewinnenden ausdr&uuml;cklich einverstanden.<br />
	(2) Die Gewinnenden sind verpflichtet nachzuweisen, dass die zur Teilnahme gemachten Angaben (Name, Geburtsdatum) der Wahrheit entsprechen. 
	<br>
	(3) Meldet eine/r der Gewinnenden nicht innerhalb von einer Woche nach Zugang der Gewinnmitteilung, so verf&auml;llt der Anspruch auf den Gewinn. F&uuml;r die Richtigkeit der angegebenen E-Mail-Adresse ist der/die Teilnehmende verantwortlich.<br />
	(4) Die Auszahlung des Gewinns erfolgt in Bar oder per &Uuml;berweisung auf ein Konto im SEPA-Zahlungsraum. Transaktionskosten oder Geb&uuml;hren bei der &Uuml;bermittlung auf anderen Wegen werden vom Gewinn einbehalten.<br />
	(5) Beschwerden sind unter Angabe des Gewinnspiels innerhalb von 7 Tagen nach Bekanntwerden des Grundes schriftlich an den &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V., Skalitzer Straße 85-86, Aufgang B, 10997 Berlin zu richten. Fernm&uuml;ndlich mitgeteilte oder versp&auml;tete Beschwerden k&ouml;nnen nicht bearbeitet werden. Auf versp&auml;tete Beschwerden kann sich der/die Teilnehmemde nicht berufen; der &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. wird im Falle versp&auml;teter Beschwerden von seiner Leistungspflicht frei.<br />
	<br />
	<br />

	<div ng-include="'/assets/gewinnspielbedingungen_datenschutz.html'"></div>

	<br />
	<br />
	<strong>&sect; 9 Vorzeitige Beendigung des Gewinnspiels</strong><br />
	<br />
	(1) Der &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. beh&auml;lt sich vor, das Gewinnspiel zu jedem Zeitpunkt ohne Vorank&uuml;ndigung abzubrechen oder zu beenden. Von dieser M&ouml;glichkeit macht der &bdquo;Mein Grundeinkommen&ldquo; e.V. insbesondere dann Gebrauch, wenn aus technischen Gr&uuml;nden (z.B. Viren im Computersystem, Manipulation oder Fehler in der Hard- und/oder Software) oder aus rechtlichen Gr&uuml;nden eine ordnungsgem&auml;&szlig;e Durchf&uuml;hrung des Spiels nicht gew&auml;hrleistet werden kann. Sofern eine derartige Beendigung durch das Verhalten eines/einer Teilnehmenden verursacht wurde, so kann der &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. von dieser Person den entstandenen Schaden ersetzt verlangen.<br />
	(2) Erf&uuml;llungs- und Schadensersatzanspr&uuml;che der Teilnehmenden bei vorzeitiger Beendigung des Gewinnspiels sind ausgeschlossen.<br />
	<br />
	<br />
	<strong>&sect; 10 Haftung</strong><br />
	&nbsp;<br />
	(1) Die Bekanntgabe der Gewinnenden erfolgt ohne Gew&auml;hr.<br />
	(2) Der Veranstalter haftet in keiner Form f&uuml;r mittelbare oder unmittelbare Sch&auml;den, die sich aus der Teilnahme an der Aktion oder der Nichterreichbarkeit des Internet-Servers ergeben, es sei denn, diese sind auf grob fahrl&auml;ssiges oder vors&auml;tzliches Handeln zur&uuml;ckzuf&uuml;hren, welches von dem Veranstalter zu vertreten ist.<br />
	<br />
	<strong>&sect; 11 Sonstiges</strong><br />
	<br />
	(1) Die Durchf&uuml;hrung des Gewinnspiels und die Auswahl der Preise obliegen dem &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V.<br />
	(2) Sollten einzelne Bestimmungen der Gewinnspielbedingungen ung&uuml;ltig sein oder werden, bleibt die G&uuml;ltigkeit der &uuml;brigen Gewinnspielbedingungen unber&uuml;hrt.<br />
	(3) Diese Gewinnspielbedingungen k&ouml;nnen jederzeit von dem &bdquo;Mein Grundeinkommen&ldquo;&nbsp;e.V. ohne gesonderte Benachrichtigung ge&auml;ndert werden.<br />
	(4) Die Korrespondenzsprache ist Deutsch.<br />
	(5) Deutsches Recht ist anwendbar, soweit der durch zwingende Bestimmungen des Rechts des Staates, in dem die/der Teilnehmende gew&ouml;hnlichen Aufenthalt hat, gew&auml;hrte Schutz nicht entzogen wird.<br />
	&nbsp;</p>

<div class="text-center">
	<a  ng-hide="is_modal" href="/register" class="btn btn-special btn-color">Am Gewinnspiel teilnehmen</a>

	<a  ng-show="is_modal" ng-click="$close()" class="btn btn-special btn-color btn-large">Okay</a>
</div>

	</div>
</div>
