<div class="modal-body">
<breadcrumbs ng-hide="is_modal"></breadcrumbs>

<div class="container margin-top-30">

<div ng-hide="is_modal" class="text-center">
  <a href="/register" class="btn btn-special btn-color">Am Gewinnspiel teilnehmen</a>
</div>


<alert class="margin-top-30" type="warning">
<h3>Das Wichtigste in Kürze:</h3>
  <ul style="list-style-type: circle;">
    <li>Du brauchst kein Geld zu geben, um teilnehmen zu können.</li>
    <li>Du gehst keinerlei Verpflichtungen ein.</li>
    <li>Du musst dich auf dieser Seite <a href="/register">registriert</a> haben und das Formular zur Gewinnspielteilnahme ausfüllen um teilzunehmen.</li>
    <!--# RAFFLE DATE-->
    <li>Du musst dich bis zum 23. August 2016 um 18.30 Uhr für die Verlosung anmelden.</li>
    <li>Die Grundeinkommen werden am 23. August 2016 nach Anmeldeschluss verlost.</li>
    <!--<li>Es handelt sich um eine Sonderverlosung in Kooperation mit [NAME].</li>
    <li>Der Termin für die nächste Verlosung wird demnächst bekannt gegeben.</li>-->
    <li>Du kannst für dich und/oder für deine unter 14-jährigen Kinder teilnehmen.</li>
    <li>Im Falle eines Gewinns wird deine Profilseite (Foto, Nutzername, Wünsche) veröffentlicht.</li>
  </ul>
</alert>


<hr>



<h1 align="center" class=" margin-top-70">

Gewinnspielbedingungen des Mein Grundeinkommen e.V. für www.mein-grundeinkommen.de
</h1>
Die Teilnahme an diesem Gewinnspiel und deren Durchführung richtet sich nach folgenden Bestimmungen:
<br>
<br>
<strong>§ 1 Gewinnspiel</strong>
<br>
<br>
<ul>
  <li>(1) Das Gewinnspiel wird vom Mein Grundeinkommen e.V. durchgeführt.<br></li>
  <li>(2) Alle Menschen, die sich auf www.mein-grundeinkommen.de registriert haben, können am Gewinnspiel teilnehmen.<br></li>
  <!--<li>(3) Bei dem Gewinnspiel mit der Verlosung am [DATE] handelt es sich um eine Sonderverlosung (siehe § 11) in Kooperation mit [NAME].</li>-->
</ul>
<br>
<br>
<strong>§ 2 Dauer des Gewinnspiels</strong>
<br>
<br>
<ul>
  <li>(1) Das Gewinnspiel beginnt am 4. August 2016.</li>
  <li>(2) Das Gewinnspiel endet am 23. August 2016 mit der Verlosung.</li>
</ul>
<br>
<br>
<strong>§ 3 Gewinn</strong>
<br>
<br>
<ul>
  <li>(1) Zu gewinnen sind mindestens einmal 12.000 €, die den gewinnenden Personen zwölf Monate lang in 1.000-€-Beträgen ausgezahlt werden.</li>
  <li>(2) Die erste Auszahlung erfolgt immer zum 1. desjenigen Monats der auf den Monat der Verlosung folgt.</li>
  <li>(3) Eine Person kann maximal einmal 12.000 € gewinnen. Nimmt eine Person für ihr Kind/ihre Kinder teil, kann aber sowohl die Person selbst als auch jedes Kind einmal gewinnen.</li>
  <li>(4) Ein Anspruch auf Einmalauszahlung der Gewinnsumme besteht in keinem Fall.</li>
  
</ul>
<br>
<br>
<strong>§ 4 Teilnehmende</strong>
<br>
<br>
<ul>
  <li>(1) Teilnahmeberechtigt sind alle Personen, die zum Zeitpunkt der Anmeldung das 14. Lebensjahr vollendet haben.</li>
  <li>(2) Alle Menschen, die sich auf www.mein-grundeinkommen.de registriert haben und auf ihrer Profilseite das Formular „Am Gewinnspiel teilnehmen“ ausgefüllt haben, nehmen an der aktuellen Verlosung teil.</li>
  <li>(3) Teilnehmen können ausdrücklich auch Menschen, die nicht zur Finanzierung der Grundeinkommen per Crowdfunding oder CrowdBar beigetragen haben. Ein unmittelbarer Zusammenhang zwischen dem Unterstützen und der Gewinnmöglichkeit besteht also nicht.</li>
  <li>(4) Jede Person kann nur einmal über die Website am Gewinnspiel teilnehmen. Ausgenommen hiervon sind Eltern von Kindern, sofern die Kinder am letzten Tag des Gewinnspiels das 14. Lebensjahr noch nicht vollendet haben. Diese dürfen für sich selbst sowie pro Kind, das am letzten Tag des Gewinnspiels das 14. Lebensjahr noch nicht vollendet hat, einmal am Gewinnspiel teilnehmen.</li>
  <li>(5) Eine wirksame Teilnahme am Gewinnspiel liegt nur dann vor, wenn der vollständige Name (wie auf dem Personalausweis) und das Geburtsdatum des Teilnehmenden bei der Anmeldung vollständig und wahrheitsgemäß angegeben wurden.</li>
  <li>(6) Die Teilnahme an einem Gewinnspiel steht nicht im Zusammenhang mit dem Erwerb einer Ware oder der Inanspruchnahme einer Dienstleistung.</li>
  <li>(7) Minderjährige Teilnehmende ab dem 15. Lebensjahr fragen bitte ihre Eltern, ob diese mit der Teilnahme einverstanden sind.</li>
</ul>
<br>
<br>
<strong>§ 5 Ausschluss vom Gewinnspiel</strong>
<br>
<br>
<ul>
  <li>(1) Menschen, die in früheren Verlosungsrunden von Mein Grundeinkommen gewonnen haben und am Tag der Auslosung noch immer ein Grundeinkommen beziehen, sind von der Teilnahme ausgeschlossen.</li>
  <li>(2) Finden in Zukunft weitere Verlosungsrunden statt, bleiben die Gewinnenden früherer Runden für die Dauer der Gewinnauszahlungen von der Verlosung ausgeschlossen.</li>
  <li>(3) Gewinnen Eltern für eines oder mehrere ihrer Kinder, so ist die Teilnahme nur für dieses Kind für die Dauer der Gewinnauszahlungen ausgeschlossen. Gewinnen Eltern für sich selbst, dürfen sie weiterhin für ihre minderjährigen Kinder teilnehmen.</li>
  <li>(4) Bei einem Verstoß gegen diese Teilnahmebedingungen behält sich der Mein Grundeinkommen e.V. das Recht vor, Personen vom Gewinnspiel auszuschließen.</li>
  <li>(5) Sofern das Gewinnspiel oder die Teilnahme daran am Ort der Teilnahme durch Gesetze oder andere Regelungen verboten ist, ist die Teilnahme von diesem Ort aus leider nicht möglich.</li>
</ul>
<br>
<br>
<strong>§ 6 Durchführung der Verlosung</strong> 
<br>
<br>
<ul>
  <li>(1) Die Verlosungen finden öffentlich statt. Der genaue Ort und die Uhrzeit werden zuvor auf www.mein-grundeinkommen.de bekannt gegeben.</li>
  <li>(2) Bei Teilnahme am Gewinnspiel erhalten alle Teilnehmenden Losnummern, die auf ihrer Profilseite auf www.mein-grundeinkommen.de veröffentlicht werden.  Bei der öffentlichen Verlosung wird für jedes zu verlosende Grundeinkommen (12.000 €) eine Zufallszahl generiert. Die Losnummern, die einer dieser Zufallszahlen entsprechen, haben gewonnen.</li>
</ul>
<br>
<br>
<strong>§ 7 Abwicklung</strong>
<br>
<br>
<ul>
  <li>(1) Die Gewinnenden werden per E-Mail benachrichtigt und auf www.mein-grundeinkommen.de und live.mein-grundeinkommen.de wird der Link zu ihrer dortigen Profilseite veröffentlicht. Mit dieser Form der Veröffentlichung erklären sich die Gewinnenden ausdrücklich einverstanden.</li>
  <li>(2) Die Gewinnenden sind verpflichtet nachzuweisen, dass die zur Teilnahme gemachten Angaben (vollständiger Name, Geburtsdatum) der Wahrheit entsprechen. Diese Daten werden nicht veröffentlicht. </li>
  <li>(3) Meldet sich eine/r der Gewinnenden nicht innerhalb von drei Wochen nach Zugang der Gewinnmitteilung, so verfällt der Anspruch auf den Gewinn. Für die Richtigkeit der angegebenen E-Mail-Adresse ist der/die Teilnehmende verantwortlich.</li>
  <li>(4) Die Auszahlung des Gewinns erfolgt per Überweisung auf ein Konto im SEPA-Zahlungsraum. Auch eine Barauszahlung ist möglich, außer bei Sonder-Verlosungen (siehe § 11). Transaktionskosten oder Gebühren bei der Übermittlung auf anderen Wegen werden vom Gewinn einbehalten.</li>
  <li>(5) Beschwerden sind unter Angabe des Gewinnspiels innerhalb von 7 Tagen nach Bekanntwerden des Grundes schriftlich an den Mein Grundeinkommen e.V., Skalitzer Straße 85-86, Aufgang B, 10997 Berlin zu richten. Fernmündlich mitgeteilte oder verspätete Beschwerden können nicht bearbeitet werden. Auf verspätete Beschwerden kann sich der/die Teilnehmemde nicht berufen; der Mein Grundeinkommen e.V. wird im Falle verspäteter Beschwerden von seiner Leistungspflicht frei.</li>
</ul>
<br>
<br>
<strong>§ 8 Datenschutz</strong>
<br>
<br>
<ul>
  <li>(1) Es werden nur für das Gewinnspiel notwendige Daten erhoben.</li>
  <li>(2) Um die mehrfache Registrierung zu verhindern, sind bei der Anmeldung zum Gewinnspiel folgende Daten anzugeben: vollständiger Name, Geburtsdatum.</li>
  <li>(3) Nehmen Eltern für ihre Kinder am Gewinnspiel teil, müssen sie zusätzlich die entsprechenden Daten ihrer Kinder angeben.</li>
  <li>(6) Die angegebenen Daten (Name, Geburtsdatum) werden ausschließlich für die Verhinderung von Mehrfachteilnahmen verwendet und nach Ende des Gewinnspiels gelöscht, sofern von den Usern keine Speicherung der Daten für künftige Gewinnspielanmeldungen gewünscht wird.</li>
  <li>(7) Veröffentlicht wird lediglich das im Profil eingestellte Foto, der dortige Nutzername (kann vom richtigen Namen abweichen), sowie die Wünsche, die sich der/die Gewinnende mit Grundeinkommen erfüllen würde.</li>
  <li>(8) Die angegebenen Daten werden auf dem eigenen, geschützten Server des Mein Grundeinkommen e.V. gespeichert.</li>
  <li>(9) Es gilt darüber hinaus die Datenschutzerklärung des Mein Grundeinkommen e.V. für www.mein-grundeinkommen.de.</li>
</ul>
<br>
<br>
<strong>§ 9 Vorzeitige Beendigung des Gewinnspiels</strong>
<br>
<br>
(1) Der Mein Grundeinkommen e.V. behält sich vor, das Gewinnspiel zu jedem Zeitpunkt ohne Vorankündigung abzubrechen oder zu beenden. Von dieser Möglichkeit macht der Mein Grundeinkommen e.V. insbesondere dann Gebrauch, wenn aus technischen Gründen (z.B. Viren im Computersystem, Manipulation oder Fehler in der Hard- und/oder Software) oder aus rechtlichen Gründen eine ordnungsgemäße Durchführung des Spiels nicht gewährleistet werden kann. Sofern eine derartige Beendigung durch das Verhalten eines/einer Teilnehmenden verursacht wurde, so kann der Mein Grundeinkommen e.V. von dieser Person den entstandenen Schaden ersetzt verlangen.
(2) Erfüllungs- und Schadensersatzansprüche der Teilnehmenden bei vorzeitiger Beendigung des Gewinnspiels sind ausgeschlossen.
<br>
<br>
<strong>§ 10 Haftung</strong>
<br>
<br>
<ul>
  <li>(1) Die Bekanntgabe der Gewinnenden erfolgt ohne Gewähr.</li>
  <li>(2) Der Veranstalter haftet in keiner Form für mittelbare oder unmittelbare Schäden, die sich aus der Teilnahme an der Aktion oder der Nichterreichbarkeit des Internet-Servers ergeben, es sei denn, diese sind auf grob fahrlässiges oder vorsätzliches Handeln zurückzuführen, welches von dem Veranstalter zu vertreten ist.</li>
</ul>
<br>
<br>
<strong>§ 11 Sonderverlosungen</strong>
<br>
<br>
<ul>
  <li>(1) Bei Sonderverlosungen (z.B. durch gesammeltes Grundeinkommen mittels Kooperationen) können zusätzliche Voraussetzungen für die Teilnahme am Gewinnspiel festgelegt werden. Diese werden auf der Website und per E-Mail veröffentlicht.</li>
  <li>(2) Der Verein Mein Grundeinkommen e.V. ist berechtigt, folgende personenbezogene Daten zum Zwecke der Auszahlung des Grundeinkommens durch den/die Kooperationspartner*in weiterzugeben: Vor- und Zuname, E-Mail-Adresse, Kontoinformationen.</li>
  <li>(3) Im Falle dass der/die Kooperationspartner*in für die Auszahlung des Gewinns zuständig ist, entfällt die Möglichkeit der Barauszahlung.</li>
</ul>
<br>
<br>
<strong>§ 12 Sonstiges</strong>
<br>
<br>
<ul>
  <li>(1) Die Durchführung des Gewinnspiels und die Auswahl der Preise obliegen dem Mein Grundeinkommen e.V.</li>
  <li>(2) Sollten einzelne Bestimmungen der Gewinnspielbedingungen ungültig sein oder werden, bleibt die Gültigkeit der übrigen Gewinnspielbedingungen unberührt.</li>
  <li>(3) Diese Gewinnspielbedingungen können jederzeit von dem Mein Grundeinkommen e.V. ohne gesonderte Benachrichtigung geändert werden.</li>
  <li>(4) Die Korrespondenzsprache ist Deutsch.</li>
  <li>(5) Deutsches Recht ist anwendbar, soweit der durch zwingende Bestimmungen des Rechts des Staates, in dem die/der Teilnehmende gewöhnlichen Aufenthalt hat, gewährte Schutz nicht entzogen wird.</li>
</ul>
<br>
<br>
<div class="text-center">
  <a  ng-hide="is_modal" href="/register" class="btn btn-special btn-color">Am Gewinnspiel teilnehmen</a>

  <a  ng-show="is_modal" ng-click="$close()" class="btn btn-special btn-color btn-large">Okay</a>
</div>

  </div>
</div>
