<!-- <div style="margin-bottom:0;" ng-hide="hide_announcement" class="well">

        <div class="container">
          <div class="col-md-6 text-left">
            <span style="font-size:25px;">Heute werden die ersten 4 Grundeinkommen verlost!</span>
            <br>
            Um 17 Uhr auf einer öffentlichen Party in Berlin
          </div>
          <div class="col-md-6">
            <a style="margin-right:20px;" href="https://www.facebook.com/events/1458456897747639" class="margin-top-20 btn btn-special btn-small btn-grey">
              <i class="icon-glass"></i>
              Party-Infos
            </a>
            <a href="/live" class="margin-top-20 btn btn-special btn-color">
              <i class="icon-youtube-play"></i>
              Live-Übertragung
            </a>
          </div>
        </div>
      </div>
-->
<!-- Slider Start-->
<div class="fullwidthbanner-container">
   <div class="fullwidthbanner rslider">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div ng-click="showvideo()" analytics-on="click" analytics-event="Play Home Video" style="box-shadow: 0px 0px 10px black; border: 2px solid white; border-radius: 5px; overflow: hidden;background:black;margin-top:10px;margin-bottom: 40px;">
                  <div ng-include src="video_content"></div>

               </div>

               <script type="text/ng-template" id="video_preview.html">
                  <a href="#"><img src="/assets/videopreview1.jpg"></a>
               </script>
               <script type="text/ng-template" id="video.html">
                  <iframe width="100%" height="300" src="//www.youtube.com/embed/QJQcVFHOz5Y?autoplay=1" frameborder="0" allowfullscreen></iframe>
               </script>


            </div>
            <div class="col-md-6">
               <h1 class="title_headline">
              Was würde passieren,<br>wenn Du plötzlich <span class="infolink" ng-click="bge_info()">Grundeinkommen</span> hättest?
              <!--   Was würde passieren,<br> wenn es plötzlich Grundeinkommen gäbe? -->
              </h1>
               <!-- <p>
                  "Mein Grundeinkommen" sammelt per Crowdfunding Geld für ein <span ng-click="bge_info()" class="infolink">Bedingungsloses Grundeinkommen</span>. Immer wenn 12.000€ zusammen sind, werden sie an eine Person ausgelost.
               </p> -->
               <a class="btn-large btn-grey btn-pad" scroll-to="support">
                <!-- Probieren wir es aus! -->
                Probiere es aus! <i class="icon-caret-down"></i>
               </a>
               <!-- <a class="btn-normal btn-grey btn-pad" ng-click="bge_info()">Was ist das 'Grundeinkommen'?</a> -->
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>
<!-- Slider End-->
<!-- Slogan Start-->
<div class="slogan bottom-pad-small" id="support" style="padding-bottom:50px;margin-bottom:0px;">
   <div class="container">
      <div class="row text-center">

            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-4 text-right-lg text-right-md">
               <h1 class="huge" style="margin-bottom:0">{{home.supporter}}</h1>
            </div>
            <div class="col-md-4 text-left-lg text-left-md">
               <i class="icon-group huge">&nbsp;</i> <h2 class="slogan-title">Menschen<br>haben bisher</h2>
            </div>


<div class="clearfix"></div>

            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-4 text-right-lg text-right-md">
               <h1 class="huge"  style="margin-bottom:0">{{home.totallyFinancedIncomes}}</h1>
            </div>

            <div class="col-md-4 text-left-lg text-left-md">
               <i class="icon-check huge">&nbsp;</i> <h2 class="slogan-title"><span class="infolink" ng-click="bge_info()">Grundeinkommen</span><br>finanziert!</h2>

            </div>
            <div class="clearfix"></div>

      </div>
      <div class="row margin-top-50" style="padding-top: 0px;">


            <div class="col-md-12 text-center">

               <h2 class="slogan-title">
                Jetzt sammeln wir fürs {{home.totallyFinancedIncomes + 1}}. <span class="infolink" ng-click="bge_info()">Grundeinkommen</span>:
              </h2>

               <div class="progress margin-top-20" style="font-size: 25px;font-weight: 600;line-height: 37px;">

                  <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100" style="width: {{home.percentage}};">
                     <span ng-hide="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>
                  </div>

                  <div class="progress-bar" role="progressbar" style="width: {{support.amount/12000*100}}%;padding:0;" ng-show="support && support.amount > 0">
                  </div>

                     <span ng-show="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>

               </div>

                  <div ng-show="support_now" ng-include="'/assets/support_crowdfund_form.html'"></div>

                  <a href="#" ng-hide="support_now" ng-click="support_now = true" class="btn btn-normal btn-color btn-large" style="margin-top:20px;">Ich will unterstützen!</a>

                <!-- <h4><i class="icon-lightbulb"></i> Unterstützen ohne zu bezahlen: <a href="#" class="btn-grey btn-small" ng-click="crowdbar_info()">So geht's</a></h4> -->



      <carousel interval="3000" class="margin-top-30" id="all_supports">
         <slide ng-repeat="group in supports">

          <div class="row">
            <div class="col-md-4" ng-repeat="support in group">


              <div class="well text-left" style="padding:8px;height:120px;font-size:12px;overflow:hidden;line-height:16px;">
                <div ng-if="support.avatar" class="testimonial-image pull-left">
                    <img src="{{support.avatar.avatar.thumb.url}}">
                </div>
                <b>{{support.nickname}} hat mit {{support.amountTotal}}€ unterstützt:</b><br>
                <div ng-if="support.avatar" style="margin-left:70px;">
                "{{support.comment}}"
                </div>
                <div ng-if="!support.avatar">
                "{{support.comment}}"
                </div>
              </div>


            </div>
          </div>

        </slide>
    </carousel>


            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>



<div class="container" id="chris">
       <div class="slogan-content margin-top-70">


          <div class="row">

              <div class="col-md-3 text-center">
                <div class="testimonial-image-medium">
                  <a href="/menschen/21152">
                    <img src="/uploads/user/avatar/21152/smile2.jpg">
                  </a>
                </div>
                <a href="/menschen/21152">Christoph</a>
              </div>

              <div class="col-md-9">
                <h2 style="margin-bottom:5px;">Christoph hat das 2. Grundeinkommen gewonnen</h2>
                <h4>und will <a href="/mit-grundeinkommen-wuerde-ich/könnte+meine+Erzieherausbildung+anfangen+und+nicht+im+Callcenter+arbeiten/26170">seine Erzieherausbildung anfangen und nicht mehr im Callcenter arbeiten</a></h4>

                <blockquote>
                  „Seit ich weiß, dass ich das Grundeinkommen gewonnen habe, hat sich doch schon

ganz schön viel in meinem Leben verändert. Ich bin innerlich sehr ruhig und gelassen

geworden. Ich freue mich jeden Morgen wahnsinnig aufzustehen, auch wenn ich noch ein

bisschen einen Job mache, den ich eigentlich nicht machen möchte. Ich bin wahnsinnig

glücklich und fühle mich voller Tatendrang, vor allem da ich weiß, dass ich jetzt die

Sachen angehen kann, die mir am Herzen liegen und ich mir keine Sorgen machen muss,

wo am Monatsanfang das Geld auf meinem Konto herkommen soll, zumindest für ein

ganzes Jahr =) . Ich habe im Moment wahnsinnig viele Ideen, was ich gerne noch so tun

möchte und ich hoffe, dass ich in einem Jahr möglichst viel schaffen werde.“ <a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid=39700">... weiterlesen</a>
                </blockquote>

              </div>

          </div>


        </div>

</div>




<div class="fullwidthbanner-container margin-top-70" style="padding-bottom:80px">
   <div class="fullwidthbanner rslider">
      <div class="container">
         <div class="row text-center">
            <!-- <h1 class="title_headline"><i class="icon-trophy huge"></i></h1> -->

            <h1 class="title_headline" style="margin-bottom:15px;margin-top:15px;line-height:150%">Am Samstag wird das 5. <span class="infolink" ng-click="bge_info()">Grundeinkommen</span> <a href="https://www.facebook.com/events/376506499170475/?fref=ts" target="_blank" class="huge">hier</a> verlost.</h1>
            <h3 style="color:white" class="margin-top-20">Wer gewinnt erhält ein Jahr lang monatlich 1.000€.</h3>

            <h2 style="color:white"><span class="huge">{{home.numberOfParticipants}}</span> Menschen nehmen bereits teil</h2>


              <div ng-if="security.currentUser">
                <alert ng-if="!participation.participates" type="warning"><h1>Du nimmst <u>nicht</u> an der nächsten Verlosung teil.</h1>
                  <a class="btn-large btn-color" href="/menschen/{{security.currentUser.id}}?gewinnspiel=true">Ich will aber teilnehmen!</a>
                </alert>



                <a ng-if="participation.participates" class="btn-large btn-color " href="/menschen/{{security.currentUser.id}}?gewinnspiel=true" style="box-shadow:0px 0px 40px 10px white"><i class="icon-check"></i> Du nimmst an der Verlosung teil!</a>

                <br><a ng-if="!participation.has_crowdbar" href="/menschen/{{security.currentUser.id}}?crowdbar" class="margin-top-20 btn-normal btn-grey"><i class="icon-plus"></i> &nbsp; Meine Gewinnchance verdoppeln</a>

              </div>

              <div ng-if="!security.currentUser">
                <a class="btn-large btn-color margin-top-20" style="box-shadow:0px 0px 30px 15px white" scroll-to="youcan">Ich will teilnehmen <i class="icon-caret-down"></i></a>
              </div>
            </div>







         </div>
      </div>
  </div>
</div>


   <div class="container" id="youcan"  ng-if="!security.currentUser">
      <div class="row">
         <div class="slogan-content margin-top-70">
            <div class="col-md-12 text-center">
               <h1 class="slogan-title"><span class="huge">Du</span><br>kannst 1 Jahr <span class="infolink" ng-click="bge_info()">Grundeinkommen</span> gewinnen!</h1>


        <div ng-hide="security.currentUser">
                 <h3 class="title text-left">&nbsp;</h3>
               <img src="/assets/so_nimmst_du_teil.gif">
              <accordion close-others="true">


                <accordion-group is-open="true">
                  <accordion-heading>
                    <img src="/assets/step_1.gif"> Auf dieser Seite registrieren
                  </accordion-heading>

                      <a href="/register" class="btn-normal btn-color">Mitmachen</a>
                      <br>Oder schon registriert?<br>Dann <a href="/login">hier einloggen</a>.
                </accordion-group>

                <accordion-group>
                  <accordion-heading>
                    <img src="/assets/step_2.gif"> Sagen, was du tun würdest <i class="icon-caret-down"></i>
                      </accordion-heading>
                      ...wenn du Grundeinkommen hättest.
                      <br>Das haben andere geantwortet:
                      <br><a href="/community" class="btn-normal btn-color">Ansehen</a>

                </accordion-group>


                <accordion-group>
                  <accordion-heading>
                    <img src="/assets/step_3.gif"> Am Gewinnspiel teilnehmen <i class="icon-caret-down"></i>
                  </accordion-heading>
                  <p>Bitte schließe erst Punkt 1 und 2 ab</p>
                </accordion-group>


                <accordion-group>
                  <accordion-heading>
                    <img src="/assets/step_4.gif"> Chancen verdoppeln <i class="icon-caret-down"></i>
                  </accordion-heading>
                  <p>Wer die kostenlose Browsererweiterung <a href="#" ng-click="crowdbar_info()">Crowdbar</a> installiert hat, erhält doppelte Gewinnchancen bei der Verlosung.</p>
                </accordion-group>

        </div>
<hr>
        <h4 class=" text-center margin-top-30">Du glaubst, du brauchst kein <span class="infolink" ng-click="bge_info()">Grundeinkommen</span>? <a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid=37167">Vielleicht stimmt dich das hier um</a>!</h4>

        <h4 class=" text-center">Alle Fragen zur Verlosung <a href="#">werden hier beantwortet</a>.</h4>




               <!--  <div class="get-started">
                  <a ng-hide="security.currentUser" href="/register" class="btn btn-special btn-color btn-large" analytics-on="click" analytics-event="geklickt: Ich will das Grundeinkommen haben">Ich will das Grundeinkommen haben!</a>
                </div> -->

            </div>

            <div class="clearfix"></div>
         </div>
      </div>
            <div class="col-md-12 margin-top-70">

                        </div>
   </div>


<div class="slogan bottom-pad-small" id="winners"  style="padding-top:30px">
<div class="row text-center margin-top-70">

        <h1 style="margin-bottom:10px;">Diese Menschen</h2>
          <h3>haben die ersten <b>4</b> Grundeinkommen gewonnen:</h3>

        <div ng-if="d.done" class="col-md-3" ng-repeat="d in drawings">

          <div class="testimonial-image-medium">
              <a href="/menschen/{{d.user.id}}">
                <img src="{{d.user.avatar.url}}">
              </a>
            </div>
            <a href="/menschen/{{d.user.id}}">{{d.user.name}}</a>
            <!-- <div>
            Losnummer:</div>
            <div style="margin-top:35px;margin-bottom:35px">
            <span style="margin-left:3px;font-size:15px" ng-repeat="diget in d.digets" class="well big">{{diget.value}}</span></div> -->

        </div>

      </div>
      <div class="margin-top-70">
        <h4 class=" text-center"><a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid=38197">So geht's mit den Gewinnenden weiter...</a></h4>
      </div>
</div>



<div class="container">
  <div class="main-content">
     <div class="container">
        <div class="row text-center">
           Und alle anderen?
           <h1><span class="huge">{{home.numberOfUsers}}</span> <br> Menschen erzählen hier, wie ein <span class="infolink" ng-click="bge_info()">Grundeinkommen</span>
  {{home.numberOfWishes}} Dinge in ihrem Leben verändern würde.</h1>

          <a class="btn-large btn-color" href="/community">Ansehen</a>

        </div>

      </div>
    </div>
  </div>


</div>


  <div class="container" id="news">
         <div class="slogan-content margin-top-30">

                <div class="row margin-top-30">


                     <div class=" col-lg-12 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title">Neuigkeiten</h3>
                     </div>
                     <div class="clearfix"></div>

                        <ul>
                           <li ng-repeat="article in news">

                              <div class="col-lg-4">
                                 <small><i class="icon-calendar"></i> {{article.created * 1000 | date:'dd.MM.yyyy'}}</small>
                                 <h4><a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid={{article.id}}">{{article.title}}</a></h4>
                                 <p>{{article.text | limitTo : 150}}...</p>
                                 <a href="https://www.startnext.de/mein-grundeinkommen/blog/?bid={{article.id}}">Weiter lesen <i class="icon-arrow-right"></i></a>
                              </div>
                           </li>

                        </ul>
                        <div class="clearfix"></div>

                  </div>



                  <h3 class="title">&nbsp;</h3>
                  <div class="row text-center">
                    <h2>Alle Neuigkeiten, alle Verlosungstermine:</h2>

                    <a href="http://www.facebook.com/MeinGrundeinkommen" title="" class="btn-large btn-grey btn-pad"><i class="huge icon-facebook"></i> &nbsp;&nbsp;&nbsp;Mein Grundeinkommen bei Facebook</a>

                    <a href="http://www.twitter.com/meinbge" title="" class="btn-large btn-grey btn-pad"><i class="huge icon-twitter"></i> &nbsp;&nbsp;&nbsp;Mein Grundeinkommen bei Twitter</a>
                  </div>


          </div>
    </div>







   <!-- <div ng-include="'/assets/community_home.html'"></div> -->

<!-- Main Content end-->
