<div style="margin-bottom:0;" ng-hide="hide_announcement" class="well">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span style="font-size:25px;">Täglich grüßte das Grundeinkommen!</span></br>
                Herzlichen Glückwunsch an die 8 Grundeinkommens-Gewinnenden dieser Woche!
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-md-2 text-center">
                &nbsp;
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/200805">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/200805/13082011172.jpg">Montag:<br>Andreas
                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/206536">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/206536/IMG_1463.JPG">Montag:<br>Renés Kind                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/190834" >
                        <img src="/assets/team/team-member.jpg">Dienstag:<br>Sandras Kind
                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/220623">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/220623/image.jpg">Mittwoch:<br>Monika
                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/33335">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/33335/image.jpg">Donnerstag:<br>My K
                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/33912">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/33912/D1265-06.jpg">Freitag:<br>Lisa
                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image" style="line-height: 120%">
                    <a href="/menschen/26429">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/26429/10748706_859980670689539_1276533295_n.jpg">Freitag:<br>Valeries Kind
                    </a>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <div class="testimonial-image">
                    <a href="/menschen/221053">
                        <img src="https://s3.eu-central-1.amazonaws.com/mge-rails/uploads/user/avatar/221053/tilman.jpg">Freitag:<br>Tilman
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top:40px">
                <!-- <a ng-if="current.user && current.participates()" href="" disabled="true" class="btn btn-special btn-color">
                    <i class="fa fa-check"></i> Du nimmst an allen Verlosungen teil
                </a>
                <a ng-if="current.user && !current.participates()" href="/boarding?trigger=wants_to_participate" class="btn btn-special btn-color">
                    Jetzt teilnehmen
                </a>

                <a ng-if="!current.user" href="/boarding?trigger=wants_to_participate" class="btn btn-special btn-color">
                    Teilnehmen
                </a> -->


                 <a href="https://live.mein-grundeinkommen.de" class="btn btn-special btn-color" target="_blank">
                    Verlosungsvideos ansehen
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Slider Start-->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div ng-click="showvideo()" analytics-on="click" analytics-event="Play Home Video"
                         style="box-shadow: 0px 0px 10px black; border: 2px solid white; border-radius: 5px; overflow: hidden;background:black;margin-top:10px;margin-bottom: 40px;">
                        <div ng-include src="video_content"></div>

                    </div>

                    <script type="text/ng-template" id="video_preview.html">
                        <a href="#"><img src="/assets/videopreview1.jpg"></a>
                    </script>
                    <script type="text/ng-template" id="video.html">
                        <iframe width="100%" height="300" src="//www.youtube.com/embed/QJQcVFHOz5Y?autoplay=1"
                                frameborder="0" allowfullscreen></iframe>
                    </script>


                </div>
                <div class="col-md-6">

                    <h1 class="title_headline">
                        Was würde passieren,<br>wenn Du plötzlich <span class="infolink" ng-click="bge_info()">Grundeinkommen</span>
                        hättest?
                        <!--   Was würde passieren,<br> wenn es plötzlich Grundeinkommen gäbe? -->
                    </h1>
                    <!-- <p>
                       "Mein Grundeinkommen" sammelt per Crowdfunding Geld für ein <span ng-click="bge_info()" class="infolink">Bedingungsloses Grundeinkommen</span>. Immer wenn 12.000€ zusammen sind, werden sie an eine Person ausgelost.
                    </p> -->
                    <a class="btn-large btn-grey btn-pad" scroll-to="support">
                        <!-- Probieren wir es aus! -->
                        Probiere es aus! <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- <a class="btn-normal btn-grey btn-pad" ng-click="bge_info()">Was ist das 'Grundeinkommen'?</a> -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Slider End-->
<!-- Slogan Start-->
<div class="slogan bottom-pad-small" id="support" style="padding-bottom:80px;margin-bottom:50px;">
    <div class="container">
        <div class="row text-center">

            <div class="col-sm-1">&nbsp;</div>

            <div class="col-sm-5 text-right-sm">
                <h1 class="huge" style="margin-bottom:0">{{home.supporter}}</h1>
            </div>
            <div class="col-sm-6 text-left-sm">
                <h2 class="slogan-title">Menschen<br>haben bisher</h2>
            </div>


            <div class="clearfix"></div>

            <div class="col-sm-1">&nbsp;</div>

            <div class="col-sm-5 text-right-sm">
                <h1 class="huge" style="margin-bottom:0">{{home.totallyFinancedIncomes}}</h1>
            </div>

            <div class="col-sm-6 text-left-sm">
                <h2 class="slogan-title"><span class="infolink" ng-click="bge_info()">Grundeinkommen</span><br>finanziert!
                </h2>

            </div>
            <div class="clearfix"></div>

        </div>

    </div>

    <div class="container">
        <div class="row margin-top-50" style="padding-top: 0px;">


            <div class="col-md-12 text-center">

                <h2 class="slogan-title">
                    Jetzt sammeln wir fürs {{home.totallyFinancedIncomes + 1}}. <span class="infolink"
                                                                                      ng-click="bge_info()">Grundeinkommen</span>:
                </h2>

                <div class="progress margin-top-20" style="font-size: 25px;font-weight: 600;line-height: 37px;">

                    <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50"
                         aria-valuemax="100" style="width: {{home.percentage}};">
                        <span ng-hide="home.percentageRaw < 50">{{home.amount}} von 12.000€</span>
                    </div>

                    <div class="progress-bar" role="progressbar" style="width: {{support.amount/12000*100}}%;padding:0;"
                         ng-show="support && support.amount > 0">
                    </div>

                    <span ng-show="home.percentageRaw < 50">{{home.amount}} von 12.000€</span>

                </div>

                <!-- <div ng-controller="SupportController"> -->

                <!-- <div ng-show="support_now" ng-include="'/assets/support_crowdfund_form.html'"></div> -->

                <!-- </div> -->

                <a href="/support/donate" ng-hide="support_now" class="btn btn-normal btn-color btn-large"
                   style="margin-top:20px;">Ich will unterstützen!</a>

                <!-- <a href="/support" ng-hide="support_now" class="btn btn-normal btn-color btn-large" style="margin-top:20px;">Ich will unterstützen!</a> -->

                <!-- <h4><i class="icon-lightbulb"></i> Unterstützen ohne zu bezahlen: <a href="#" class="btn-grey btn-small" ng-click="crowdbar_info()">So geht's</a></h4> -->


                <carousel interval="3000" class="margin-top-30" id="all_supports">
                    <slide ng-repeat="group in supports">

                        <div class="row">
                            <div class="col-md-4" ng-repeat="support in group">


                                <div class="well text-left"
                                     style="padding:8px;height:120px;font-size:12px;overflow:hidden;line-height:16px;">
                                    <div ng-if="support.avatar" class="testimonial-image pull-left">
                                        <img src="{{support.avatar.avatar.thumb.url}}">
                                    </div>
                                    <b>{{support.nickname}} hat mit {{support.amountTotal}}€ unterstützt:</b><br>

                                    <div ng-if="support.avatar" style="margin-left:70px;">
                                        "{{support.comment}}"
                                    </div>
                                    <div ng-if="!support.avatar">
                                        "{{support.comment}}"
                                    </div>
                                </div>


                            </div>
                        </div>

                    </slide>
                </carousel>

                <div class="margin-top-50 text-center"><a name="share"></a>
                    Erzähl deinen Leuten von uns:
                    <div ng-include="'/assets/share.html'"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="bge100">
  <a href="https://www.betterplace.org/de/projects/23920-next-stop-100-grundeinkommen-hilf-uns-dabei">
    <img src="/assets/100bge-button.png" id="bge100button" >
    <img src="/assets/100bge.png">
  </a>
</div> -->


<div class="container margin-top-30" id="winners" style="padding-top:30px">
    <div class="row text-center margin-top-50">

        <h1 style="margin-bottom:10px;">Diese Menschen</h1>

        <h3>haben die ersten <span class="big"><b>{{number_of_winners}}</b></span> Grundeinkommen gewonnen:</h3>


        <div class="row margin-top-70" ng-repeat="winners_row in winners">
            <div ng-repeat="d in winners_row" class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="testimonial-image-sm">
                            <a href="/menschen/{{d.id}}">
                                <img src="{{d.avatar.avatar.url}}">
                            </a>
                        </div>
                    </div>
                    <div class="content-box-info text-left">
                        <h3 style="margin-bottom:5px"><a href="/menschen/{{d.id}}">{{d.name}}</a></h3>

                        <div ng-switch="d.id">

                            <p ng-switch-when="26255">
                                hat von Oktober 2014 bis September 2015 ein Jahr lang 1.000 € monatliches Grundeinkommen erhalten. <a
                                    href="/menschen/{{d.id}}">Profil ansehen</a>
                            </p>


                            <p ng-switch-when="21365">
                                hat von Oktober 2014 bis September 2015 ein Jahr lang 1.000 € monatliches Grundeinkommen erhalten. <a
                                    href="/menschen/{{d.id}}">Profil ansehen</a>
                            </p>

                            <p ng-switch-when="12419">
                                hat von Oktober 2014 bis September 2015 ein Jahr lang 1.000 € monatliches Grundeinkommen erhalten. <a
                                    href="/menschen/{{d.id}}">Profil ansehen</a>
                            </p>

                            <p ng-switch-when="">
                                hat von Oktober 2014 bis September 2015 ein Jahr lang 1.000 € monatliches Grundeinkommen erhalten. <a
                                    href="/menschen/{{d.id}}">Profil ansehen</a>
                            </p>

                            <p ng-switch-when="24228">
                                ist 9 Jahre alt. Als er von seinem Gewinn erfuhr fragte er: "Krieg ich jetzt jeden Monat
                                ein Buch?" <a href="/blog/182">Sein Video-Portrait</a>
                            </p>

                            <p ng-switch-when="21152">
                                hat dank Grundeinkommen seinen Job im Callcenter gekündigt und wird nun Erzieher! <a
                                    href="/blog/13">Lies seine Geschichte</a>
                            </p>

                            <p ng-switch-when="25710">
                                Erhält seit 1. März 2015 1.000€ monatliches Grundeinkommen.
                            </p>

                            <p ng-switch-when="138">
                                Erhält seit 1. März 2015 1.000€ monatliches Grundeinkommen.
                            </p>

                            <p ng-switch-when="46463">
                                Erhält seit 1. April 2015 1.000€ monatliches Grundeinkommen. <a href="/blog/170">Lies ihre
                                Reaktion</a>
                            </p>

                            <p ng-switch-when="10537">
                                Erhält seit 1. April 2015 1.000€ monatliches Grundeinkommen. <a href="/blog/170">Lies
                                seine Reaktion</a>
                            </p>

                            <p ng-switch-when="26052">
                                "Ich fühle mich abgesichert, freier, unabhängig, wohltätiger." <a target="_blank" href="http://www.welt.de/regionales/hamburg/article147487421/12-000-Euro-fuer-ein-Leben-voller-Nichtstun.html">Sein Portrait</a> | <a href="/blog/202">Seine
                                Reaktion</a>
                            </p>

                            <p ng-switch-when="39920">
                                Erhält seit 1. Juni 2015 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="10141">
                                Erhält seit 1. Juni 2015 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="61072">
                                Erhält seit 1. August 2015 1.000€ monatliches Grundeinkommen. <a href="/blog/463">Lies seine Reaktion</a>
                            </p>

                            <p ng-switch-when="63590">
                                Erhält ab 1. September 2015 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="40149">
                                Ticks Sohn Janosch (4 Jahre) erhält ab 1. Oktober 2015 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="27321">
                                Erhält seit 1. Dezember 2015 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="58433">
                                Erhält seit 1. Dezember 2015 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="5306">
                                Erhält seit 1. Dezember 2015 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="146303">
                                Erhält seit 1. Dezember 2015 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="120163">
                                Erhält seit 1. November 2015 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="28958">
                                Erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="33840">
                                Erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="84172">
                                Erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="103286">
                                Erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="70448">
                                Ihr Kind Pepa Moa (7) erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-when="200805">
                                erhält ab 1. März 2016 ein Jahr lang 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="206536">
                                Renés Kind erhält ab 1. März 2016 ein Jahr lang 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="190834">
                                Ihr Kind erhält ab 1. März 2016 ein Jahr lang 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="220623">
                                erhält ab 1. März 2016 ein Jahr lang 1.000€ monatliches Grundeinkommen. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="30">
                                Ihr Kind Pepa Moa (7) erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="31">
                                Ihr Kind Pepa Moa (7) erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="32">
                                Ihr Kind Pepa Moa (7) erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>
                            <p ng-switch-when="33">
                                Ihr Kind Pepa Moa (7) erhält seit 1. Januar 2016 ein monatliches Grundeinkommen von 1.000€. <a href="/menschen/{{d.id}}">Vorhaben
                                ansehen</a>
                            </p>

                            <p ng-switch-default>
                                erhält ein Jahr lang 1.000 € monatliches Grundeinkommen. <a
                                    href="/menschen/{{d.id}}">Profil ansehen</a>
                            </p>


                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="!current.user && $index == winners.length - 1" class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="testimonial-image-sm">
                            <a href="/register">
                                <img src="/assets/team/team-member.jpg"></a>
                        </div>
                    </div>
                    <div class="content-box-info text-left">
                        <h3 style="margin-bottom:5px"><a href="/register">Und ab März Du?</a></h3>

                        Vom 22.2. bis 26.2. werden wieder Grundeinkommen verlost. Du kannst gewinnen. <a href="/register">Jetzt
                        teilnehmen</a></a>
                        </p>
                    </div>
                </div>
            </div>


            <div ng-if="current.user && $index == winners.length - 1" class="col-lg-4 col-md-4 col-sm-4 bottom-pad">
                <div class="content-box ch-item">
                    <div class="ch-info-wrap">
                        <div class="testimonial-image-sm">
                            <a href="/boarding">
                                <img src="{{current.user.avatar.avatar.url}}">
                                </a>
                        </div>
                    </div>
                    <div class="content-box-info text-left">
                        <h3 style="margin-bottom:5px"><a href="/boarding">Und bald auch Du?</a></h3>

                        Vom 22.2. bis 26.2. werden wieder Grundeinkommen verlost. Du kannst gewinnen. <a href="/boarding">Jetzt
                        teilnehmen</a></a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div class="fullwidthbanner-container" style="padding-bottom:80px">
    <div class="fullwidthbanner rslider">
        <div class="container">
            <div class="row text-center">
                <!-- <h1 class="title_headline"><i class="icon-trophy huge"></i></h1> -->

                <!-- <h1 class="title_headline" style="margin-bottom:15px;margin-top:15px;line-height:150%">Am Samstag wird das 5. <span class="infolink" ng-click="bge_info()">Grundeinkommen</span> <a href="https://www.facebook.com/events/376506499170475/?fref=ts" target="_blank" class="huge">hier</a> verlost.</h1> -->

                <h1 class="title_headline" style="margin-bottom:15px;margin-top:15px;line-height:150%">Nächste Verlosung: Im März</h1>

                <!-- <h3 style="color:white" class="margin-top-20">Wir verlosen das 13. Grundeinkommen auf dem <a
                        href="http://cassiopeia-berlin.de/event/female-focus-festival/" target="_blank">Female Focus
                    Festival</a> in Berlin.</h3>
 -->
                <h3 style="color:white" class="margin-top-20">Ein Jahr lang monatlich 1.000€ erhalten. Ohne
                    Bedingungen.</h3>

                <!-- <h2 style="color:white"><span class="huge">{{home.numberOfParticipants}}</span> Menschen nehmen bereits teil</h2> -->

                <div ng-if="current.settings['raffleOpen']">
                    <div ng-if="current.user">
                        <alert ng-if="!current.participates()" type="warning"><h1>Du nimmst <u>nicht</u> an der nächsten Verlosung teil.</h1>
                          <a class="btn-large btn-color" href="/boarding?trigger=wants_to_participate">Ich will aber teilnehmen!</a>
                        </alert>


                        <a ng-if="current.participates()" class="btn-large btn-color "
                           href="/menschen/{{current.user.id}}?gewinnspiel=true" style="box-shadow:0px 0px 40px 10px white"><i
                                class="fa fa-check"></i> Du nimmst an der Verlosung teil!</a>
                    </div>

                    <div ng-if="!current.user">
                        <a href="/boarding?trigger=wants_to_participate" class="btn-large btn-color margin-top-20"
                           style="box-shadow:0px 0px 30px 15px white">Ich will teilnehmen</i></a>
                    </div>
                </div>


                <a ng-show="!current.settings['raffleOpen']" href="/register" class="btn-large btn-color margin-top-20" style="box-shadow:0px 0px 30px 15px white">Mitmachen!</i></a>


            </div>


        </div>
    </div>
</div>

<!--
   <div class="container" id="youcan"  ng-if="!current.user">
      <div class="row">
         <div class="slogan-content ">
            <div class="col-md-12 text-center">
              <!--  <h1 class="slogan-title"><span class="huge">Du</span><br>kannst 1 Jahr <span class="infolink" ng-click="bge_info()">Grundeinkommen</span> gewinnen!</h1>


        <div ng-hide="current.user">
                 <h3 class="title text-left">&nbsp;</h3>
               <img src="/assets/so_nimmst_du_teil.gif">
              <accordion close-others="true">


                <accordion-group is-open="true">
                  <accordion-heading>
                    <img src="/assets/step_1.gif"> Auf dieser Seite registrieren
                  </accordion-heading>

                      <a href="/register" class="btn-normal btn-color">Mitmachen</a>
                      <br>Oder schon registriert?<br>Dann <a href="/login">hier einloggen</a>.
                </accordion-group>

                <accordion-group>
                  <accordion-heading>
                    <img src="/assets/step_2.gif"> Sagen, was du tun würdest <i class="icon-caret-down"></i>
                      </accordion-heading>
                      ...wenn du Grundeinkommen hättest.
                      <br>Das haben andere geantwortet:
                      <br><a href="/community" class="btn-normal btn-color">Ansehen</a>

                </accordion-group>


                <accordion-group>
                  <accordion-heading>
                    <img src="/assets/step_3.gif"> Am Gewinnspiel teilnehmen <i class="icon-caret-down"></i>
                  </accordion-heading>
                  <p>Bitte schließe erst Punkt 1 und 2 ab</p>
                </accordion-group>


                <accordion-group>
                  <accordion-heading>
                    <img src="/assets/step_4.gif"> Chancen verdoppeln <i class="icon-caret-down"></i>
                  </accordion-heading>
                  <p>Wer die kostenlose Browsererweiterung <a href="#" ng-click="crowdbar_info()">Crowdbar</a> installiert hat, erhält doppelte Gewinnchancen bei der Verlosung.</p>
                </accordion-group>

        </div>
<hr>
        <h4 class=" text-center margin-top-30">Du glaubst, du brauchst kein <span class="infolink" ng-click="bge_info()">Grundeinkommen</span>? <a href="/blog/30">Vielleicht stimmt dich das hier um</a>!</h4>
 -->
<!-- <h4 class=" text-center">Alle Fragen zur Verlosung <a href="#">werden hier beantwortet</a>.</h4> -->


<!--  <div class="get-started">
   <a ng-hide="current.user" href="/register" class="btn btn-special btn-color btn-large" analytics-on="click" analytics-event="geklickt: Ich will das Grundeinkommen haben">Ich will das Grundeinkommen haben!</a>
 </div> -->

</div>

<div class="clearfix"></div>
</div>
</div>
<div class="col-md-12 margin-top-70">

</div>
</div>


<div ng-include="'/assets/community_home.html'"></div>


<div class="container" id="news">
    <div class="slogan-content margin-top-30">

        <div class="row margin-top-30">


            <div class=" col-lg-12 col-md-12 com-sm-12 col-xs-12">
                <h3 class="title">Neuigkeiten</h3>
            </div>
            <div class="clearfix"></div>

            <ul>
                <li ng-repeat="article in news">

                    <div class="col-lg-4">
                        <div class="post-image">
                            <a href="/blog/{{article.id}}"><img
                                    src="{{article.thumb}}" alt="">
                            </a>
                        </div>
                        <small><i class="fa fa-calendar"></i> {{article.date | date:'dd.MM.yyyy'}}</small>
                        <h4><a href="/blog/{{article.id}}">{{article.title.rendered}}</a></h4>

                        <div ng-bind-html="article.excerpt.rendered | unsafe"></div>
                        <a href="/blog/{{article.id}}">Weiter lesen <i class="fa fa-arrow-right"></i></a>
                    </div>
                </li>

            </ul>
            <div class="clearfix"></div>

        </div>


        <h3 class="title">&nbsp;</h3>

        <div class="row text-center">
            <h2>Alle Neuigkeiten, alle Verlosungstermine:</h2>

            <a href="http://www.facebook.com/MeinGrundeinkommen" title="" class="btn-large btn-grey btn-pad"><i
                    class="big fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;Wir bei Facebook</a>

            <a href="http://www.twitter.com/meinbge" title="" class="btn-large btn-grey btn-pad"><i
                    class="big fa fa-twitter"></i> &nbsp;&nbsp;&nbsp;Wir bei Twitter</a>

            <a href="https://instagram.com/meinbge" title="" class="btn-large btn-grey btn-pad"><i
                    class="big fa fa-instagram"></i> &nbsp;&nbsp;&nbsp;Wir bei Instagram</a>

        </div>


    </div>
</div>


<!-- <div ng-include="'/assets/community_home.html'"></div> -->

<!-- Main Content end-->
