<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
      <h3 class="modal-title">I am a modal!</h3>
  </div>
  <div class="modal-body">
      <ul>
          <li>ca. 1000 Euro für alle.
bedingungslos</li>
<li>zusätzlich zum Erwerbseinkommen</li>
<li>finanziert über Einkommens-, Umsatz- oder Vermögenssteuern</li>

      </ul>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="cancel()">Schließen</button>
  </div>
</script>

<!-- Slider Start-->
<div class="fullwidthbanner-container">
   <div class="fullwidthbanner rslider">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div ng-click="showvideo()" style="box-shadow: 0px 0px 10px black;
border: 2px solid white;
border-radius: 5px;
overflow: hidden;background:black;margin-top:10px;margin-bottom: 40px;">
                  <div ng-include src="video_content"></div>

               </div>

               <script type="text/ng-template" id="video_preview.html">
                  <a href="#"><img src="/assets/ichgross.jpg"></a>
               </script>
               <script type="text/ng-template" id="video.html">
                  <iframe width="100%" height="300" src="http://www.youtube.com/embed/iLTv8gFw15E?autoplay=1" frameborder="0" allowfullscreen></iframe>
               </script>


            </div>
            <div class="col-md-6">
               <h1 class="title_headline">Was würde passieren,<br> wenn es plötzlich Grundeinkommen gäbe?</h1>
               <a class="btn-large btn-grey btn-pad" scroll-to="support">Probieren wir es aus!</a>
               <a class="btn-normal btn-grey btn-pad" ng-click="open()">Was ist das 'Grundeinkommen'?</a>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>
<!-- Slider End-->
<!-- Slogan Start-->
<div class="slogan bottom-pad-small" id="support">
   <div class="container">
      <div class="row">

            <div class="col-md-3 text-right">
               &nbsp;
            </div>
            <div class="col-xs-4 text-right">
               <h1 class="huge">{{home.supporter}} &nbsp;<i class="icon-user"></i></h1>
            </div>
            <div class="col-md-5" style="text-align:left;">
               <h2 class="slogan-title">Menschen<br>haben schon</h2>
            </div>
<div class="clearfix"></div>
            <div class="col-md-3 text-right">
               &nbsp;
            </div>

            <div class="col-xs-4 text-right">
               <h1 class="huge">{{home.totallyFinancedIncomes}} &nbsp;<i class="icon-check"></i></h1>
            </div>

            <div class="col-md-5" style="text-align:left;">
               <h2 class="slogan-title">Grundeinkommen<br>finanziert!</h2>

            </div>
            <div class="clearfix"></div>

      </div>
      <div class="row" style="padding-top: 0px;">

            <div class="col-md-12 text-center">
               <div class="progress" ng-repeat="fi in home.financedIncomes">

                           <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><i class="icon-check"></i> {{fi}}</div>

               </div>

               <h2 class="slogan-title">Noch {{daysLeft}} Tage bis zum nächsten Ziel:</h2>

               <div class="progress" style="font-size: 15px;font-weight: 600;line-height: 40px;">

                  <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100" style="width: {{home.percentage}};">
                     <span ng-hide="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>
                  </div>
                     <span ng-show="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>

               </div>

                  <a href="http://www.startnext.de/mein-grundeinkommen" class="btn btn-special btn-color"><i class="icon-heart"></i> Jetzt unterstützen!</a>




            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>




   <div class="container">
      <div class="row">
         <div class="slogan-content">
            <div class="col-md-12 text-center">
               <h2 class="slogan-title">In <span class="huge">{{daysLeft}}</span> Tagen werden die Grundeinkommen verlost.</h2>


            <div class="get-started">
                  <a ng-hide="main.current_user" href="/register" class="btn btn-special btn-color ">Ich will das Grundeinkommen haben!</a>

                  <a ng-show="main.current_user && !main.current_user.participates_in_drawing" href="/menschen/{{main.current_user.id}}" class="btn btn-special btn-color ">Ich will das Grundeinkommen!</a>

                     <a ng-show="main.current_user && main.current_user.participates_in_drawing" href="#" class="disabled btn btn-special btn-color"><i class="icon-check"></i> Du nimmst teil</a>
               </div>

            </div>

            <div class="clearfix"></div>
         </div>
      </div>
   </div>





<div class="main-content">
   <div class="container">
      <div class="col-md-12">
                        <h3 class="title">&nbsp;</h3>
                        </div>
      <div class="row text-center" style="margin-top:40px">



         <h1><span class="huge">{{home.numberOfUsers}}</span> <br> Menschen erzählen hier, wie ein Grundeinkommen
ihr Leben verändern würde.</h1>
      </div>


      <div class="row">
         <div class="col-md-12">
            <div class="testimonial item">
               <p style="text-align: center; font-weight:bold;font-size: 25px;background:#66cc99;color:white;">Mit einem Grundeinkommen würden...</p>
               <div class="testimonials-arrow">
               </div>
            </div>

            <ul class="listbox">
               <li ng-repeat="wish in wishes">
                  <div class="pull-left">
                     <div class="testimonial-image "><img alt="" ng-src="{{wish.user.avatar.avatar.thumb.url}}"></div>

                  </div>

                   <a ng-click="me_too(wish)" href="#" class="btn-color btn-small btn-pad pull-right" ng-class="{disabled: wish.meToo}">
                     <span ng-show="wish.meToo">
                        <i class="icon-check"></i> Du auch!
                     </span>
                     <span ng-hide="wish.meToo">
                        Ich auch!
                     </span>

                   </a>

                  <div class="textblock"><a href="/profiles/{{wish.user.id}}">{{wish.user.name}}</a>
                     <span ng-show="wish.othersCount > 0"> und <b>{{wish.othersCount}}</b> andere würden</span>

                     <span ng-show="wish.othersCount == 0"> würde</span>

                     <br><a style="font-size:18px" href="/mit-grundeinkommen-wuerde-ich/{{wish.wishUrl}}/{{wish.wishId}}">{{wish.othersCount == 0 ? wish.wish.he : wish.wish.they}}</a></div>

               </li>

            </ul>


         </div>

      </div>


      <a href="/conditions" class="btn-grey btn-small btn-pad">Mehr anzeigen</a>



      </div>
   </div>
</div>
<!-- Main Content end-->
