<breadcrumbs></breadcrumbs>

<div class="container margin-top-30">

<h1 align="center">Impressum</h1>
<h3 class="sectionDescription"> Angaben gem&auml;&szlig; &sect; 5 TMG
</h3>


<p>&nbsp;</p>

<p>Verein "Mein Grundeinkommen" e.V. i.G.<br>Taborstraße 21<br>10997 Berlin </p>

<p>Vertreten durch:  Michael Bohmeyer</p>

<p>Fragen & Hilfe: <br>
	E-Mail: <a href="mailto:support@mein-grundeinkommen.de">support@mein-grundeinkommen.de</a></p>

<p>Presseanfragen: <br>
	E-Mail: <a href="mailto:presse@mein-grundeinkommen.de">presse@mein-grundeinkommen.de</a></p>

<p>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV: <br>Michael Bohmeyer<br>Taborstraße 21<br>10997 Berlin


<p><strong>Quellenangabe / Bildnachweis</strong></p>

Unternehmens- / Shop-Logos auf bar.mein-grundeinkommen.de: (c) die jeweiligen Unternehmen


</div>