<div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row" style="padding-bottom: 55px;">
                     <div class="col-md-12 text-center">
                        <img ng-if="own_profile && largeScreen" src="/assets/instructions.png">
                     </div>

                  </div>
               </div>
            </div>




<div class="container" style="position:relative;top:-41px">
  <div class="col-md-4 text-center">

  	<div ng-if="own_profile" class="testimonial-image-large" ng-file-select="onFileSelect($files)" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="about-to-drop" accept="image/*" ng-class="{own_profile: own_profile}">
		<img src="{{user.avatar.avatar.url}}">
		<i style="font-size:100px;margin-top:-200px;margin-bottom:118px;margin-left:-0px" class="icon-plus show-on-drag" ng-class="{showit: user.is_default_avatar}"></i>
	</div>

	<div ng-if="!own_profile" class="testimonial-image-large">
		<img src="{{user.avatar.avatar.url}}">
	</div>


	<h1 class="margin-top-20" style="margin-bottom:10px;">
		<span ng-show="own_profile">Hallo {{user.name}}!</span>
		<span ng-hide="own_profile">Hallo, ich bin
		{{user.name}}!</span>
	</h1>
	<a ng-if="own_profile" href="#" ng-click="open()"><i class="icon-pencil"></i> Profil bearbeiten</a>
  	<div class="clearfix margin-top-20"></div>
  </div>

  <div class="row" ng-if="own_profile && !largeScreen" style="padding-bottom:20px;">
  	<div class="col-md-12 text-center">
	  <img src="/assets/instructions.png">
	  </div>
	</div>
  <div class="col-md-8">
  	<tabset type='{{mobile ? "pills" : ""}}' vertical='{{mobile ? "true" : "false"}}'>
	    <tab heading="Was würdest du tun?">
	      <div class="margin-top-20">
	    	<h2>Mit Grundeinkommen würde ich...</h2>

            <ul class="listbox">
               <li ng-repeat="wish in user_wishes" ng-animate="'animate'">
                  <div class="pull-left">
                     <div class="testimonial-image "><img alt="" ng-src="{{user.avatar.avatar.url}}"></div>
                  </div>

                   <a ng-click="removeWish(wish)" ng-if="edit_story != wish" href="#" class="btn-grey btn-small btn-pad pull-right">
                     <i class="icon-trash"></i>
                   </a>
                   <a ng-if="edit_story != wish" ng-click="editStory(wish)" href="#" class="btn-grey btn-small btn-pad pull-right">
                     <i class="icon-pencil"></i>
                   </a>


                  <div class="textblock">
                  	<a style="font-size:18px" href="/mit-grundeinkommen-wuerde-ich/{{wish.wishUrl}}/{{wish.wishId}}">...{{wish.text}}</a>

                    <p ng-show="edit_story != wish">{{wish.story}}
                    </p>
                    <div ng-if="edit_story == wish" style="margin-left:10px;margin-bottom: 20px;">
                      <textarea style="width:90%;min-height:60px;margin-top:10px;margin-bottom:10px" ng-model="wish.edited_story"></textarea><br>
                      <a href="#" class="btn btn-small btn-color" ng-click="updateStory(wish)"><i class="icon-check"></i> Speichern</a>
                      <a href="#" class="btn btn-small btn-grey" ng-click="cancelStoryEditing(wish)"><i class="icon-reply"></i> Abbrechen</a>
                    </div>
                    <div ng-if="wish.othersCount > 0">
                  	 <a  href="/mit-grundeinkommen-wuerde-ich/{{wish.wishUrl}}/{{wish.wishId}}"><b>{{wish.othersCount}}</b> Andere</a> würden das auch
                    </div>
                  </div>

               </li>

            </ul>

            <div style="text-align: center; font-weight:bold;font-size: 25px;background:#66cc99;color:white;border-radius: 5px;box-shadow:1p 1px 1px black;border:1px solid white;">

              <div class="testimonials-arrow">
               </div>

              <div ng-if="user_wishes.length > 0" style="margin-top:-10px;margin-bottom:10px;">Außerdem würde ich...</div>
               <form ng-show="own_profile" ng-submit="addWish()" style="margin-top:-5px;margin-bottom:10px;">

        <input type="text" ng-model="wish_form.new_wish" style="height:50px;padding-left:10px;padding-right:10px;" font-size="25"
				   placeholder="...">
				<input class="btn btn-special btn-grey" ng-disabled="!wish_form.new_wish" type="submit" value="Ja!" style="margin-top:-6px">
        <br>
        <div ng-show="wish_form.new_wish.length > 5" style="font-size: 16px" class="text-center">
          <b>Willst du mehr dazu sagen?</b><br>
          <textarea style="width:90%;height:100px;margin-bottom:10px;" ng-model="wish_form.story" placeholder="Hier kannst du dein Vorhaben ausführlich beschreiben, begründen oder dafür begeistern."></textarea>
        </div>
				</form>

            </div>


		  </div>
	    </tab>
	    <tab heading="Gesicht zeigen" ng-if="default_avatar">
	    	<div class="button" ng-file-select="onFileSelect($files)" accept="image/*">Auswählen</div>
	    </tab>
	    <tab heading="Wer bist du?">Long Labeled Justified content</tab>
	    <tab heading="Unterstützen" ng-if="!default_avatar">Long Labeled Justified content</tab>
	    <tab heading="Gewinnspiel">Long Labeled Justified content</tab>
	  </tabset>
  </div>

  <div class="clearfix"></div>

</div>






<!-- <div ng-show="own_profile">
  <input ng-model="new_name">

  <input type="button" ng-click="updateProfile()" value="Ändern">
</div> -->



