<div class="breadcrumb-wrapper">
   <div class="container">
      <div class="row" style="padding-bottom: 55px;">
      <div class="col-md-12 text-center"> </div>
        <div style="height:150px;" ng-show="largeScreen && own_profile && (!participation.participates || !participation.has_crowdbar)"></div>
      </div>
   </div>

</div>

<!-- Left Column -->

<div class="container" ng-class="{move_profile_container_top: own_profile}">
  <div class="col-md-4 text-center">

  	<div ng-if="own_profile" class="testimonial-image-large" ng-file-select="onFileSelect($files)" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="about-to-drop" accept="image/*" ng-class="{own_profile: own_profile}">
		<img src="{{user.avatar.avatar.url}}">
		<i style="font-size:100px;margin-top:-200px;margin-bottom:118px;margin-left:-0px" class="icon-plus show-on-drag" ng-class="{showit: user.is_default_avatar}"></i>
	</div>

	<div ng-if="!own_profile" class="testimonial-image-large">
		<img src="{{user.avatar.avatar.url}}">
	</div>


	<h1 class="margin-top-20" style="margin-bottom:10px;">
		<span ng-show="own_profile">Hallo {{user.name}}!</span>
		<span ng-hide="own_profile">Hallo, ich bin
		{{user.name}}!</span>
	</h1>
	<a ng-if="own_profile" href="#" ng-click="open()"><i class="icon-pencil"></i> Mitgliedsdaten ändern</a>
  <hr>

  <!-- <ul ng-show="user.chances.length > 0">
    <li><b>Losnummer:</b></li>
    <li ng-repeat="chance in user.chances">
      <div class="well big">{{chance.code}}<div style="font-size:12px;font-weight:normal;" ng-show="chance.isChild">(für ein Kind)</div></div>
    </li>
  </ul>

  <hr> -->

  <ul>
    <li ng-show="user_states"><b>Ich bin:</b></li>
    <li ng-repeat="state in user_states">
      <span ng-show="state.visibility">{{state.text}}</span>
    </li>
  </ul>






    <div class="clearfix margin-top-30">
      <hr ng-if="smallScreen"></div>



  </div>


  <!-- Right Column -->

  <div class="row" ng-if="own_profile && !largeScreen && user_states.length == 0 && !skip.states" style="padding-bottom:20px;">
  	<div class="col-md-12 text-center">

	  </div>
	</div>
  <div class="col-md-8">


    <div ng-if="!own_profile" ng-include="'/assets/wishes.html'"></div>

  <!-- Tabs -->

    <tabset id="tabs" ng-if="own_profile" type='{{mobile ? "pills" : ""}}' vertical='{{mobile ? "true" : "false"}}'>

      <!-- Was würdest du tun? -->

      <tab active="currentTab.wishes">
        <tab-heading>
          <i class="icon-check" ng-if="user_wishes.length > 0"></i> Ich würde...
        </tab-heading>
	      <div ng-include="'/assets/wishes.html'"></div>
	    </tab>

      <!-- Avatar -->

	    <tab  active="currentTab.image" ng-if="default_avatar" heading="Gesicht zeigen">

        <img src="/assets/upload_avatar.png" class="margin-top-20" />
        <br>
        <div style="margin-left: 30px;
    margin-top: -54px;
    text-align: center;
    width: 243px;">
        oder:<br>
        <div class="btn-color btn-normal" ng-file-select="onFileSelect($files)" accept="image/*"><i class="icon-upload"></i> Datei auswählen</div><br><br>
        <a href="#" ng-click="skip_section('image')" analytics-on="click" analytics-event="Bildupload übersprungen" scroll-to="tabs"><i class="icon-mail-forward"></i> überspringen</a>
        </div>
	    </tab>


      <!-- Wer bist du? -->

      <tab active="currentTab.states">

        <tab-heading>
          <i class="icon-check" ng-if="user_states.length > 0"></i> Ich bin...
        </tab-heading>

        <div ng-include="'/assets/states.html'"></div>

      </tab>


      <tab active="currentTab.gewinnspiel">
         <tab-heading>

         <img src="/assets/instructions.png" style="left: -185px;bottom: 50px;max-width: 300px;position: absolute;"  ng-if="!participation.participates && largeScreen">

          <i class="icon-check" ng-if="participation.participates"></i>
          Verlosung
         </tab-heading>

        <div class="container margin-top-30">

          <div ng-include="'/assets/gewinnspiel.html'"></div>





      </div>

      </tab>

      <!-- Crowdbar -->

      <tab active="currentTab.crowdbar">
         <tab-heading>

         <img src="/assets/doublechances.png" style="left: -154px;bottom: 50px;max-width: 300px;position: absolute;"  ng-if="!participation.has_crowdbar && participation.participates && largeScreen">

          <i class="icon-check" ng-if="participation.participates && participation.has_crowdbar"></i> Chancen verdoppeln
         </tab-heading>

        <div class="container margin-top-30">

          <div class="text-center margin-top-20">

            <div ng-if="!participation.double_chances && !participation.has_crowdbar">
              <h2 class="margin-top-20"><span class="infolink" ng-click="crowdbar_info()">CrowdBar</span> installieren & Gewinnchance verdoppeln</h2>
              <p>Die CrowdBar ist eine kostenlose Erweiterung für deinen Browser.</p>
             <div class="margin-top-30">
             <a ng-if="browser.isChrome || browser.isFirefox" class="btn-color btn-large" ng-click="crowdbar_install()">Jetzt installieren</a>
             <a class="btn-grey btn-large" ng-click="crowdbar_info()" style="margin-top:-8px">So funktioniert's</a>
             </div>
             <br>
             <small><a href="#"  ng-if="browser.isChrome || browser.isFirefox" ng-click="open_crowdbar_test_modal()">Ich hab die CrowdBar schon installiert.</a></small>
            </div>

            <div ng-if="participation.has_crowdbar">

              <h1><i class="icon-thumbs-up"></i> Du hast die CrowdBar installiert!</h1>
              <hr>

            </div>

              <h3 ng-if="participation.double_chances">Du hast <span ng-if="!participation.has_crowdbar">aktuell auf diesem Gerät keine Crowdbar installiert. Du hattest sie aber bereits installiert und hast </span>damit doppelte Gewinnchancen und erhältst am Tag der Verlosung die doppelte Anzahl an Losnummern!</h3>

              <h3 ng-if="!participation.participates && participation.has_crowdbar">Sobald du an der <a href="#" ng-click="skip_section('states')">Verlosung teilnimmst</a> hast du doppelte Gewinnchancen und erhältst am Tag der Verlosung die doppelte Anzahl an Losnummern!</h3>

              <p class="well" ng-if="participation.has_crowdbar">Du kannst jetzt und jederzeit in Hunderten von Onlineshops einkaufen und damit das nächste Grundeinkommen unterstützen:
                <br><br>
                <a href="https://bar.mein-grundeinkommen.de/shops" class="btn-normal btn-color">Shops anzeigen</a>
              </p>


          </div>

      </div>

      </tab>


    </tabset>
<div class="clearfix"></div>

<!-- <div ng-if="own_profile" class="row text-center margin-top-70">
  <div class="col-md-12">
  <hr>
  <h3>Brauchst du Hilfe?</h3>
  <div>
    <p>Vielleicht hilft dieses Video. Ansonsten schreib mir eine <a href="mailto:support@mein-grundeinkommen.de">Mail</a>.</p>
    <iframe width="100%" height="300" src="//www.youtube.com/embed/7XTt5HukC_4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</div> -->







</div>

</div>
