<div class="container margin-top-70">

  <div ng-include src="registered"></div>

<div ng-hide="current.user || registered">
  <div class="row">
    <div class="col-md-12 text-center">

<!--       <a href="/register?email=micha@mein-grundeinkommen.de&name=Michi&wishes=mich%20um%20meine%20K%C3%BCche%20k%C3%BCmmern%3Bschlafen%3B%3B%3B">test email link</a> -->

      <h1 style="margin-bottom:0px">Meld u kostenloos aan, doe mee!</h1>
      <p>Heeft u al een account? dan <a href="/login">kunt u hier inloggen.</a>.</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row margin-top-30">
      <div class="col-md-8 col-md-offset-2 col-xs-12 col-lg-6 col-lg-offset-3 col">

            <form class="form-horizontal" ng-submit="register(RegisterForm.$valid)" role="form" name="RegisterForm" novalidate>

              <input type="hidden" ng-model="register_user.initial_wishes" />
              <input type="hidden" ng-model="register_user.initial_conditions" />

              <div class="form-group" ng-class="{ 'has-error' : RegisterForm.name.$invalid && !RegisterForm.name.$pristine }">
                <label for="inputEmail3" class="col-sm-2 control-label">Naam</label>
                <div class="col-sm-10 text-left">
                  <input name="name" ng-model="register_user.name" type="text" class="form-control" id="inputEmail3" placeholder="Naam of alias" maxlength="40" required ng-minlength="2">
                  <p ng-show="(RegisterForm.name.$error.minlength || RegisterForm.name.$error.required) && !RegisterForm.name.$pristine" class="help-block">Deze naam is ongeldig, deze minstens 2 karakters zijn.</p>

                </div>
              </div> 
              <div class="form-group" ng-class="{ 'has-error' : !RegisterForm.email.$pristine && (RegisterForm.email.$error.serverMessage || RegisterForm.email.$invalid) }">
                <label for="inputEmail3" class="col-sm-2 control-label">E-Mail</label>
                <div class="col-sm-10 text-left">
                  <input name="email" ng-model="register_user.email" type="email" class="form-control" id="inputEmail3" placeholder="e-mail adres" required>
                  <p ng-show="(RegisterForm.email.$invalid || RegisterForm.email.$error.required) && !RegisterForm.email.$pristine" class="help-block">Geef aub een geldig email adress..</p>
                  <p ng-show="RegisterForm.email.$error.serverMessage" class="help-block">{{RegisterForm.email.$error.serverMessage}}</p>

                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : RegisterForm.password.$invalid && !RegisterForm.password.$pristine }">
                <label for="inputPassword3" class="col-sm-2 control-label">Wachtwoord</label>
                <div class="col-sm-10 text-left">
                  <input name="password" ng-model="register_user.password" type="password" class="form-control" id="inputPassword3" placeholder="wachtwoord" ng-minlength="4" required>
                  <p ng-show="(RegisterForm.password.$error.minlength || RegisterForm.password.$error.required) && !RegisterForm.password.$pristine" class="help-block">Geef aub een geldig wachtwoord</p>
                </div>
              </div>
              <div class="form-group text-left"  ng-class="{ 'has-error' : RegisterForm.datenschutz.$invalid }">
                <div class="col-sm-offset-2 col-sm-10 text-left">
                  <div class="checkbox">
                    <p ng-show="RegisterForm.datenschutz.$error.required || RegisterForm.datenschutz.$error.serverMessage" class="help-block">graag aankruizen:</p>
                    <label>
                      <input name="datenschutz" ng-model="register_user.datenschutz" type="checkbox" ng-required="true" required> Ik heb de <a href="#" ng-click="open('nutzungsbedingungen')">Algemene voorwaarden</a> en de <a href="#" ng-click="open('datenschutz')">privacyverklaring</a> gelezen en stem hiermee in.
                    </label>

                  </div>
                </div>
              </div>
              <div class="form-group text-left" style="margin-top:-20px;">
                <div class="col-sm-offset-2 col-sm-10 text-left">
                  <div class="checkbox">
                    <label>
                      <input name="newsletter" ng-model="register_user.newsletter" type="checkbox"> Gelieve mij te informeren via e-mail over andere loterij afspraken en belangrijke wijzigingen die zijn aangebracht op de pagina.
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-special btn-color" data-ui-ladda="progress" ng-disabled="submitted" data-style="expand-left"><div class="spinner" ng-show="submitted">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                  <span ng-hide="submitted">Nu aanmelden!</span>
                  </button>
                </div>
              </div>
            </form>

    <div class="clearfix"></div>

</div>



</div>
