<div class="container margin-top-70">

    <div ng-include src="registered"></div>

    <div ng-hide="current.user || registered">
        <div class="row">
            <div class="col-md-12 text-center">

                <!--       <a href="/register?email=micha@mein-grundeinkommen.de&name=Michi&wishes=mich%20um%20meine%20K%C3%BCche%20k%C3%BCmmern%3Bschlafen%3B%3B%3B">test email link</a> -->

                <h1 style="margin-bottom:0px">Melde dich kostenlos an, um mitzumachen!</h1>

                <p>Oder bist du bereits bei Mein Grundeinkommen registriert? Dann <a href="/login">log dich hier ein</a>.</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row margin-top-30">
            <div class="col-md-8 col-md-offset-2 col-xs-12 col-lg-6 col-lg-offset-3 col">

                <form class="form-horizontal" ng-submit="register(RegisterForm.$valid)" role="form" name="RegisterForm"
                      novalidate>

                    <input type="hidden" ng-model="register_user.initial_wishes"/>
                    <input type="hidden" ng-model="register_user.initial_conditions"/>

                    <div class="form-group"
                         ng-class="{ 'has-error' : RegisterForm.name.$invalid && !RegisterForm.name.$pristine }">
                        <label for="inputEmail3" class="col-sm-2 control-label">Benutzername</label>

                        <div class="col-sm-10 text-left">
                            <input name="name" ng-model="register_user.name" type="text" class="form-control"
                                   id="inputEmail3" placeholder="(dieser Name wird öffentlich in deinem Profil angezeigt)" maxlength="40"
                                   required ng-minlength="2">

                            <p ng-show="(RegisterForm.name.$error.minlength || RegisterForm.name.$error.required) && !RegisterForm.name.$pristine"
                               class="help-block">Der Name ist erforderlich und muss mindestens 2 Zeichen lang sein.</p>

                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : !RegisterForm.email.$pristine && (RegisterForm.email.$error.serverMessage || RegisterForm.email.$invalid) }">
                        <label for="inputEmail3" class="col-sm-2 control-label">E-Mail</label>

                        <div class="col-sm-10 text-left">
                            <input name="email" ng-model="register_user.email" type="email" class="form-control"
                                   id="inputEmail3" placeholder="E-Mail-Adresse" required>

                            <p ng-show="(RegisterForm.email.$invalid || RegisterForm.email.$error.required) && !RegisterForm.email.$pristine"
                               class="help-block">Bitte gib eine gültige E-Mail-Adresse an.</p>

                            <p ng-show="RegisterForm.email.$error.serverMessage" class="help-block">
                                {{RegisterForm.email.$error.serverMessage}}</p>

                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : RegisterForm.password.$invalid && !RegisterForm.password.$pristine }">
                        <label for="inputPassword3" class="col-sm-2 control-label">Passwort</label>

                        <div class="col-sm-10 text-left">
                            <input name="password" ng-model="register_user.password" type="password"
                                   class="form-control" id="inputPassword3" placeholder="Passwort" ng-minlength="4"
                                   required>

                            <p ng-show="(RegisterForm.password.$error.minlength || RegisterForm.password.$error.required) && !RegisterForm.password.$pristine"
                               class="help-block">Bitte gib ein Passwort mit mindestens 4 Zeichen länge an</p>
                        </div>
                    </div>
                    <div class="form-group text-left" ng-class="{ 'has-error' : RegisterForm.datenschutz.$invalid }">
                        <div class="col-sm-offset-2 col-sm-10 text-left">
                            <div class="checkbox">
                                <p ng-show="RegisterForm.datenschutz.$error.required || RegisterForm.datenschutz.$error.serverMessage"
                                   class="help-block">Bitte bestätigen:</p>
                                <label>
                                    <input name="datenschutz" ng-model="register_user.datenschutz" type="checkbox"
                                           ng-required="true" required> Ich habe die <a href="#"
                                                                                        ng-click="open('nutzungsbedingungen')">Nutzungsbedingungen</a>
                                    und die <a href="#" ng-click="open('datenschutz')">Datenschutzerklärung</a> gelesen
                                    und stimme zu.
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group text-left" style="margin-top:-20px;">
                        <div class="col-sm-offset-2 col-sm-10 text-left">
                            <div class="checkbox">
                                <label>
                                    <input name="newsletter" ng-model="register_user.newsletter" type="checkbox"> Bitte
                                    informiert mich per E-Mail über weitere Verlosungstermine und bei wichtigen
                                    Änderungen auf der Seite.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="alert alert-info">
                                <h5>Es kann ein paar Minuten dauern bis die Bestätigungsmail dich erreicht.</h5>
                                <p>Bitte schaue ggf. im Spam-Ordner nach.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-special btn-color" data-ui-ladda="progress"
                                    ng-disabled="submitted" data-style="expand-left">
                                <div class="spinner" ng-show="submitted">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <span ng-hide="submitted">Jetzt anmelden!</span>
                            </button>
                        </div>
                    </div>

                </form>


                <div class="clearfix"></div>

                <!-- <div class="row text-center">
                  <div class="col-md-12">
                  <hr>
                  <h2>Brauchst du Hilfe?</h2>
                  <div>
                    <p>Vielleicht hilft dieses Video. Ansonsten schreib mir eine <a href="mailto:support@mein-grundeinkommen.de">Mail</a>.</p>
                    <iframe width="100%" height="300" src="//www.youtube.com/embed/5Dx4q95kdU0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                </div> -->

            </div>


        </div>
    </div>
</div>
