<div class="container margin-top-70">




  <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 col-lg-6 col-lg-offset-3 col">


                <form class="form-horizontal margin-top-30" ng-submit="change_password()" role="form" name="LoginForm" novalidate>


              <alert ng-show="serverMessage" type="warning">{{serverMessage}}
              </alert>



              <div class="form-group" ng-class="{ 'has-error' : LoginForm.password.$invalid && !LoginForm.password.$pristine }">
                <label for="inputPassword3" class="col-sm-2 control-label">Passwort</label>
                <div class="col-sm-10 text-left">
                  <input name="password" ng-model="login_user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-minlength="4" required>
                  <p ng-show="(LoginForm.password.$error.minlength || LoginForm.password.$error.required) && !LoginForm.password.$pristine" class="help-block">Bitte gibt dein Passwort ein.</p>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : (LoginForm.password_confirmation.$invalid || login_user.password_confirmation != login_user.password) && !LoginForm.password_confirmation.$pristine }">
                <label for="inputPassword3" class="col-sm-2 control-label">Passwort wiederholen</label>
                <div class="col-sm-10 text-left">
                  <input name="password_confirmation" ng-model="login_user.password_confirmation" type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-minlength="4" required>

                  <p ng-show="(LoginForm.password_confirmation.$error.minlength || LoginForm.password_confirmation.$error.required) && !LoginForm.password_confirmation.$pristine" class="help-block">Bitte gibt dein Passwort ein.</p>
                  <p ng-show="login_user.password_confirmation != login_user.password && !LoginForm.password_confirmation.$pristine" class="help-block">Die Passwörter stimmen nicht überein.</p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-special btn-color" data-ui-ladda="progress" ng-disabled="LoginForm.$invalid || submitted || login_user.password_confirmation != login_user.password"><div class="spinner" ng-show="submitted">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                  <span ng-hide="submitted">Passwort ändern!</span>
                  </button>
                </div>
              </div>



            </form>




    <div class="clearfix"></div>
</div>