<section class="a-europe">
    <header>
        &nbsp;
    </header>
    <section class="a-europe__intro container text-center">
        <div class="row">


            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <img src="assets/support/squirrel.svg" height="200">

                <h1 style="margin-bottom:15px;">Wir probieren Grundeinkommen aus!</h1>

            </div>



        </div>
    </section>
    <section class="container">
        <div class="row text-center">
            <div class="col-xs-12">

                <h3>Aktueller Stand:</h3>

                <div class="progress margin-top-20" style="font-size: 25px;font-weight: 600;line-height: 37px;">

                  <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100" style="width: 10%;">
                     <!-- <span ng-hide="home.percentageRaw < 50"><i class="icon-time"></i> 1.250 von 12.000€</span> -->
                  </div>
                     <span><i class="icon-time"></i> 1.250 von 12.000€</span>

               </div>

            </div>
        </div>
    </section>










<div class="slogan bottom-pad-small" style="padding-top:20px;">


    <section class="a-europe__why-you container partner">
        <div class="row">
            <div class="col-xs-12 col-md-6">


                <h2>Fragen & Antworten</h2>

                <h3>Wer wir sind</h3>
                <p>Wir sind Stipendiat*innen und Alumni*ae eines großen Begabtenförderwerks, die sich bei einem Seminarwochenende mit dem Titel “Empört Euch! Widerstand leisten heißt Neues schaffen” kennen gelernt. In unserem Workshop zu Postwachstumsökonomien haben wir beschlossen, dass uns Empörung nicht reicht und wir in der Tat Neues schaffen wollen – so ist die folgende Aktion geboren.</p>

                <h3>Was wir vorhaben</h3>
                <p>Wir mobilisieren andere Stipendiat*innen und Alumni*ae der deutschen Studierendenförderwerke, um gemeinsam 12.000,- EUR, also ein Grundeinkommen, zu finanzieren und über mein-grundeinkommen.de zu verlosen. Dadurch möchten wir in unseren Netzwerken die Idee und das Konzept eines bedingungslosen Grundeinkommens bekannt machen und zur Diskussion anregen.</p>




            </div>
            <div class="col-xs-12 col-md-6">
                <h2> &nbsp;</h2>
                <h3>Wie es weitergeht</h3>
                <p>An dieser Stelle werden wir im Anschluss an die Verlosung im kommenden Jahr berichten, was mit unserem Grundeinkommen passiert! Die/der Gewinner*in wird einen Einblick geben, ob und wie das Grundeinkommen das Leben und den Alltag verändert. Wir möchten mit dieser Aktion nicht nur ein Zeichen setzen, sondern gezielt nachfragen und reflektieren: Wie beeinflusst ein Grundeinkommen alltägliche Lebensentscheidungen? Welchen Einfluss hat es auf zwischenmenschliche Beziehungen? Wo bietet es uns Anhaltspunkte, unsere gängigen Arbeits- und Konsumgewohnheiten zu hinterfragen?<br><br>

                Hast Du Rückfragen, Kommentare, oder Anmerkungen? Wir freuen uns über Deine Nachricht!
                <br><a href="mailto:bedingungsloses.grundeinkommen@posteo.de">bedingungsloses.grundeinkommen@posteo.de</a></p>

            </div>

        </div>
    </section>

</div>


<section class="a-europe__intro container text-center">
        <div class="row">


            <h1 class="text-center">Warum das BGE?</h1>

        </div>
    </section>


<section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/studis/Foto_FloW.jpg">
            </div>
            <div class="col-xs-12 col-md-8">
                <h3>Flo</h3>

                <p>Das bedingungslose Grundeinkommen kommt ohne die Bedingung aus, dass sich Arbeit ständig daran messen muss, ob sie im riesigen Hamsterrad marktwirtschaftlicher Gewinnmaximierung auch ordentlich mithalten kann. Für Arbeit, die mehr wert ist als das, was am Ende unter der Rechnung steht!<br><br>

<i>Mit einem bedingungslosen Grundeinkommen...</i><br>
 
… würde ich endlich die Stopptaste drücken und aufhören, mich und meine Leistungen ständig an eine ungewisse Zukunft zu verkaufen. Uhren aus - Zeit an!</p>
            </div>

        </div>
    </section>


    <section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3>Jan</h3>

                <p>Das BGE ist für mich ein Mittel gegen die kopflos optimierende Wachstumsdynamik, die unseren Planeten bedroht. Heute müssen Menschen unterbezahlte Jobs annehmen, weil sie nicht anders können. Die Unternehmen wachsen daran immer weiter. Jeder, der ein BGE bekommt, steigt aus dieser Logik aus, gewinnt Lebensqualität - und verlangsamt das Wachstumskarussell.<br><br>

<i>Mit einem bedingungslosen Grundeinkommen...</i><br>

… hätte ich keine Angst mehr vor der Zukunft, und ob ich für jede Wendung gut genug ausgebildet bin - und würde stattdessen mal was wagen! </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/studis/Foto_Jan.png">
            </div>
        </div>
    </section>

    <section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/studis/Foto_Lara.jpg">
            </div>
            <div class="col-xs-12 col-md-8">
                <h3>Lara</h3>

                <p>Ich erhoffe mir durch die Einführung des BGE eine andere Wertschätzung von Arbeit. Momentan wird Erwerbsarbeit dadurch ein Wert beigemessen, dass es monetär mehr oder weniger vergütet wird. Das suggeriert, dass es Unterschiede in der Wertigkeit von Arbeit gibt. Warum aber soll die eine Anstrengung mehr Wert sein als die andere? <br><br>

<i>Mit einem bedingungslosen Grundeinkommen...</i><br>

… würde ich mehr Zeit mit non-formellem Lernen und Lesen, Diskutieren und gelebten Alternativen verbringen.
</p>
            </div>

        </div>
    </section>

    <section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h3>Mareike</h3>

                <p>Weil ich neugierig bin, ob das Grundeinkommen ein möglicher Weg zu einer sinnvolleren Gesellschaft ist – einer Gesellschaft, in der Entscheidungen nicht nach finanziellen Existenzängsten getroffen werden und Menschen nicht mehr blind der propagierten Alternativlosigkeit von Wachstum, Konkurrenz und Marktfähigkeit folgen. Welche Tätigkeiten bekommen dann Wertschätzung? Welche Lebensstile werden möglich?<br><br>

<i>Mit einem bedingungslosen Grundeinkommen...</i><br>

… könnte ich entspannter meiner wissenschaftlichen Arbeit nachgehen, mich sinnvoller engagieren und mehr Zeit den Menschen widmen, die mein Leben lebenswert machen.</p>
            </div>
            <div class="col-md-4">
                <img src="/assets/studis/Foto_Mareike.jpg">
            </div>
        </div>
    </section>


    <section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/studis/Foto_Steven.jpg">
            </div>
            <div class="col-xs-12 col-md-8">
                <h3>Steven</h3>

                <p>Ich verspreche mir weitreichende gesellschaftliche Veränderungen durch ein Bedingungsloses Grundeinkommen. Besonders interessieren mich die Auswirkungen auf den Arbeitsmarkt: Wie ändert sich die Unternehmenskultur, wenn Sinnstiftung bei Angestellten im Vordergrund steht und nicht mehr der Lohn? Ist das BGE womöglich ein Impulsgeber für die Neuausrichtung des Unternehmenszwecks hin zur Mehrung des Gemeinwohls?<br><br>

<i>Mit einem bedingungslosen Grundeinkommen...</i><br>

… würde ich ein kooperatives oder genossenschaftlich-organisiertes Unternehmen gründen, dessen Struktur und Wirken am Ziel eines nachhaltig wachsenden Gemeinwohls ausgerichtet wären.
</p>
            </div>

        </div>
    </section>





