<tabset id="tabs" justified="true" style="padding:10px;padding-top:30px;">

  <!-- Was würdest du tun? -->

  <tab active="tabs.crowdfund">
    <tab-heading>
      Help mee
      </tab-heading>
    <div ng-include="'/assets/boarding/crowdfund.html'"></div>
  </tab>


  <tab active="tabs.crowdbar">
    <tab-heading>
       Vragen
    </tab-heading>
    <div style="padding-top:10px;" ng-include="'/assets/faq.html'"></div>
  </tab>

  <tab active="tabs.crowdcard">
    <tab-heading>
       Crowdcard
    </tab-heading>
    <div style="padding-top:10px;" ng-include="'/assets/boarding/crowdcard.html'"></div>
  </tab>
</tabset>

