<div class="fullwidthbanner-container">
   <div class="fullwidthbanner rslider">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
                           	<div style="box-shadow: 0px 0px 10px black;
border: 2px solid white;
border-radius: 5px;
overflow: hidden;background:black;margin-top:10px;margin-bottom: 40px;background:white;padding:50px;padding-top:70px;padding-bottom:70px;text-align:center">
	<img src="http://skin2.ztat.net/s/xry/zalando/img/MAIN/logos/shops/schuhe.jpg">
</div>

               <script type="text/ng-template" id="video_preview.html">
                  <a href="#"><img src="/assets/ichgross.jpg"></a>
               </script>
               <script type="text/ng-template" id="video.html">
                  <iframe width="100%" height="300" src="http://www.youtube.com/embed/iLTv8gFw15E?autoplay=1" frameborder="0" allowfullscreen></iframe>
               </script>


            </div>
            <div class="col-md-6">
               <h1 class="title_headline">Einkaufen und damit Grundeinkommen unterstützen - ohne Mehrkosten:</h1>
               <a class="btn-large btn-grey btn-pad" scroll-to="support"><i class="icon-arrow-right"></i> Weiter zu zalando</a><br>
               <a href="http://www.mein-grundeinkommen.de/support" style="color:white;display:block;margin-left:10px;">So funktioniert's</a>

            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>