<form class="form-inline" name="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">

<INPUT TYPE="hidden" name="charset" value="utf-8">

<input type="text" name="custom" ng-model="support.support_id" id="support_id" style="display:none;">

<input type="text" name="a3" ng-model="support.amount" style="display:none;">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="M">


<input type="hidden" name="business" value="micha@mein-grundeinkommen.de">
<input type="hidden" name="item_name" value="Beitrag zum Grundeinkommen">
<input type="hidden" name="currency_code" value="EUR">

<div class="form-group text-center" style="">
  <!-- <label for="supportamount">Mein Beitrag:</label> -->
  <div style="width:200px;margin-left: auto;margin-right: auto;margin-bottom:5px;" class="input-group">
    <input class="form-control input-lg" id="supportamount" width="4" min="1" max="12000" type="number" ng-model="support.amount" name="amount" ng-change = "support.set_equals_bi(support.amount)">
    <div class="input-group-addon">€</div>
  </div>

  <div class="well">{{support.equals_bi}}</div>

  <label><input type="radio" ng-click="support.payment_method = 'bank'" ng-model="support.cmd" name="cmd" value="_xclick" checked> einmalig </label>
  &nbsp;&nbsp;<label><input ng-click="support.payment_method = 'paypal_k'" ng-model="support.cmd" type="radio" name="cmd" value="_xclick-subscriptions"> monatlich</label>
<br>
<label style="font-weight:normal"><input type="checkbox" ng-model="support.donate"> davon 10% ({{(support.amount * 0.1).toFixed(2)}}€) an den Verein spenden</label>


       <!-- <label for="supportamount">Mein Beitrag:</label> -->
  <div class="input-group" style="width:200px;margin-top:10px;margin-left: auto;margin-right: auto">
    <select class="form-control" id="payment_method" ng-model="support.payment_method">
      <option value="bank" ng-if="support.cmd == '_xclick'">Überweisung</option>
      <option value="paypal" ng-if="support.cmd == '_xclick'">Paypal</option>
      <option value="paypal_l" ng-if="support.cmd == '_xclick'">Lastschrift (über Paypal)</option>
      <option value="paypal_k" ng-selected="support.cmd != '_xclick'">Kreditkarte (über Paypal)</option>
    </select>
  </div>
  <small ng-hide="support.payment_method == 'bank'">abzüglich {{(0.35 + support.amount * 0.019).toFixed(2)}}€ Paypal-Gebühren
  <br></small>


<a href="#" ng-click="support.create()" class="btn btn-special btn-color btn-large" style="margin-top:20px;" ng-disabled="support.submitted"><div class="spinner" ng-show="support.submitted">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
<span ng-hide="support.submitted"><i class="icon-heart"></i> Jetzt unterstützen!</span></a>

<!-- <div
slider
ng-model="test"
floor="1"
ceiling="1000"
step="1"
precision="0"
stretch="5"
></div> -->

</form>