<tabset id="tabs" justified="true" style="padding:10px;padding-top:30px;">

      <!-- Was würdest du tun? -->

      <tab active="tabs.crowdfund">
        <tab-heading>
           Direkt Geld geben
        </tab-heading>
        <div ng-include="'/assets/boarding/crowdfund.html'"></div>
      </tab>


      <tab active="tabs.crowdbar">
        <tab-heading>
           Crowdbar
        </tab-heading>
        <div style="padding-top:10px;" ng-include="'/assets/boarding/crowdbar.html'"></div>
      </tab>

      <!--<tab active="tabs.crowdcard">
        <tab-heading>
           Crowdcard
        </tab-heading>
        <div style="padding-top:10px;" ng-include="'/assets/boarding/crowdcard.html'"></div>
      </tab>-->


      <!-- <tab active="tabs.donate">
        <tab-heading>
           Spenden
        </tab-heading>
        <div ng-include="'/assets/boarding/donate.html'"></div>
      </tab> -->



  <!--     <tab active="tabs.cola">
        <tab-heading>
           Cola trinken
        </tab-heading>
        <div ng-include="'/assets/boarding/cola.html'"></div>
      </tab> -->





</tabset>


<!-- <div class="container">
<div class="margin-top-70 text-center">

	<i class="icon-heart huge"></i><br>

 <h2>Hilf mit, das {{home.totallyFinancedIncomes + 1}}. Grundeinkommen zu finanzieren!</h2>

  <div class="progress" style="font-size: 15px;font-weight: 600;line-height: 40px;">

     <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100" style="width: {{home.percentage}};">
        <span ng-hide="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>
     </div>
        <span ng-show="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>

  </div>

<div ng-show="support_now" ng-include="'/assets/support_crowdfund_form.html'"></div>

<a href="#" ng-hide="support_now" ng-click="support_now = true" class="btn btn-special btn-color btn-large" style="margin-top:20px;"><i class="icon-plus"></i> Ich will unterstützen!</a>
                  <br>


  <h3 style="margin-bottom:0;" class=" well margin-top-30">...oder unterstützen <u>ohne zu bezahlen</u>:</h3>


  <div ng-include="'/assets/crowdbar_explain.html'" ></div>


</div>
</div>
 -->