<section class="a-europe">
    <header>
        <img src="/assets/tandem-header.png">
    </header>
    <section class="a-europe__intro container text-center">
        <div class="row">


            <alert>Achtung: Die Tandem-Kampagne ist beendet. Du kannst dich nach wie vor anmelden und an den Verlosungen teilnehmen, aber keine neuen Tandem mit Freund*innen mehr bilden.</alert>

            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">

                <h1 style="margin-bottom:15px;">Doppeltes Grundeinkommen<br> - vielfache Wirkung</h1>

                <p ng-hide="current.inviter" style="font-size:140%">Was wäre, wenn <b>Du und ein Mensch, den du kennst,</b> ein Jahr Grundeinkommen hätten? <br>Probiert es aus!</p>

                <div ng-show="current.inviter" class="testimonial-image-medium"><img ng-src="{{current.inviter.avatar.avatar.url}}" height="100"></div>

                <p ng-show="current.inviter" style="font-size:140%">Was wäre, wenn <b>Du und {{current.inviter.name}}</b> ein Jahr gemeinsam Grundeinkommen hätten? <br>Probiert es aus!</p>

            </div>


            <a ng-show="current.user && current.participates() && current.inviter" href="#" ng-click="current.confirmTandem()"  class="btn btn-large btn-bge">Tandem mit {{current.inviter.name}} bestätigen & eure Chancen erhöhen</a>

            <a ng-show="current.user && !current.inviter && !current.participates()" href="/boarding?trigger=wants_to_participate"  class="btn btn-large btn-bge">Jetzt mitmachen</a>

            <a ng-show="current.user && current.inviter && !current.participates()" href="/boarding?trigger=wants_to_participate"  class="btn btn-large btn-bge">Jetzt mit {{current.inviter.name}} mitmachen</a>

            <a ng-show="current.user && !current.inviter && current.participates()" href="/menschen/{{current.user.id}}?gewinnspiel"  class="btn btn-large btn-bge">Meine Tandems ansehen & bearbeiten</a>

            <a ng-hide="current.user" href="/register"  class="btn btn-large btn-bge">Jetzt mitmachen</a>

            <!-- <a ng-show="current.user" href="/menschen/{{current.user.id}}?gewinnspiel"  class="btn btn-large btn-bge">Jetzt mitmachen</a> -->


        </div>
    </section>
    <section class="container">
        <div class="row text-center">
            <div class="col-xs-12">

                <iframe width="760" height="415" src="//www.youtube.com/embed/fWmCmxxajtk" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </section>





    <script type="text/ng-template" id="videomodal.html">

              <div class="modal-body">
                <div class="row text-center" >

                    <iframe width="100%" height="500" ng-src="{{slug}}"
                                frameborder="0" allowfullscreen></iframe>

                </div>
              </div>
              <div class="modal-footer">

                <div class="text-center"><a href="javascript:void(0)" ng-click="$dismiss()" style="margin-top:15px;">Schließen</div>

              </div>

          </script>

          <a name="portraits"></a>
    <section class="a-europe__team container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="assets/support/squirrel.svg" height="200">
                <h2 style="margin-bottom:10px">"Warum ich dir Grundeinkommen gönne"</h2>
                <h3>Tandem-Paare im Portrait</h3>
            </div>

        </div>




<div class="slogan bottom-pad-small" style="padding:0">
      <carousel interval="3000">
        <slide ng-repeat="t in grudgeportraits">
          <div style="height:100%;width:100%;position:absolute;opacity: 0.3; filter: alpha(opacity=30);z-index:0;">
            <div style="background:url('{{t.grudgee.avatar.avatar.url}}');background-size:100% auto;background-position:50% 30%;height:100%;width:100%"></div>
          </div>
          <div style="padding:20px;padding-bottom:50px;z-index:1;position:relative;">
            <div class="testimonial-image-medium">
              <a href="/menschen/{{t.grudger.id}}">
                <img src="{{t.grudger.avatar.avatar.url}}">
              </a>
            </div>
            <h3><a href="/menschen/{{t.grudger.id}}">{{t.grudger.name}}</a> gönnt <a href="/menschen/{{t.grudgee.id}}">{{t.grudgee.name}}</a> Grundeinkommen, damit <br>
            {{t.grudge}}
            </h3>

          </div>
        </slide>
    </carousel>

</div>







       <!--  <div ng-repeat="t in portraits" ng-if="$index % 4 == 0" class="row">
            <div class="col-xs-12 col-md-3" >
                <a href="#" ng-click="openVideoModal(portraits[$index])"><img style="border-radius:10px" src="/tandem/Tandem-Paar-{{portraits[$index].pic}}.jpg" class="img-responsive"></a>
                <h4>{{portraits[$index].title}}
                </h4>
                <p>{{portraits[$index].text}}</p>
            </div>

            <div class="col-xs-12 col-md-3" >
                <a href="#" ng-click="openVideoModal(portraits[$index+1])"><img style="border-radius:10px" src="/tandem/Tandem-Paar-{{portraits[$index+1].pic}}.jpg" class="img-responsive"></a>
                <h4>{{portraits[$index+1].title}}
                </h4>
                <p>{{portraits[$index+1].text}}</p>
            </div>

            <div class="col-xs-12 col-md-3" >
                <a href="#" ng-click="openVideoModal(portraits[$index+2])"><img style="border-radius:10px" src="/tandem/Tandem-Paar-{{portraits[$index+2].pic}}.jpg" class="img-responsive"></a>
                <h4>{{portraits[$index+2].title}}
                </h4>
                <p>{{portraits[$index+2].text}}</p>
            </div>

            <div ng-show="portraits[$index+3]" class="col-xs-12 col-md-3" >

                <a href="#" ng-click="openVideoModal(portraits[$index+3])"><img style="border-radius:10px" src="/tandem/Tandem-Paar-{{portraits[$index+3].pic}}.jpg" class="img-responsive"></a>
                <h4>{{portraits[$index+3].title}}
                </h4>
                <p>{{portraits[$index+3].text}}</p>
            </div>

            <div ng-show="$index == 8" class="col-xs-12 col-md-3" >
                <img style="border-radius:10px" src="/tandem/foto_lp.jpg" class="img-responsive">
                <h4>Warum gönnst du deinen Tandems Grundeinkommen?
                </h4>
                <p>Sag es ihnen und der Welt!
                    <br>
                    <a href="/menschen/{{current.user.id}}?gewinnspiel" class="btn btn-large btn-bge">Jetzt sagen!</a></p>
            </div>

        </div>
 -->



    </section>









    <section class="a-europe__project green text-center">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-4 text-center">
                    <h1 style="    color: white;
    border: 10px solid;
    width: 100px;
    border-radius: 50px;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    display:inline-block;
    box-shadow: 1px 1px 0px black;">1.</h1>
                    <h2>Mitmachen</h2>
                    <p>Anmelden & an der Verlosung teilnehmen. Wie immer.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h1 style="    color: white;
    border: 10px solid;
    width: 100px;
    border-radius: 50px;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    display:inline-block;
    box-shadow: 1px 1px 0px black;">2.</h1>
                    <h2>Tandems starten</h2>
                    <p>Beliebig viele Freunde einladen und mit ihnen Tandems bilden. Je mehr Tandems du hast, desto höher ist deine Chance zu gewinnen. <a href="/blog/690" style="color:white" target="_blank"><u>So funktioniert's</u></a></h3>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h1 style="    color: white;
    border: 10px solid;
    width: 100px;
    border-radius: 50px;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    display:inline-block;
    box-shadow: 1px 1px 0px black;">3.</h1>
                    <h2>Gewinnen</h2>
                    <p>Wenn eines deiner Tandems gewinnt, erhaltet ihr ab 1. November beide je ein Jahr lang 1.000 € monatliches Grundeinkommen. Natürlich ohne Bedingungen.</p>
                </div>
            </div>



                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-sm-12 text-center">
                <a ng-click="" href="/boarding?trigger=wants_to_participate" class="btn btn-large btn-bge inverse">Jetzt mitmachen</a>
            </div>
        </div>
    </section>




<!--     <section class="a-europe__history container text-center">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Welche Geschichte steckt hinter unserer Idee?</h2>

                <p>Ende 2013 stieg Micha, der Initiator des Projekts, aus seiner Firma aus und bezieht seither ein
                    bescheidenes Grundeinkommen. Er wollte das Leben genießen, mehr für seine Familie da sein und sehen,
                    was passiert. Nach
                    einigem Herumliegen im Park entdeckte er, dass die neue Freiheit ihn sehr veränderte: dass er
                    entspannter war, voller Ideen und darüberhinaus seiner Tochter ein besserer Vater wurde. Die Frage:
                    „Was würde passieren, wenn es plötzlich
                    Grundeinkommen für alle gäbe?“, ließ ihn nicht mehr los...</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/story.jpg">
            </div>
        </div>
    </section> -->



    <section class="container">
        <div class="row text-center">
            <div class="col-xs-12">

                <h2>So startest du ein Tandem:</h2>

                <iframe width="760" height="415" src="//www.youtube.com/embed/mSSlH-rgr9Y" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="a-europe__why-you container partner">
        <div class="row">
            <div class="col-xs-12 col-md-6">

                <h2>Fragen & Antworten</h2>

                <h3>Warum verlost ihr nicht einfach zwei Grundeinkommen unabhängig voneinander?</h3>
                <p>Wir sind der Meinung, dass sich ein Grundeinkommens-Gefühl vor allem dann entfaltet, wenn auch das Umfeld der Gewinnenden Grundeinkommen bezieht. Das wollen wir jetzt im Kleinen ausprobieren. Ein Tandem - bestehend aus zwei Personen, die sich zusammen für die Verlosung anmelden - wird die Erfahrung machen, wie es ist, wenn beide je ein Grundeinkommen von 1.000 € ein Jahr lang erhalten.</p>

                <h3>Ist die Person, die ich einlade auch automatisch mein Tandem?</h3>
                <p>Mit jeder Person, die deiner Tandemeinladung folgt, bildest du ein Tandem. Je mehr Tandems du bildest, desto höher ist deine Chance, dass eines deiner Tandems die Verlosung gewinnt.</p>

                <h3>Ich finde keinen Tandempartner.</h3>
                <p>Gar kein Problem! Wenn du keine_n Tandempartner*in findest, weisen wir dir kurz vor der Verlosung per Zufallsauswahl eine_n Tandempartner*in zu. Denn kein Mensch soll von unser Verlosung ausgeschlossen werden.</p>


            </div>
            <div class="col-xs-12 col-md-6">
                <h2> &nbsp;</h2>
                <h3>Das ist unfair, ich kenne nicht so viele Leute. Habe ich dann nicht geringere Gewinnchancen als andere?</h3>
                <p>Wir werden die Verlosung so gestalten, dass sie in zwei Schritten erfolgt. Im ersten Verlosungschritt haben alle teilnehmenden Personen die gleiche Chance zu gewinnen. Das heißt: Das erste Grundeinkommen wird verlost wie sonst auch!
Nur das zweite Grundeinkommen wird als Tandem-Grundeinkommen verlost. Dabei wird unter allen Tandems der ersten gewinnenden Person gelost. Am Ende gewinnt damit ein angemeldetes Tandem, also zwei Personen. Das Gute daran ist, du hast sozusagen gleich zweimal die Chance auf ein Grundeinkommen.</p>

                <h3>Diese Tandemverlosung ist doch gar nicht mehr bedingungslos.</h3>
                <p>Die Tandemverlosung ist und bleibt bedingungslos. Das heißt, dass der Gewinn der zwei Grundeinkommen an keinerlei Bedingungen geknüpft ist. Ihr sollt weiterhin erfahren, was es heißt bedingungslos ein Jahr lang 1.000 € im Monat zu erhalten. Voraussetzung ist allerdings, wie auch bei den vorherigen Verlosungen, dass ihr euch bei www.mein-grundeinkommen.de für die Verlosung anmeldet und wenn möglich mindestens eine_n Tandempartner*in angebt.</p>

            </div>

        </div>
    </section>


    <!-- <section class="a-europe__team-one">
        <div>

        </div>
    </section> -->





    <!-- <section class="a-europe__motivation container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/motivation.png">
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Unsere Motivation</h2>

                <p>Wie viele Grundeinkommen in einem Land wie Deutschland braucht es, damit alle Menschen jemanden
                    kennen, der/die jemanden kennt, der/die durch unser Projekt Grundeinkommen bezieht/bezogen hat? Wir
                    glauben, dass wir die Debatte über bedingungsloses Grundeinkommen - und dadurch prinzipiell über die
                    Zukunft unserer Gesellschaft - europaweit entfachen können. Die Geschichten unserer
                    Grundeinkommen-Bezieher sind dafür der Schlüssel!</p>
            </div>
        </div>
    </section>
    <div class="container">
        <p>
            <small>Europe Map Copyright © Free Vector Maps.com</small>
        </p>

    </div>
</section> -->
