<ul>


    <li ng-repeat="tandem in chances.tandems" class="pull-left">

    <div class="pull-left text-center" style="margin:15px;background: #F6F6F6;border: 2px solid white;border-radius: 10px;padding: 16px;box-shadow: 0px 0px 5px #000;">

      <div class="pull-left" style="    position: absolute;height: 30px;width: 30px;border-radius: 15px;background-color: white;margin-left: -27px;margin-top: -27px;border: 2px solid #aaa;font-size: 20px;padding-left: 1px;"><a href="#" ng-click="removeTandem(tandem)">x</a></div>
      <div class="testimonial-image "><img ng-src="{{current.user.avatar.avatar.thumb.url}}" height="50"></div>
      <div style="margin-left:-35px;" class="testimonial-image "><img ng-src="{{tandem.details.avatar.avatar.thumb.url}}" height="50"></div>
      <br> Du &

      <a ng-show="tandem.invitee_id && tandem.invitee_id != current.user.id" href="/menschen/{{tandem.invitee_id}}" target="_blank">{{tandem.details.name}}</a>

      <a ng-show="tandem.inviter_id && tandem.inviter_id != current.user.id" href="/menschen/{{tandem.inviter_id}}" target="_blank">{{tandem.details.name}}</a>


      <!-- <span ng-show="!tandem.invitee_id">{{tandem.details.name}}</span> -->

    </div>


    </li>


    <li class="pull-left" ng-show="chances.tandems.length > 0">
      <div class="pull-left text-center" style="margin:15px;background: #white;border: 2px dotted #ccc;border-radius: 10px;padding: 16px;">

      <div class="testimonial-image "><img ng-src="{{current.user.avatar.avatar.thumb.url}}" height="50"></div>
      <div style="margin-left:-35px;" class="testimonial-image "><img alt="" ng-src="/assets/team/team-member.jpg" src="/assets/team/team-member.jpg"></div>
      <br> <a href="#" ng-click="invite = true; chances_form.editAllChances = true">Jemanden einladen</a>

    </div>
    </li>

    <li style="clear:both"></li>

  </ul>