<div ng-controller="TandemsController">

  <div class="form-group">

    <div class="row">

    <div ng-hide="current.user.tandems.length > 1" class="col-sm-4 text-center">
      <img src="/assets/tandem-klein.png" style="max-height:150px;">
    </div>

    <div ng-class="{'col-sm-8': current.user.tandems.length < 2, 'col-sm-12': current.user.tandems.length > 1}">

      <label ng-show="current.user.tandems.length < 2" style="font-size:150%;" for="inputEmail12" class=" text-center">Wenn ich gewinne, soll auch diese Person Grundeinkommen erhalten:</label>

      <label ng-show="current.user.tandems.length > 1" style="font-size:150%;" for="inputEmail12" class=" text-center">Wenn ich gewinne, soll auch <b><i>eine dieser Personen</i></b> Grundeinkommen erhalten:</label>

      <div ng-show="current.user.tandems.length == 0">

        <input type="text" ng-model="tandeminviteform.reference" style="height:50px;padding-left:10px;padding-right:10px;width:100%;margin-top:25px" font-size="25" autocomplete="false"
        placeholder="Suchen nach Benutzername / User-ID oder E-Mail-Adresse" typeahead="user as user.name for user in getTandem($viewValue)"
        typeahead-on-select="chooseExisting($model)"
        typeahead-loading="loading" typeahead-template-url="suggestion_list.html" typeahead-min-length="1" required ng-blur="checkifblur()">

        <alert ng-show="chances.notandemerror && current.user.tandems.length==0">Bitte eine Person auswählen (einfach lostippen) oder eine E-Mail-Adresse eintragen um jemanden einzuladen. <a href="#" ng-click="getRandomTandem()" class=" btn btn-small btn-color">Zufällige Person auswählen</a></alert>

        <br>
        <span style="font-size:11px;">#bgeMitDir - Diesmal werden zwei Grundeinkommen verlost, an zwei Personen, die sich kennen. Im Tandem. Mehr Infos <a href="/tandem">hier</a></span>.

      </div>

      <script type="text/ng-template" id="suggestion_list.html">
          <a class="suggestion_entry" ng-class="{new_entry: match.model.create}">
              <div class="testimonial-image " ng-show="{{match.model.avatar}}"><img ng-src="{{match.model.avatar.avatar.thumb.url}}" height="50"></div>
              &nbsp;&nbsp;<span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span> <br>&nbsp;&nbsp;<span ng-show="match.model.id" style="color:#bbb;font-size:13px;">ID: {{match.model.id}}</span>

          </a>
        </script>

      <div ng-include="'/assets/tandem_list.html'"></div>

    </div>

  </div>

  <div class="row">


    <div class="col-sm-12">
      <div>

        <div style="text-align: center; font-weight:bold;font-size: 25px;background:#66cc99;color:white;border-radius: 5px;box-shadow:1p 1px 1px black;border:1px solid white;    padding-left: 20px;padding-right: 50px;padding-bottom: 20px;">

            <div class="testimonials-arrow" style="margin-left:58%"></div>

          <div> <!-- ng-show="chances.tandems.length==1 && !invite"> -->
            <div class="col-sm-12 text-center">
              <a name="invitelink"></a>
              <h2 style="font-weight: bold;color: white;text-shadow: 1px 1px black;">Lade Freund_innen ein & erhöhe deine Chancen</h2>
              <h3 style="color: black;text-shadow: 1px 1px 2px white;">Mit jedem Menschen, der sich auf deine Einladung hin neu registriert, bildest du ein weiteres Tandem und erhöhst gleichzeitig deine Gewinnchancen. </h3>

              <!-- <a href="#" ng-click="invite = true" class=" btn btn-small btn-color">Leute per E-Mail einladen</a> -->
            </div>
          </div>

          <script type="text/ng-template" id="invitemodal.html">
            <div class="modal-header">

                  <a href="mailto:{{tandeminviteform.recipients[0].email}}?subject={{tandeminviteform.subject}}&body={{encodemail(tandeminviteform.mailtext)}}" class="pull-right btn btn-small btn-color" style="z-index: 999999999;position: relative;"><i class="fa fa-external-link"></i> In meinem Mailprogramm öffnen</a>
                  <h3 class="float-left modal-title">Jemanden auf mein Tandem einladen</h3>

              </div>
              <div class="modal-body">
                <div class="row" ng-repeat="to in tandeminviteform.recipients">
                  <label for="to" class="col-sm-2 control-label"><span ng-show="$first">An:</span></label>

                  <div class="col-sm-4">
                    <input style="display:inline" class="form-control" type="email" placeholder="E-Mail-Adresse" ng-model="to.email">
                  </div>

                  <div class="col-sm-4">
                    <input style="display:inline" class="form-control" type="text" ng-model="to.name" placeholder="Vorname (freiwillig)">
                  </div>

                  <div class="col-sm-1">
                    <a ng-hide="$first || $last" href="#" ng-click="removeRecipient(to)" class=" btn btn-small btn-grey"><i class="fa fa-times"></i></a>
                    <a ng-show="$last" href="#" ng-click="addRecipient()" class=" btn btn-small btn-grey"><i class="fa fa-user-plus"></i></span></a>
                  </div>
                  <span style="font-size:12px;"><br>&nbsp;</span>
                </div>

                <div class="row">

                  <label for="subject" class="col-sm-2 control-label">Betreff:</label>
                  <div class="col-sm-10 text-left">
                    <input name="subject" ng-model="tandeminviteform.subject" type="text" class="form-control" id="inputEmail12" required>
                  </div>
                </div>

                <div class="row">
                  <label for="text" class="col-sm-2 control-label">E-Mail:</label>
                  <div class="col-sm-10 text-left">
                    <textarea style="min-height:400px;" name="text" class="form-control" ng-model="tandeminviteform.mailtext"></textarea>
                  </div>
                </div>
          </div>
              </div>
              <div class="modal-footer">

                <div class="text-center pull-left"><a href="javascript:void(0)" ng-click="$dismiss()" style="margin-top:15px;">Schließen</div>
                <a href="#" ng-click="inviteNow()" class=" pull-right btn btn-normal btn-color">Per E-Mail einladen</a>

              </div>

          </script>




          <div class="row" style="font-size: 15px;
margin-top: 11px;
padding-top: 15px;
">

      <div class="col-md-12 text-center">
        <h3 style="color: black;text-shadow: 1px 1px 2px white;">Verschicke dafür deinen persönlichen Einladungslink: </h3>

              <input onClick="this.select();" type="text" readonly size="40" ng-model="personallink">

              <a href="#" ng-click="openInviteModal()" class="btn btn-small btn-grey"><i class="fa fa-mail fa-envelope"></i> E-Mail</a>

              <a facebook="" class="facebookShare" data-shares="shares" data-url="https://{{personallink}}" style="display:inline-block;"></a>

              <div class="btn btn-small btn-grey" style="padding-bottom: 2px;padding-right: 20px;padding-top: 7px;">
              <a class="" twitter="" data-count="horizontal" data-lang="de" data-size="medium" data-text="Sei mein Tandem & gewinne Grundeinkommen mit mir! #bgeMitDir" data-url="https://{{personallink}}" data-via="meinbge"></a>
            </div>
          </div>
      </div>
          </div>



          <div class="clear clear-both clearfix"></div>
        </div>
    </div>


  </div>

</div>
