<div class="modal-body">

<div class="container margin-top-30" style="padding:30px;">

<h1>{{supported.nickname}}, vielen Dank für deine Unterstützung!</h1>


<h3 class="title">&nbsp;</h3>

<i class="fa fa-bullhorn pull-left huge"></i>

<h2>Warum hast du "Mein Grundeinkommen" mit Geld unterstützt?</h2>

<div class="row">
	<div ng-if="supported.avatar" class="testimonial-image pull-left" style="margin:10px;">
	  <img src="{{supported.avatar.avatar.url}}">
	</div>
	<label>Dein Name: &nbsp;<input type="text" ng-model="supported.nickname" placeholder="Dein Name"></label><br>
	<textarea maxlength="200" style="width:80%;min-height:60px;margin-top:10px;margin-bottom:10px" ng-model="supported.comment" placeholder="Dein Grund"></textarea>
</div>

<p class="text-center">
	<a class="btn-large btn-color" href="#" ng-click="save_comment(supported.id,supported.nickname,supported.comment)"><i class="fa fa-bullhorn" ng-click></i> Sagen!</a>
</p>


</div>

</div>

 <div class="modal-footer">

<p class="text-right">
	<a class="btn-small btn-grey" href="#" ng-click="close()">Schließen</a>
</p>

</div>