

              <span>{{remaining()}} of {{todos.length}} remaining</span>
[ <a href="" ng-click="archive()">archive</a> ]
<ul class="unstyled">
<li ng-repeat="todo in todos">
<input type="checkbox" ng-model="todo.done">
<a href="/todo/{{todo.id}}" class="done-{{todo.done}}">{{todo.title}}</a>
<a href="#" ng-click="delete($index)">löschen</a>
</li>
</ul>
<form ng-submit="addTodo()">
<input type="text" ng-model="title"  size="30"
   placeholder="add new todo here">
<input class="btn btn-special btn-color" type="submit" value="add">
</form>
