<div class="modal-header ">

      So funktioniert die Auslosung

</div>

<div class="modal-body">


Alle Mitglieder, die am Gewinnspiel teilgenommen haben, finden auf ihrer Profilseite ihre Losnummer und ggf. die Losnummern ihrer Kinder.
<br><br>
Auch die Losnummern aller anderen Teilnehmer_innen sind öffentlich auf ihren jeweiligen Profilseiten einsehbar.<br><br>
<br><br>
Die Losnummern wurden per Zufall vergeben. Der Programmier-Quellcode für die Zufallszahlen findet sich <a href="https://github.com/bohemeyer/meingrundeinkommen/blob/master/lib/tasks/chances.rake">hier</a>.
<br><br>
Am 22.02.2014 um 13:30 Uhr findet die Auslosung statt. Es wird ein Glücksrad gedreht. Mit jeder Drehung wird eine Ziffer der Gewinner-Losnummern festgestellt.
<br><br>
Die Auslosung ist öffentlich. Sie wird hier per Video-Livestream übertragen.
<br><br>
Alle Angaben auf dieser Seite sind ohne Gewähr, da es zu fehlerhafter Datenübertragung oder Darstellung kommen kann. Es gelten die Ergebnisse, die im Video-Livestream genannt werden.

</div>