
<div class="modal-header ">

      So funktioniert die Auslosung

</div>

<div class="modal-body">

<br>Um teilzunehmen, benötigt man ein Nutzerkonto auf dieser Seite und man muss das Formular zur Teilnahme an der Verlosung ausgefüllt haben.<br>

Wer bis zum 05. November um 12:59 Uhr teilgenommen hat, nimmt an den Verlosungen zum Grundeinkommen am 06. November teil.
<br><br>

Die Grundeinkommens-Vergabe passiert über ein Gewinnspiel.<br><br>

Alle User, die am Gewinnspiel teilnehmen haben, finden auf ihrer Profilseite ihre Losnummer und ggf. die Losnummern ihrer Kinder.

<br><br>
Auch die Losnummern aller anderen Teilnehmer_innen sind öffentlich auf ihren jeweiligen Profilseiten einsehbar.

<br><br>
Die Losnummern wurden per Zufall vergeben. Der Programmier-Quellcode für die Zufallszahlen findet sich <a href="https://github.com/bohemeyer/meingrundeinkommen/blob/production/lib/tasks/chances.rake">hier</a>.
<br><br>
<!-- Zur Feststellung der Gewinn-Losnummern nutzen wir die ARD Fernsehlotterie. Die Auslosung findet am 22. August 2015 zwischen 19:15 und 19:25 Uhr in Saarbrücken statt und ist öffentlich (<a href="http://daserste.hr-online.de/lotto/sendung/die-ziehung100.html">Infos hier</a>). Die Ziehung wird um 19:97 in der ARD (Fernsehen) und hier im Livestream ausgestrahlt. --> Mit einem Glücksrad und einem Würfel wird die gewinnende Losnummer ermittelt. Mit jedem Wurf/Drehung wird eine Ziffer der Gewinn-Losnummern festgestellt.
<br><br>

Die Losnummern bestehen aus 4 Ziffern. Drei davon zwischen 1 und 26 (Glücksrad) und die letzte zwischen 1 und 6 (Würfel).<br>
<!-- <ul>
	<li>1. einer Zahl zwischen 0 und 36</li>
	<li>2. K1, K2, oder K3</li>
	<li>3. "r" für rot oder "s" für schwarz</li>
	<li>4. "g" für gerade oder "u" für ungerade</li>
	<li>5. einer Zahl zwischen 0 und 36</li>
	<li>6. "r" für rot oder "s" für schwarz</li>
</ul> -->
<br><br>
Eine Losnummer lautet also z. B.<br>
3 • 33 • 4 • 34

<!-- <br><br>
Welche Losnummer gewinnt entscheiden die ersten drei gezogenen Lottozahlen. Die weiteren drei Lottozahlen sind irrelevant. Relevant ist dann erst wieder, ob die Superzahl gerade oder ungerade ist. -->
<!-- <br><br> -->
<!-- Die Reihenfolge der ersten drei gezogenen Lottozahlen ist nicht relevant.Die Losnummer aus dem obigen Beispiel hätte also auch dann gewonnen, wenn die erste drei Lottozahlen 32 • 7 • 11 lauten.
 -->
<br><br>
Für den relativ unwahrscheinlichen Fall, dass eine Niete gezogen wird, wird die Losnummer von der erste Ziffer an neu ausgewürfelt/gedreht.


<br><br>
Die Losnummer bestimmt, wer das erste Grundeinkommen im Tandem erhält. Das zweite Grundeinkommen eines Tandems wird unter allen Tandems dieser Person verlost. Dies geschieht je nach Menge der Tandems der erster Person mit dem Würfel, mit dem Glücksrad oder einer Kombination aus beiden.
<br><br>

 Näheres erklären wir vor Ort bzw. im Livestream.
<br><br>
Die Auslosung wird hier per Video-Livestream übertragen.
<br><br>
Alle Angaben auf dieser Seite sind ohne Gewähr, da es zu fehlerhafter Datenübertragung oder Darstellung kommen kann. Es gelten die Ergebnisse, die im Video-Livestream genannt werden.

</div>