
<div class="modal-header ">

      So funktioniert die Auslosung

</div>

<div class="modal-body">

<br>Um teilzunehmen, benötigt man ein Nutzerkonto auf dieser Seite und man muss das Formular zur Teilnahme an der Verlosung ausgefüllt haben.<br>

Wer bis zum 19. März um 23:59 teilgenommen hat, nimmt an den Verlosungen zum 8. und 9. Grundeinkommen am 20. März und 22. März teil. Wer vor dem 22. März um 11:59 Uhr teilgenommen hat, nimmt mindestens an der Verlosung des 9. Grundeinkommens am 22. März teil.
<br><br>

Die Grundeinkommens-Vergabe passiert über ein Gewinnspiel.<br><br>

Alle User, die am Gewinnspiel teilnehmen haben, finden auf ihrer Profilseite ihre Losnummer und ggf. die Losnummern ihrer Kinder.

<br><br>
Auch die Losnummern aller anderen Teilnehmer_innen sind öffentlich auf ihren jeweiligen Profilseiten einsehbar.

<br><br>
Die Losnummern wurden per Zufall vergeben. Der Programmier-Quellcode für die Zufallszahlen findet sich <a href="https://github.com/bohemeyer/meingrundeinkommen/blob/master/lib/tasks/chances.rake">hier</a>.
<br><br>
Am 20.02.2015 zwischen 21.45 und 23.10 Uhr findet die erste Auslosung im Rahmen der Talkshow "Kölner Treff" im WDR-Fernsehen statt. Es wird ein Glücksrad gedreht. Mit jeder Drehung wird eine Ziffer der Gewinner-Losnummern festgestellt.
<br><br>

Die Losnummern bestehen aus drei Ziffern. Die ersten beiden Ziffern sind eine Zahl zwischen 1 und 61. Die dritte Ziffer ist ein Zahlenbereich, der 12 Zahlen umfasst, z. B. 1-12 oder 13-24 etc.
<br><br>
Eine Losnummer lautet also z. B.<br>
25|18|37-48
<br><br>
Diese Losnummer hat gewonnen, wenn das Glücksrad in der ersten Drehung bei der Zahl 25 stehenbleibt, bei der zweiten Drehung bei der Zahl 18, und bei der dritten Drehung bei einer Zahl zwischen 13 und 24.
<br><br>
Die Auslosung ist öffentlich. Sie wird hier per Video-Livestream übertragen.
<br><br>
Alle Angaben auf dieser Seite sind ohne Gewähr, da es zu fehlerhafter Datenübertragung oder Darstellung kommen kann. Es gelten die Ergebnisse, die im Video-Livestream genannt werden.

</div>