
<div class="container" style="padding:20px;">
	<h2>Een basisinkomen is:</h2>
	<ul class="styled">
		<li>ca. 1000 Euro per maand, voor alle mensen.</li>
		<li>Zonder voorwaarden, ook als aanvulling op inkomen uit arbeidt</li>
		<li>Gefiancieerd door private en publieke instellingen</li>
	</ul>
	<p class="margin-top-20">Een basisinkomen maakt je onafhankelijk, en geeft je de gelegenheid te investeren.<br>
	Door de zekerheid om in de vaste lasten te kunnen voorzien, heeft men de vrijheid te  &amp; ontwikkelen.</p>
</div>