<h2>Grundeinkommen bedeutet</h2>
<ul>
<li>ca. 1000 Euro monatlich für alle Menschen</li>
<li>ohne Bedingungen</li>
<li>zusätzlich zum Erwerbseinkommen</li>
<li>finanziert über Einkommens-/Gewinnsteuern, Umsatzsteuer, Transaktions- und/oder Vermögenssteuern</li>
</ul>
<p>Grundeinkommen macht glücklich. Weil es bedingungslos ist. Und dir
Freiheit schenkt - echten Freiraum, in dem du selbst bestimmst, wie dein
Beitrag zur Gesellschaft aussieht.</p>
<p>Mit der Sicherheit eines monatlichen Einkommens im Rücken hast du die Nase im Wind &amp; den Kopf frei.</p>
