
<!-- Slider Start-->
<div class="fullwidthbanner-container" style="padding-bottom:10px;padding-top:50px;">
   <div class="fullwidthbanner rslider">
      <div class="container">
        <div class="col-md-12 text-center">


<h4 style="color:white">Die Auslosung heute im <a style="color:white" class="infolink" href="http://www1.wdr.de/fernsehen/unterhaltung/koelnertreff/sendungen/stand-up-comedienne-schlagersaenger-und-dompropst-100.html">Kölner Treff (WDR)</a></h4>
<h1 class="title_headline">Wer gewinnt das 8. Grundeinkommen?</h1>
        </div>

         <div class="row text-center" style="margin-bottom:50px;">

               <a class="btn btn-grey btn-pad" ng-click="verlosung_erklaert()">So funktioniert die Auslosung</a>
           <div class="clearfix"></div>
         </div>

      </div>
   </div>
</div>
<!-- Slider End-->
<!-- Slogan Start-->


<div class="slogan bottom-pad-small" style="padding-top:30px">
   <div class="container">


      <div class="row text-center" ng-repeat="current_drawing in drawings">
        <h1>Das {{8+$index}}. Grundeinkommen geht an*:</h1>

        <div class="col-md-12  text-center" >

          <div ng-if="current_drawing.user">
            <div class="testimonial-image-medium">
              <a href="/menschen/{{current_drawing.user.id}}">
                <img src="{{current_drawing.user.avatar.url}}">
              </a>
            </div>
            <a ng-if="current_drawing.isChild == 0" href="/menschen/{{current_drawing.user.id}}">{{current_drawing.user.name}}</a>
            <a ng-if="current_drawing.isChild == 1" href="/menschen/{{current_drawing.user.id}}">{{current_drawing.childName}} (Kind von {{current_drawing.user.name}})</a>

          </div>
            <br>
            <div class="margin-top:30">Losnummer:</div>
            <br>
            <alert ng-if="current_drawing.number.length > 1 && current_drawing.niete">NIETE</alert>
            <br><div class="margin-top-30 row">
             <span style="margin-left:10px;" ng-repeat="diget in current_drawing.digets | limitTo: 3" class="well huge"><span ng-if="current_drawing.done || (current.user && current.user.admin)">{{diget.value}}</span><i ng-if="!diget.value || (!current_drawing.done && !(current.user && current.user.admin))" class="fa fa-refresh" style="color:#ccc"></i></span>

            </div>
            <br>
            <br>
            <p>* alles ohne Gewähr</p>
            <br>
        <!--   <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
          <p><b>Hast du gewonnen?</b> Dann ruf am besten sofort auf der Verlosungsparty an, damit wir dich interviewen können. Per Telefon: 030 / 6483 5996
            oder per Skype: mein.grundeinkommen</p>
          </div>
        </div> -->

            <!-- <h3 style="margin-bottom:0px;margin-top:10px;" ng-repeat="o in own_codes" class="margin-top-20"><span ng-if="!o.isChild">Deine </span>Losnummer<span ng-if="o.isChild"> deines Kindes</span>: {{o.code}}</h3> -->



            <!-- <div ng-show="current_drawing.potentials">
              <h2>Wer gewinnt?</h2>
              <div class="row">
                <div class="col-md-2" ng-repeat="(key, p) in current_drawing.potentials">
                  <span class="big">{{key}}</span>
                  <div class="testimonial-image">
                    <a href="/menschen/{{p.id}}" popover-trigger="mouseenter" popover="{{p.name}}">
                      <img alt="" ng-src="{{p.avatar.thumb.url}}">
                    </a>
                  </div>
                  <a href="/menschen/{{p.id}}">{{p.name}}</a><span ng-if="p=='niete'">NIETE</span>
                </div>
              <div class="clearfix"></div>
            </div>
            </div> -->

        </div>

      </div>

   </div>
</div>
  </div>


<div class="container">
            <div class="col-md-12 text-center">

               <h2 class="slogan-title margin-top-30">

                Hast du nicht gewonnen?<br>
                Vielleicht klappt's beim 8. Grundeinkommen:

              </h2>

               <div class="progress margin-top-20" style="font-size: 25px;font-weight: 600;line-height: 37px;">

                  <div class="progress-bar colored" role="progressbar" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100" style="width: {{home.percentage}};">
                     <span ng-hide="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>
                  </div>
                     <span ng-show="home.percentageRaw < 50"><i class="icon-time"></i> {{home.amount}} von 12.000€</span>

               </div>

                  <a href="/support"  analytics-on="click" analytics-event="Link zu Startnext geklickt" class="btn btn-special btn-color btn-large margin-top-30"><i class="icon-heart"></i> Jetzt unterstützen!</a>

<br><br><br><br><br><br>
</div>

</div>