<div class="container margin-top-70">
	<div class="row">
		<div class="col-md-6">
			<h1>Mit einem <a href="#" class="infolink" ng-click="bge_info()">Grundeinkommen</a> würden diese {{wish.count}} Menschen <b>{{wish.wish.they}}</b></h1>

			<a ng-click="me_too(wish)" analytics-on="click" analytics-event="geklickt: Ich auch (Vorhaben-Seite oben)" href="#" class="btn-large btn-pad " ng-class="{disabled: wish.meToo, 'btn-grey': wish.meToo, 'btn-color': !wish.meToo}" style="width:90%;text-align:center">
                     <span ng-show="wish.meToo">
                        <i class="icon-check"></i> Du auch!
                     </span>
                     <span ng-hide="wish.meToo">
                        <i class="icon-lightbulb"></i> Ich auch!
                     </span>

                   </a>
      <a href="/support" class="btn-small btn-grey btn-pad " style="width:90%;text-align:center"><i class="icon-heart"></i> Das will ich ihnen ermöglichen!</a>

		</div>
		<div class="col-md-6">
			<div ng-repeat="user in users | limitTo:40" class="testimonial-image "><a href="/menschen/{{user.id}}" popover-trigger="mouseenter" popover="{{user.name}}"><img alt="" ng-src="{{user.avatar.avatar.thumb.url}}"></a></div>
		</div>
	</div>
	<h3 class="title">&nbsp;</h3>
	<div class="row">
    <p class="text-center" ng-if="stories.length == 0"><i>bisher keine Geschichten dazu.</i></p>
		<div class="col-md-12" ng-if="stories">
			<h2>Neueste Geschichten dazu</h2>

      <ul class="listbox">
               <li ng-repeat="story in stories" ng-animate="'animate'">
                  <div class="pull-left" style=" padding-top: 10px;
    text-align: center;
    width: 91px;padding:5px;line-height:19px">
                     <i class="icon-time"></i> vor {{story.timeAgo}}
                  </div>

                  <div class="pull-left">
                     <div class="testimonial-image "><img alt="" ng-src="{{story.user.avatar.avatar.thumb.url}}"></div>
                  </div>


                  <div class="textblock">
                     <a href="/menschen/{{story.user.id}}">{{story.user.name}}</a>
                     <b>würde {{story.heText}}</b>

                    <p ng-show="story.story"><br>{{story.story}}
                    </p>
                  </div>

               </li>

             </ul>
		</div>
	</div>
	<h3 class="title">&nbsp;</h3>
  <div class="row" ng-if="users_also_wish.length > 0">
         <div class="col-md-12">
            <h2 class="text-center">Menschen, die {{wish.wish.they}} würden, würden außerdem:</h2>

            <ul class="listbox">
               <li ng-repeat="wish in users_also_wish | limitTo: limit_wishes ? 25 : 5">
                  <div class="pull-left">
                     <div class="testimonial-image "><img alt="" ng-src="{{wish.user.avatar.avatar.thumb.url}}"></div>

                  </div>

                   <a ng-click="me_too(wish)" analytics-on="click" analytics-event="geklickt: Ich auch (Vorhaben-Seite unten)" href="#" class="btn-normal btn-pad pull-right" ng-class="{disabled: wish.meToo, 'btn-grey': wish.meToo, 'btn-color': !wish.meToo}">
                     <span ng-show="wish.meToo">
                        <i class="icon-check"></i> Du auch!
                     </span>
                     <span ng-hide="wish.meToo">
                        <i class="icon-lightbulb"></i> Ich auch!
                     </span>

                   </a>

                   <a  href="/mit-grundeinkommen-wuerde-ich/{{wish.wishUrl}}/{{wish.wishId}}" class="edit_button_hidden btn-normal btn-pad pull-right btn-grey"><i class="icon-angle-right"></i> ansehen
                   </a>

                  <div class="textblock"><a href="/menschen/{{wish.user.id}}">{{wish.user.name}}</a>
                     <span ng-show="wish.othersCount > 0"> und <b>{{wish.othersCount}}</b> andere würden</span>

                     <span ng-show="wish.othersCount == 0"> würde</span>

                     <br><a style="font-size:18px" href="/mit-grundeinkommen-wuerde-ich/{{wish.wishUrl}}/{{wish.wishId}}">{{wish.wish.they}}</a></div>

               </li>

            </ul>
            <div class="text-center">
               <a ng-show="users_also_wish.length > 5" ng-click="limit_wishes = !limit_wishes" href="#" class="btn-grey btn-small btn-pad"><i ng-class="{'icon-caret-down': !limit_wishes, 'icon-caret-up': limit_wishes}"></i> <span ng-show="limit_wishes">Weniger</span><span ng-show="!limit_wishes">Mehr</span> anzeigen</a>

            </div>

         </div>

      </div>
</div>